{**********************************************************************
 * DiscountCenter product developed. (2015-11-27)
 * *
 *
 *  CREATED BY MODULESGARDEN       ->       http://modulesgarden.com
 *  CONTACT                        ->       contact@modulesgarden.com
 *
 *
 * This software is furnished under a license and may be used and copied
 * only  in  accordance  with  the  terms  of such  license and with the
 * inclusion of the above copyright notice.  This software  or any other
 * copies thereof may not be provided or otherwise made available to any
 * other person.  No title to and  ownership of the  software is  hereby
 * transferred.
 *
 *
 **********************************************************************}

{**
* @author Paweł Kopeć <pawelk@modulesgarden.com>
*}
<button  data-toggle="tooltip" type="button"  data-modal-action="toggle" data-modal-target="{$id}" 
        class="btn btn-sm btn-primary buttonInGroup" title="{$MGLANG->T('actionButtons','Toggle Status')}"><i class="glyphicon glyphicon-off"></i>
</button>
<a href="addonmodules.php?module=DiscountCenter&mg-page=discounts&mg-action=editDiscount&id={$id}" data-toggle="tooltip" class="btn btn-sm btn-warning buttonInGroup"
   title="{$MGLANG->T('actionButtons','edit')}"> <i class="glyphicon glyphicon-pencil"></i>
</a>
<button  data-toggle="tooltip" type="button"  data-modal-id="mg-modal-delete-discount" data-modal-target="{$id}" 
        class="btn btn-sm btn-danger buttonInGroup" title="{$MGLANG->T('actionButtons','delete')}"><i class="glyphicon glyphicon-remove"></i>
</button>