<div class="lu-widget">
    {if ($rawObject->getRawTitle() || $rawObject->getTitle()) && $rawObject->isViewHeader()}
        <div class="lu-widget__header">
            <div class="lu-widget__top lu-top">
                <div class="lu-top__title">
                    {if $rawObject->getIcon()}<i class="{$rawObject->getIcon()}"></i>{/if}
                    {if $rawObject->isRawTitle()}{$rawObject->getRawTitle()}{elseif $rawObject->getTitle()}{$MGLANG->T($rawObject->getTitle())}{/if}
                </div>
            </div>
        </div>    
    {/if}
    <div class="lu-widget__body">
        <div class="lu-widget__content">
            {if $rawObject->haveInternalAlertMessage()}
                <div class="lu-alert {if $rawObject->getInternalAlertSize() !== ''}lu-alert--{$rawObject->getInternalAlertSize()}{/if} alert-{$rawObject->getInternalAlertMessageType()} alert--faded">
                    <div class="lu-alert__body">
                        {if $rawObject->isInternalAlertMessageRaw()|unescape:'html'}{$rawObject->getInternalAlertMessage()}{else}{$MGLANG->T($rawObject->getInternalAlertMessage())|unescape:'html'}{/if}
                    </div>
                </div>
            {/if}
            {if $rawObject->getElementById('sectionDescription')}
                {$rawObject->insertElementById('sectionDescription')}
            {/if}
            <div class="lu-row">
                {if $rawObject->getSections()}
                    {foreach from=$rawObject->getSections() item=section }
                        {$section->getHtml()}
                    {/foreach}  
                {else}
                    <div class="lu-col-md-6 lu-p-r-4x">
                        {foreach from=$rawObject->getFields() item=field }
                            {$field->getHtml()}
                        {/foreach}
                    </div>
                {/if}
            </div>
        </div>
    </div>
</div>
