<h2>Are you sure you want to delete this email ?</h2>
<div class="ngdialog-buttons text-center">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">No</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(1)">Yes</button>
</div>