    <form class="form-horizontal" name="fieldsMapperForm"  ng-submit="fieldsMapperFormSubmit()" style="min-width: 100px;" block-ui="FieldsMapperBlock">

        <div class="container-fluid raw">
            <div class="box light bordered">
                <div class="box-title">
                    <div class="caption">
                        <span class="bold uppercase">
                            {{ 'settings.fields.map.widget.standard' | translate }}
                        </span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">

                    <fieldset>
                        <div class="row">
                            <div class="form-group col-sm-6" ng-repeat="field in staticWHMCSfields">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label primary-font" for="field_{{ field.key }}">
                                        {{ field.name }}
                                    </label>
                                </div>
                                <div class="col-sm-8">

                                    <select class="form-control" id="field_{{ field.key }}" ng-model="map.static[field.key]">
                                        <optgroup label="Static">
                                            <option ng-repeat="f in AllFields.static" value="{{ f }}">{{ f }}</option>
                                        </optgroup>
                                        <optgroup label="Custom">
                                            <option ng-repeat="f in AllFields.fields" value="{{ f.id }}">#{{ f.id }} {{ f.name }}</option>
                                        </optgroup>

                                    </select>

                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        
        
        <div class="container-fluid raw">
            <div class="box light bordered">
                <div class="box-title">
                    <div class="caption">
                        <span class="bold uppercase">
                            {{ 'settings.fields.map.widget.custom' | translate }}
                        </span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">

                    
                    <fieldset ng-show="WHMCScustomFields.length">
                        <div class="row">
                            <div class="form-group col-sm-6" ng-repeat="field in WHMCScustomFields">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label primary-font" for="field_{{ field.id }}">
                                        {{ field.fieldname }}
                                    </label>
                                </div>
                                <div class="col-sm-8">

                                    <select class="form-control" id="field_{{ field.id }}" ng-model="map.custom[field.id]">
                                        <optgroup label="Static">
                                            <option ng-repeat="f in AllFields.static" value="{{ f }}">{{ f }}</option>
                                        </optgroup>
                                        <optgroup label="Custom">
                                            <option ng-repeat="f in AllFields.fields" value="{{ f.id }}">#{{ f.id }} {{ f.name }}</option>
                                        </optgroup>

                                    </select>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                    
                    <h3 class="no-margin-top text-center" ng-hide="WHMCScustomFields.length">
                        {{ 'settings.fields.map.no.custom.fields' | translate }}
                    </h3>


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 text-center">
                <p>
                    <button 
                            ng-disabled="fieldsMapperForm.$invalid"
                            type="submit"
                            class="btn btn-success btn-inverse">
                        {{ 'form.update' | translate }}
                    </button>   
                </p>
            </div>
        </div>
    </form >