<div ng-show="cached.campaigns.length && IsItArchive != true" class="pull-right form-group" style="position: absolute; top: 10px; right: 15px;">

    <div ng-show="cached.campaigns.length" class="pull-right form-group" style="margin-left: 15px;">
        <div class="pull-left control-label" style="padding-top: 5px; padding-right: 10px;">
            <label for="select-admin-to-preview" class="primary-font font-sm thin">
                {{ ::('campaigns.changable.in.header'| translate) }}
            </label>
        </div>
        <div class="pull-left">
            <select class="form-control input-sm" id="select-admin-to-preview" ng-model="requestCampaign" convert-to-number>
                <option value="">{{ ::('campaigns.changable.noy.in.any'| translate) }}</option>
                <option ng-repeat="c in cached.campaigns" value="{{ ::c.id}}">{{ ::c.name}}</option>
            </select>
        </div>
    </div>
</div>

<div class="box light" ng-show="scopeMessages.length">
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>
            </div>
        </div>
    </div>
</div>

<div st-pipe="callServer" st-persist="persistName" st-table="displayed">
    <div class="box light">
        <div class="box-title">
            <div class="caption">
                <div id="mass-action-select" style="margin-right: 35px; float: left;">
                    <div class="btn-group" style='height: 34px;' dropdown>
                        <button ng-disabled="showMassAction === false" type="button" style='height: 34px;' class="btn btn-info " dropdown-toggle aria-expanded="false">{{ 'resource.text.massaction' | translate }}&nbsp;<i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="split-button">
                            <li><a href="javascript:;" ng-click="changeDateConfirm()">{{ 'resource.text.massaction.changeDate' | translate }}&nbsp;</a></li>
                            <li class="dropdown-submenu">
                                <a href="javascript:;" onclick='return;' aria-expanded="false">{{ 'resource.text.massaction.changePriority' | translate }}&nbsp;</a>
                                <ul class="dropdown-menu" role="submenu" aria-labelledby="split-button">
                                    <li><a href="javascript:;" ng-click="changePriority(1)"><span class="label label-default">{{ 'priority.low' | translate }}</span></a></li>
                                    <li><a href="javascript:;" ng-click="changePriority(2)"><span class="label label-warning">{{ 'priority.medium' | translate }}</span></a></li>
                                    <li><a href="javascript:;" ng-click="changePriority(3)"><span class="label label-info">{{ 'priority.important' | translate }}</span></a></li>
                                    <li><a href="javascript:;" ng-click="changePriority(4)"><span class="label label-danger">{{ 'priority.urgent' | translate }}</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:;" onclick='return;' aria-expanded="false">{{ 'resource.text.massaction.removeTo' | translate }}&nbsp;</a>
                                <ul class="dropdown-menu" role="submenu1" aria-labelledby="split-button">
                                    <li ng-repeat="t in contactTypes| filter:{active:true}:true" ng-if="hasAccess('resources.convert')">
                                        <a href="javascript:;" ng-click="removeToConfirm(t.id, t.name)">
                                            <i ng-class="t.icon" ng-show="t.icon" ng-style="t.color && {'color':t.color}"></i> {{ t.name}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:;" onclick='return;' aria-expanded="false">{{ 'resource.text.massaction.changeStatusTo' | translate }}&nbsp;</a>
                                <ul class="dropdown-menu" role="submenu2" aria-labelledby="split-button">
                                    <li ng-repeat="status in cached.statuses">
                                        <a href="javascript:;" ng-click="changeStatusTo(status.id)"><span ng-bind-html="getStatusLabel(status.id)"></span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:;" onclick='return;' aria-expanded="false">{{ 'resource.text.massaction.assignTo' | translate }}&nbsp;</a>
                                <ul class="dropdown-menu" role="submenu3" aria-labelledby="split-button">
                                    <li ng-repeat="admin in cached.admins" ng-if='currentAdminID != admin.id'>
                                        <a href="javascript:;" ng-click="assignToConfirm(admin.id, admin.firstname + ' ' + admin.lastname)">{{ admin.firstname + " " + admin.lastname}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="javascript:;" ng-click="rescheduleConfirm()">{{ 'resource.text.massaction.reschedule' | translate }}&nbsp;</a></li>
                            <li><a href="javascript:;" ng-click="rescheduleOnAdminConfirm()">{{ 'resource.text.massaction.rescheduleOnAdmin' | translate }}&nbsp;</a></li>
                            <li><a href="javascript:;" ng-if="hasAccess('resources.untrash')" ng-show="IsItArchive" ng-click="restoreFromArchiveClients()">{{ 'resource.text.massaction.restoreFromArchive' | translate }}&nbsp;</a></li>
                            <li><a href="javascript:;" ng-if="hasAccess('resources.trash')" ng-hide="IsItArchive" ng-click="moveToArchiveClients()">{{ 'resource.text.massaction.moveToArchive' | translate }}&nbsp;</a></li>
                            <li><a href="javascript:;" ng-click="deleteClients()">{{ 'resource.text.massaction.delete' | translate }}&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
                <div id="tableSearchContainer" style="width: 300px; margin-right: 35px; float: left;">
                    <div class="input-group">
                        <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                        <input st-search placeholder="{{ 'form.search.placeholder' | translate }}" id="main-table-global-search" class="form-control" type="search" style="border-color: #e5e5e5;" />
                        <span class="input-group-btn">
                            <button class="btn btn-flat" ng-class="{'active': displayFilters == true}" ng-click="displayFilters = !displayFilters" type="button" style="height: 34px;"><i class="fa fa-filter"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="actions" style="padding-right: 11px; top: 17px;">
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped table-hover align-vertical" id="leadsTable" highlight-active-table-header="border-bottom-red">
                <thead>
                    <tr>
                        <!--<th></th>-->
                    <th>
                        <input style='margin-top: 2px;' class='form_field checkbox' type='checkbox' ng-model="massactionAll">
                    </th>
                    <th ng-repeat="column in tableColumnsParsed" st-sort="{{ column.id}}" st-sort-default="{{column.sort}}">
                        {{ (column.fieldType == 'static') ? ('staticfields.' + column.name | translate) : (column.name)}}
                    </th>
                    <th>{{ 'table.th.actions' | translate }}</th>
                    </tr>
                    <tr ng-show="displayFilters">
                        <!--<th></th>-->
                    <th></th>
                    <th ng-repeat="column in tableColumnsParsed">

                        <div ng-if="column.fieldType == 'static'">

                            <div ng-switch="column.name">

                                <div ng-switch-when="status">
                                    <select st-search="status_id" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option ng-if="a.active" ng-repeat="a in $parent.$parent.cached.statuses" value="{{ a.id}}">{{ a.name}}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="id">
                                    <input st-search="id" type="number" min="0" class="form-control input-sm" style="width: 70px;"/>
                                </div>
                                <div ng-switch-when="admin">
                                    <select st-search="admin_id" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option ng-repeat="a in $parent.$parent.cached.admins" value="{{ a.id}}">{{ a.full}}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="client" style="width: 215px;">

                                    <input st-search="client_id" id="awesome-hiddenc-lient-search" type="hidden" ng-value="$parent.$parent.dummysearchforclient"/>

                                    <ui-select ng-model="$parent.$parent.$parent.dummysearchforclient" focus-on='setFocusClient' on-select="ForceUpdateSearchForClient()">
                                        <ui-select-match placeholder="Search Client" allow-clear="true">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="client.id as client in searchedClients | filter: $select.search"
                                                           refresh="refreshClietns($select.search)"
                                                           refresh-delay="0">
                                            <div ng-bind-html="('<b>#'+client.id + '</b> ' + client.name) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div ng-switch-when="priority">
                                    <select st-search="priority" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option value="1">{{ 'priority.low' | translate }}</option>
                                        <option value="2">{{ 'priority.medium' | translate }}</option>
                                        <option value="3">{{ 'priority.important' | translate }}</option>
                                        <option value="4">{{ 'priority.urgent' | translate }}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="labels">
                                    <select st-search="labels" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option ng-repeat="a in $parent.$parent.cached.labels" value="{{ ::a.id}}">{{ ::a.name}}</option>
                                    </select>
                                </div>

                                <div ng-switch-when="country">
                                    <select st-search="country" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option ng-repeat="a in $parent.$parent.country" value="{{ ::a.code}}">{{ ::a.name}}</option>
                                    </select>
                                </div>

                                <input ng-switch-default st-search="{{ (column.fieldType == 'static') ? column.name : column.id}}"  class="form-control input-sm"/>
                            </div>
                        </div>
                        <div ng-if="column.fieldType == 'dynamic'">

                            <div ng-switch="column.type">

                                <div ng-switch-when="select">
                                    <select st-search="{{ ::column.id}}" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option ng-repeat="o in column.options" value="{{ ::o.id}}">{{ ::o.value}}</option>
                                    </select>
                                </div>

                                <div ng-switch-when="radio">
                                    <select st-search="{{ ::column.id}}" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option ng-repeat="o in column.options" value="{{ ::o.id}}">{{ ::o.value}}</option>
                                    </select>
                                </div>

                                <div ng-switch-when="checkbox">
                                    <select st-search="{{ ::column.id}}" st-input-event="change" class="form-control input-sm">
                                        <option value="">{{ 'form.any' | translate }}</option>
                                        <option ng-repeat="o in column.options" value="{{ ::o.id}}">{{ ::o.value}}</option>
                                    </select>
                                </div>

                                <input ng-switch-default st-search="{{ column.id}}"  class="form-control input-sm"/>
                            </div>
                        </div>



                    </th>
                    <th></th>
                    </tr>
                </thead>
                <tbody block-ui="leadsTableBlock">
                    <tr ng-repeat="row in displayed" class="showOnMouseOverContainer">
                        <!--<td cs-select="row"></td>-->
                    <td>
                        <input style='margin-top: 2px;' class='form_field checkbox' type='checkbox' ng-checked="massactionAll" ng-model="massaction[row.id]">
                    </td>
                    <td ng-repeat="column in tableColumnsParsed"    style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                        <div ng-if="column.fieldType == 'static'" ng-switch="column.name">

                            <div ng-switch-when="name">
                                <a ui-sref="contacts.details.summary({id: row.id })">{{ ::row.name}}</a>
                            </div>
                            <div ng-switch-when="lastname">
                                <a ui-sref="contacts.details.summary({id: row.id })">{{ ::row.lastname}}</a>
                            </div>
                            <div ng-switch-when="email">
                                {{ ::row.email}}
                                <a  ng-show="row.email" type="button" class="btn btn-icon-only btn-xs btn-primary pull-right showOnMouseOver"  ui-sref="contacts.details.emails({id: row.id })">
                                    <i class="icon-envelope-letter"></i>
                                </a>
                                <small class="text-muted" ng-hide="row.email">{{ 'text.empty' | translate }}</small>
                            </div>
                            <div ng-switch-when="phone">
                                {{ ::row.phone}}
                                <a ng-show="row.phone" type="button" ng-click="whatsappGetURL(row.phone)"><i  class="fa fa-whatsapp"></i></a>
                                <a ng-click="openAsterishWidget(row.phone)" ng-show="row.phone && settings.config.integrations.asterisk" type="button" class="btn btn-icon-only btn-xs btn-primary pull-right showOnMouseOver">
                                    <i class="icon-call-end"></i>
                                </a>
                                <small class="text-muted" ng-hide="row.phone">{{ 'text.empty' | translate }}</small>
                            </div>
                            <div ng-switch-when="status">
                                <span ng-bind-html="getStatusLabel(row.status_id)"></span>
                            </div>
                            <div ng-switch-when="labels">
                                <span ng-if="row.labels != null" ng-bind-html="getLabelItems(row.labels)"></span>
                                <small ng-if="row.labels == null" class="text-muted">{{ 'text.empty' | translate }}</small>
                            </div>
                            <div ng-switch-when="ticket">
                                <a ng-show="row.ticket_id" href="supporttickets.php?action=view&id={{ ::row.ticket_id}}" target="_blank">#{{ ::row.ticket}}</a>
                                <small class="text-muted" ng-hide="row.ticket_id">{{ 'text.not.assigned' | translate }}</small>
                            </div>
                            <div ng-switch-when="client">
                                <a ng-if="row.client_id" href="clientssummary.php?userid={{ row.client_id}}" target="_blank">#{{ row.client_id}} {{ getRowData(row, column)}}</a>
                                <small class="text-muted" ng-if="!row.client_id">{{ 'text.not.assigned' | translate }}</small>
                            </div>
                            <div ng-switch-when="priority">
                                <span class="label" style="display: inline-block;" 
                                      ng-class="(row.priority == 2) ? 'label-warning' :
                                              (row.priority == 3) ? 'label-info' :
                                              (row.priority == 4) ? 'label-danger' : 'label-default'">
                                    {{  (row.priority == 2) ? ('priority.medium' | translate) :
                                            (row.priority == 3) ? ('priority.important' | translate) :
                                            (row.priority == 4) ? ('priority.urgent' | translate) : ('priority.low' | translate)
                                    }}
                                </span>
                            </div>
                            <div ng-switch-when="country">
                                <span ng-show="row.country" ng-bind-html="findCountry(row.country)"></span>
                                <small class="text-muted" ng-hide="row.country">{{ 'text.not.assigned' | translate }}</small>
                            </div>

                            <span ng-switch-default>{{ getRowData(row, column)}}</span>
                        </div>
                        <div ng-if="column.fieldType == 'dynamic'" ng-switch="column.type">
                            <div ng-switch-when="phone">
                                {{ ::getRowData(row, column)}}
                                <a ng-show="row.phone" type="button" ng-click="whatsappGetURL(row.phone)"><i  class="fa fa-whatsapp"></i></a>
                                <a ng-click="openAsterishWidget(getRowData(row, column))" ng-show="getRowData(row, column) && settings.config.integrations.asterisk" type="button" class="btn btn-icon-only btn-xs btn-primary pull-right showOnMouseOver">
                                    <i class="icon-call-end"></i>
                                </a>
                                <small class="text-muted" ng-hide="getRowData(row, column)">{{ 'text.empty' | translate }}</small>
                            </div>

                            <span ng-switch-default>
                                {{ ::getRowData(row, column)}}
                            </span>
                        </div>
                    </td>

                    <td class="text-left">
                        <div class="btn-group btn-group-sm" dropdown>
                            <button type="button" class="btn btn-info btn-icon-only" ui-sref="contacts.details.summary({id: row.id })" style="height: 26px;">
                                <i class="icon-note"></i>
                            </button>
                            <button ng-hide="!hasAccess('resources.convert') && !hasAccess('resources.trash') && !hasAccess('resources.untrash')" type="button" class="btn btn-info " dropdown-toggle aria-expanded="false" ng-disabled="disabled"><i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="split-button">

                                <li ng-repeat="t in contactTypes| filter:{active:true}:true" ng-if="hasAccess('resources.convert')">
                                    <a href="#" ng-click="convertToType(row.id, t.id)" ng-hide="row.type_id == t.id" ng-if="!row.deleted_at">
                                        <i ng-class="t.icon" ng-show="t.icon" ng-style="t.color && {'color':t.color}"></i>
                                        {{ 'resource.text.convert.to' | translate }} <strong>{{ t.name}}</strong>
                                    </a>
                                </li>

                                <li ng-if="!row.deleted_at" class="divider">
                                </li>
                                <li>
                                    <a ng-if="hasAccess('resources.trash')" ng-hide="row.deleted_at" ng-click="deleteResource(row.id)" class="font-red"><i class="icon-trash font-red"></i> {{ 'resource.text.convert.delete' | translate }}</a>
                                    <a ng-if="hasAccess('resources.untrash')" ng-show="row.deleted_at" ng-click="restoreResource(row.id)" class="font-red"><i class="icon-trash font-red"></i> {{ 'resource.text.convert.restore' | translate }}</a>
                                </li>
                                <li>
                                    <a ng-click="forceDeleteResource(row.id)" class="font-red"><i class="icon-trash font-red"></i> {{ 'resource.text.force.delete' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                    <tr ng-hide="displayed.length">
                    <td colspan="{{ tableColumnsParsed.length + 1}}">
                        <h4 class="text-center">
                            {{ 'table.empty.msg' | translate }}
                        </h4>
                    </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <td colspan="{{ tableColumnsParsed.length + 2}}" class="text-left">

                    <span ng-hide="itemsLastNr == 0">
                        {{ 'table.pagination.display' | translate }} 

                        <div class="btn-group btn-group-xs btn-group-solid">
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                        </div>

                        {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr}} {{ 'table.pagination.to' | translate }} {{ itemsLastNr}} {{ 'table.pagination.of' | translate }} {{ itemsTotal}} {{ 'table.pagination.entries' | translate }}

                    </span>

                    <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                    </div>

                    </td>
                    </tr>
                    <tr class="hidden">
                    <td>
                        <input st-search="" id="globalSearchInput" ng-value="globalSearch" type="hidden" />
                    </td>
                    </tr>
                </tfoot>
            </table>	

        </div>
    </div>
</div>


