<div class="row" ng-controller="settingsAbstractGeneralController">
    <div class="col-md-12">
        <div class="box light bordered">
            <div class="box-title tabbable-line">
                <ul class="nav nav-tabs nav-left">

                    <li ui-sref-active-if="settings.general.overview" >
                        <a data-toggle="tab" ui-sref="settings.general.overview"  data-target="settings.general.overview">
                            {{ ::('settings.general.tab.overview' | translate) }}
                        </a>
                    </li>
                    <li ui-sref-active-if="settings.general.options" >
                        <a data-toggle="tab" ui-sref="settings.general.options"  data-target="settings.general.options">
                            {{ ::('settings.general.tab.settings' | translate) }}
                        </a>
                    </li>
                    <li ui-sref-active-if="settings.general.followups" >
                        <a data-toggle="tab" ui-sref="settings.general.followups"  data-target="settings.general.followups">
                            {{ ::('settings.general.tab.followups' | translate) }}
                        </a>
                    </li>
                    <li ui-sref-active-if="settings.general.label" ng-if="hasAccess('settings.general_label_view')" >
                        <a data-toggle="tab" ui-sref="settings.general.label"  data-target="settings.general.label">
                            {{ ::('settings.general.tab.label' | translate) }}
                        </a>
                    </li>
                    <li ui-sref-active-if="settings.general.api" >
                        <a data-toggle="tab" ui-sref="settings.general.api"  data-target="settings.general.api">
                            {{ ::('settings.general.tab.api' | translate) }}
                        </a>
                    </li>
                    
                </ul>
                

                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="box-body" block-ui="importexportBlock" style="min-height: 100px;">
                <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>

                <div ui-view></div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
