/* http://meyerweb.com/eric/tools/css/reset/  
   v2.0 | 20110126
   License: none (public domain)
*/

.body div, .body span, .body applet, .body object, .body iframe,
.body h1, .body h2, .body h3, .body h4, .body h5, .body h6, .body p, .body blockquote, .body pre,
.body a, .body abbr, .body acronym, .body address, .body big, .body cite, .body code,
.body del, .body dfn, .body em, .body img, .body ins, .body kbd, .body q, .body s, .body samp,
.body small, .body strike, .body strong, .body sub, .body sup, .body tt, .body var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}