

<h2>{{ 'board.add.labels.button' | translate }}</h2>

<br>


<form class="form-horizontal" novalidate ng-submit="FormSubmit()" role="form">
  
    <div class="form-group no-margin">
        <div class="col-sm-2 text-right">
            <label class="control-label primary-font">
                {{ 'text.select.labels.title' | translate }}
            </label>
        </div>
        <div class="col-sm-10">
            <ui-select ng-model="$parent.selectedLabel" class="form-control" style="padding: 0; border: 0;">
                <ui-select-match placeholder="{{ 'board.select.labels.placeholder' | translate }}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="label in selectLabels | filter: $select.search">
                    <p>
                        <small ng-bind-html="label.name | highlight: $select.search" class='label label-lg label-default' ng-style="{'background-color': ('#' + label.color), 'color' : invertColor('#' + label.color)}"></small>
                    </p>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    
    <br>
    
    <div class="ngdialog-buttons">
        <button type="submit" class="ngdialog-button ngdialog-button-primary">{{ 'form.add' | translate }}</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">{{ 'form.close' | translate }}</button>
    </div>
    
</form>




