<div class="tab-content">
    <div class="tab-pane active" id="box_tab1">
        <!--<div class="box light bg-inverse">-->
                <div class="row">
                    
                        <div ng-show="scopeMessages.length" class="col-md-12">
                            <note ng-repeat="m in scopeMessages" type="{{m.type}}" close="{{$index}}" dismiss="true"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>
                        </div>


                        <div class="col-md-12" ng-if="hasAccess('resources.allow_notes') && !isArchive()">

                            <div class="box light bordered">
                                <div class="box-title">
                                    <div class="caption">
                                        <span class="bold font-green uppercase">
                                            {{ ::('resource.notes.widget.name' | translate) }}
                                        </span>
                                    </div>
                                    <div class="actions">
                                        <a href="javascript:;" ng-show="newNoteVisible" ng-click="newNoteVisible=false" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                            <i class="fa fa-compress"></i>
                                        </a>
                                        <a href="javascript:;" ng-hide="newNoteVisible" ng-click="newNoteVisible=true" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only fullscreen">
                                            <i class="icon-size-fullscreen"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body" ng-show="newNoteVisible">
                                    
                                    <text-angular 
                                        ng-hide="newFormWorking" 
                                        ng-model="$parent.newNoteContent" 
                                        placeholder="{{ ::('resource.notes.content.placeholder' | translate) }}"
                                        ></text-angular>
                                    
                                    <div ng-show="newFormWorking"  class="text-center" style="min-height: 100px; position: relative;"><span class="mg-loader-flow active" style="position: absolute; top: 35%;"></span></div>
                                    
                                    
                                    <div class="col-md-12 text-center" style="padding-top: 10px;">
                                        <button ng-show="newNoteVisible" ng-hide="currentlyEditedID"  ng-disabled="!$parent.newNoteContent" ng-click="submitNoteForm()" type="button" class="btn btn-success btn-inverse icon-left">
                                            {{ ::('resource.notes.content.btn.add' | translate) }}
                                        </button>
                                        <button ng-show="currentlyEditedID" ng-click="submitEditedForm()" type="button" class="btn btn-success btn-inverse">
                                            {{ ::('resource.notes.content.btn.edit' | translate) }}
                                        </button>
                                        <button ng-show="currentlyEditedID" ng-click="cancelEditForm()" type="button" class="btn btn-danger btn-inverse">
                                            {{ ::('resource.notes.content.btn.cancel' | translate) }}
                                        </button>
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                
                                    
                                </div>
                            </div>


                        </div>


                        <div class="col-md-12">
                            <div class="box light bordered">
                                <div class="box-title">
                                    <div class="caption">
                                          <span class="bold font-red-thunderbird uppercase">
                                                {{ ::('resource.notes.list.widget' | translate) }}
                                          </span>
                                    </div>
                                    <div class="actions">
                                        
                                        <button ng-show="showHidden" type="button" class="btn btn-sm" ng-click="triggerShowHidden()">
                                            {{ ::('resource.notes.hide.hidden' | translate) }}
                                        </button>
                                        <button ng-hide="showHidden" type="button" class="btn btn-sm" ng-click="triggerShowHidden()">
                                            {{ ::('resource.notes.show.hidden' | translate) }}
                                        </button>
                                        
                                        <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only fullscreen">
                                            <i class="icon-size-fullscreen"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body" style="padding-top: 0;" block-ui="notesContainer">
                                    
                                    <div class="timeline">
                                        
                                        
                                        <!-- SINGLE TIMELINE ITEM -->
                                        <div class="timeline-item showOnMouseOverContainer" ng-repeat="note in notes" ng-hide="!showHidden && note.deleted_at">
                                            <div class="timeline-badge">
                                                <img ng-show="note.admin.avatar" class="timeline-badge-userpic" ng-src="{{ note.admin.avatar }}">
                                                <div ng-hide="note.admin.avatar" class="timeline-icon">
                                                    <i class="" ng-class="note.deleted_at ? 'font-grey icon-user-unfollow' : 'font-blue icon-user-following'"></i>
                                                </div>
                                            </div>
                                            
                                            <div class="timeline-body">
                                                <div class="timeline-body-arrow"></div>
                                                <div class="timeline-body-head">
                                                    
                                                    <div class="timeline-body-head-caption">
                                                        <a href="mailto:{{ note.admin.email }}" class="timeline-body-alerttitle font-green-haze">{{ note.admin.firstname }} {{ note.admin.lastname }}</a>
                                                        <small class="font-grey-cascade">{{ note.updated_at }}</small>
                                                        
                                                        <div ng-show="currentlyEditedID == note.id" class="label label-warning margin-left-10">{{ ::('resource.notes.editing' | translate) }}</div>
                                                        <div ng-show="note.deleted_at" class="label label-danger">hidden at: {{ note.deleted_at }}</div>
                                                    </div>
                                                    
                                                    <div class="timeline-body-head-actions" ng-if="!isArchive()">
                                                        <div class="btn-group btn-group-sm showOnMouseOver" ng-hide="currentlyEditedID == note.id">
                                                            <button type="button" class="btn btn-sm btn-primary " ng-click="triggerEditNote(note.id)">
                                                                {{ ::('resource.summary.notes.edit' | translate) }}
                                                            </button>
                                                            <button ng-hide="note.deleted_at" type="button" class="btn btn-sm btn-danger" ng-click="triggerDeleteNote(note.id, false)">
                                                                {{ ::('resource.summary.notes.hidde' | translate) }}
                                                            </button>
                                                            <button ng-show="note.deleted_at" type="button" class="btn btn-sm btn-success" ng-click="triggerRestoreNote(note.id)">
                                                                {{ ::('resource.summary.notes.unhide' | translate) }}
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-danger btn-inverse" ng-click="triggerDeleteNote(note.id, true)">
                                                                {{ ::('resource.summary.notes.delete' | translate) }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="timeline-body-content font-grey-cascade">
                                                    <div class="angular-with-newlines" ng-bind-html="note.content">
                                                        {{ note.content }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END SINGLE TIMELINE ITEM -->
                                                
                                        <div class="timeline-item showOnMouseOverContainer" ng-hide="notes.length">
                                            <div class="timeline-badge">
                                                <!--<img ng-show="note.admin.avatar" class="timeline-badge-userpic" src="http://dummyimage.com/80x80/000/fff">-->
                                                <div class="timeline-icon">
                                                    <i class="icon-direction font-grey-mint"></i>
                                                </div>
                                            </div>
                                            
                                            <div class="timeline-body">
                                                <div class="timeline-body-arrow"></div>
                                                <div class="timeline-body-content text-center" style="margin-top: 10px;">
                                                    <h3 class="font-grey-cascade no-margin">
                                                        There are no notes
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                                
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                </div>
            </div>
</div>