<note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>


<div class="box light bordered" ng-if="!isArchive()">
    <div class="box-title">
        <div class="caption">
            <span class="bold font-red-thunderbird uppercase">
                {{ ::('resource.files.widget.name'| translate) }}
            </span>
        </div>

        <div class="actions">
            <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
        </div>
    </div>
    <div class="box-body"  block-ui="uploadFileFormBox" style="min-height: 100px;">

        <div ng-show="uploadFileFormDone" class="note note-success">
            <button type="button" class="close" ng-click="closeNote()">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="note-title">{{ ::('text.success'| translate) }}</h4>
            <p>{{ ::('resource.files.added.success'| translate) }}</p>
        </div>

        <div ng-show="maxUploadFileSize" class="alert alert-info">
            {{ ::('resource.files.maxsize'| translate) }} : <strong>{{ maxUploadFileSize.size + " Byte = " + maxUploadFileSize.sizeString }}</strong>
        </div>

        <form class="form-horizontal" novalidate name="uploadFileForm" id="uploadFileForm"  ng-submit="uploadFileFormSubmit()" >
            <fieldset>
                <div class="form-group col-lg-6">
                    <div class="col-sm-4 control-label">
                        <label class="primary-font font-sm thin" for="filedescr">{{ ::('resource.files.form.description'| translate) }}</label>
                    </div>
                    <div class="col-sm-8 margin-top-10">
                        <textarea 
                            id="filedescr"
                            name="filedescr"
                            placeholder="{{ ::('resource.files.form.description.placeholder'| translate) }}" 
                            class="form-control vertical-textarea" 
                            ></textarea>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="col-sm-4 control-label">
                        <label class="primary-font font-sm thin" for="files">{{ ::('resource.files.form.select'| translate) }}</label>
                    </div>
                    <div class="col-sm-8 margin-top-10">
                        <input type="file" id="files" name="files" valid-file file-model="fileToUpload" ng-model="fileToUpload" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button 
                            ng-disabled="uploadFileForm.$invalid"
                            type="submit"
                            class="btn btn-success btn-inverse">
                            {{ ::('resource.files.form.btn.upload'| translate) }}
                        </button>   
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="clearfix"></div>


    </div>
</div>

<div st-pipe="callServer" st-table="displayed" >
    <div class="box light">
        <div class="box-title">
            <div class="caption">
                <span class="bold font-red-thunderbird uppercase pull-left" style="padding-top: 9px;">
                    {{ ::('resource.files.list.widget.name'| translate) }}
                </span>
                <div id="tableSearchContainer pull-left" style="width: 300px;" class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                        <input st-search="description" id="file-main-search" placeholder="{{ ::('form.search.placeholder'| translate) }}"  class="form-control" type="search" style="border-color: #e5e5e5;" />
                    </div>
                </div>
            </div>
            <div class="actions" style="padding-right: 11px; top: 17px;">
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped table-hover align-vertical" id="leadsTable" highlight-active-table-header="border-bottom-red">
                <colgroup>
                    <col width="80" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col ng-if="!isArchive()" width="150" />
                </colgroup>
                <thead>
                    <tr>
                    <th st-sort="id" st-sort-default="id">{{ ::('table.th.id'| translate) }}</th>
                    <th st-sort="file_name">{{ ::('resource.files.th.filename'| translate) }}</th>
                    <th st-sort="admin">{{ ::('resource.files.th.uploader'| translate) }}</th>
                    <th st-sort="created_at">{{ ::('resource.files.th.uploaded'| translate) }}</th>
                    <th st-sort="file_size">{{ ::('resource.files.th.filesize'| translate) }}</th>
                    <th st-sort="description">{{ ::('resource.files.th.description'| translate) }}</th>
                    <th ng-if="!isArchive()">{{ ::('table.th.actions'| translate) }}</th>
                    </tr>
                    <tr ng-show="displayFilters">
                    <th>
                        <input st-search="id" type="number" min="0" class="form-control input-sm"/>
                    </th>
                    <th>
                        <input st-search="file_name" type="text" class="form-control input-sm"/>
                    </th>
                    <th>
                        <select st-search="admin_id" st-input-event="change" class="form-control input-sm">
                            <option value="">{{ ::('form.any'| translate) }}</option>
                            <option value="0">{{ ::('text.system'| translate) }}</option>
                            <option ng-repeat="a in temp.admins" value="{{ ::a.id}}">{{ ::a.full}}</option>
                        </select>                        
                    </th>
                    <th>
                        <input st-search="created_at" type="text" class="form-control input-sm"/>
                    </th>
                    <th></th>
                    <th>
                        <input st-search="description" type="text" class="form-control input-sm"/>
                    </th>
                    <th ng-if="!isArchive()"></th>
                    </tr>
                </thead>
                <tbody block-ui="leadOrdersTable">
                    <tr ng-repeat="row in displayed">
                    <td class="">
                        {{ ::row.id}}
                    </td>
                    <td class="">
                        <a href="{{ ::settings.config.apiURL}}/lead/{{ ::row.resource_id}}/files/{{ ::row.id}}">
                            {{ ::row.file_name}}
                        </a>
                    </td>
                    <td class="">{{ ::row.admin.firstname}} {{ ::row.admin.lastname}}</td>
                    <td class="">{{ ::row.created_at}}</td>
                    <td class="">{{ ::row.file_size}}</td>
                    <td class="">
                        {{ ::row.description}}
                    </td>
                    <td ng-if="!isArchive()">

                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-icon-only btn-success" href="{{ ::settings.config.apiURL}}/lead/{{ ::row.resource_id}}/files/{{ ::row.id}}" target="_blank">
                                <i class="fa fa-download"></i>
                            </a>
                            <a class="btn btn-icon-only btn-danger" ng-click="triggerDeleteFile(row)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>

                    </td>
                    </tr>
                    <tr ng-hide="displayed.length">
                    <td colspan="{{ isArchive() ? '8':'9'}}" class="text-center">
                        <h4>{{ ::('table.empty.msg'| translate) }}</h4>
                    </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <td colspan="{{ isArchive() ? '8':'9'}}" class="text-left">

                    <span ng-hide="itemsLastNr == 0">
                        {{ 'table.pagination.display' | translate }} 

                        <div class="btn-group btn-group-xs btn-group-solid">
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                        </div>

                        {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr}} {{ 'table.pagination.to' | translate }} {{ itemsLastNr}} {{ 'table.pagination.of' | translate }} {{ itemsTotal}} {{ 'table.pagination.entries' | translate }}

                    </span>

                    <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                    </div>

                    </td>
                    </tr>
                </tfoot>
            </table>	

        </div>
    </div>
</div>
