

<h2>{{ ::('reminders.modal.details.header' | translate) }}{{ ngDialogData.followup.id }} 
        <button type="button" 
                class="btn btn-primary btn-inverse pull-right" 
                ng-if="isArchive()"
                ng-click="closeThisDialog(0); $state.go('contacts.details.followup', {followupID: ngDialogData.followup.id });"
                >
            {{ ::('reminders.modal.btn.edit' | translate) }}
        </button>
</h2>

<table class="table table-striped table-hover align-vertical" highlight-active-table-header="border-bottom-red">
    <colgroup>
        <col width="50" />
        <col width="200" />
        <col width="100" />
        <col width="100" />
        <col />
    </colgroup>
    <thead>
    <tr>
        <th>{{ ::('table.th.id' | translate) }}</th>
        <th>{{ ::('table.th.date' | translate) }}</th>
        <th>{{ ::('resource.followup.reminders.th.method' | translate) }}</th>
        <th>{{ ::('resource.followup.reminders.th.status' | translate) }}</th>
        <th>{{ ::('resource.followup.reminders.th.remind' | translate) }}</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in ngDialogData.followup.reminders">
            <td class="">#{{ row.id }}</td>
            <td class="">{{ row.date }}</td>
            <td class="text-center">
                <span class="label" ng-class="(row.type == 'email' ? 'label-info' : 'label-warning')">
                    {{ row.type }}
                </span>
            </td>
            <td class="text-center">

                <span class="label" ng-class="(row.status == 'sent' ? 'label-success' : (row.status == 'pending' ? 'label-warning' : 'label-danger'))">
                    {{ row.status }}
                </span>

            </td>
            <td class="">

                <span ng-show="row.target == 'admin'">{{ ::('reminders.modal.foradminid' | translate) }}{{ row.target_id }}</span>
                <span ng-show="row.target == 'resource'">{{ ::('reminders.modal.client' | translate) }}</span>

            </td>
        </tr>
        <tr ng-hide="ngDialogData.followup.reminders.length">
            <td colspan="5" class="text-center">
                <h4>{{ ::('resource.followup.reminders.none' | translate) }}</h4>
            </td>
        </tr>
    </tbody>
</table>

<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">{{ ::('form.close' | translate) }}</button>
</div>