<div class="m-w-410" style=" margin-left: auto;  margin-right: auto; margin-bottom: 10px;">
    {foreach from=$elements key=nameElement item=dataElement}
        <div id="{$dataElement->getId()}wrapp" class="{$dataElement->getClasses()}">
            {$dataElement->getHtml()}
        </div>
    {/foreach}
</div>