<div st-pipe="callServer" st-table="displayed">
    <div class="box light">
        <div class="box-title">
            <div class="caption">
                <span class="bold font-red-thunderbird uppercase pull-left" style="padding-top: 9px;">
                    {{ ::('mailbox.list.widgetname' | translate) }}
                </span>
                <div id="tableSearchContainer pull-left" style="width: 300px;" class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                        <input st-search="" id="list-mailbox-search" placeholder="{{ ::('form.search.placeholder' | translate) }}"  class="form-control" type="search" style="border-color: #e5e5e5;" />
                    </div>
                </div>
            </div>
            <div class="actions" style="padding-right: 11px; top: 17px;">
                <a href ui-sref="settings.mailbox.add" class="btn btn-inverse btn-success">
                    {{ ::('mailbox.list.btn.create' | translate) }}
                </a>
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            
            <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>
            
            
            <table class="table table-striped table-hover" id="leadsTable" highlight-active-table-header="border-bottom-red">
                <colgroup>
                    <col width="50" />
                    <col width="270" />
                    <col />
                    <col width="270" />
                    <col width="220" />
                    <col width="120" />
                </colgroup>
                <thead>
                    <tr>
                        <th st-sort="id">{{ ::('table.th.id' | translate) }}</th>
                        <th st-sort="name">{{ ::('mailbox.list.th.name' | translate) }}</th>
                        <th st-sort="description">{{ ::('mailbox.list.th.description' | translate) }}</th>
                        <th st-sort="name">{{ ::('mailbox.list.th.admin' | translate) }}</th>
                        <th st-sort="email">{{ ::('mailbox.list.th.email' | translate) }}</th>
                        <th>{{ ::('table.th.actions' | translate) }}</th>
                    </tr>
                </thead>
                <tbody block-ui="mailboxTable">
                    <tr ng-repeat="row in displayed">
                        <td class="">{{ ::row.id }}</td>
                        <td class="">{{ ::row.name }}</td>
                        <td class="">{{ ::row.description }}</td>
                        <td class="">{{ ::row.admin.full }}</td>
                        <td class="">{{ ::row.email }}</td>
                        
                        <td>

                            <div class="btn-group btn-group-sm">
<!--                                <button type="button" class="btn btn-icon-only" ng-click="triggerRefreshCampaignAssignment(row.id)" tooltip="{{ ::('campaigns.tooltip.force.reasign' | translate) }}"   tooltip-placement="left">
                                    <i class="icon-refresh"></i>
                                </button>-->
                                <button type="button" class="btn btn-icon-only btn-primary" ng-click="triggerSendMailbox(row.id)">
                                    <i class="glyphicon glyphicon-off"></i>
                                </button>
                                <button type="button" class="btn btn-icon-only btn-primary"  ui-sref="settings.mailbox.edit({id:row.id })">
                                    <i class="icon-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-icon-only btn-danger" ng-click="triggerDeleteMailbox(row.id)">
                                    <i class="icon-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="displayed.length">
                        <td colspan="8" class="text-center">
                            <h4>{{ ::('table.empty.msg' | translate) }}</h4>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" class="text-left">

                            <span ng-hide="itemsLastNr == 0">
                                {{ ::('table.pagination.display' | translate) }} 

                                <div class="btn-group btn-group-xs btn-group-solid">
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                                </div>

                                {{ ::('table.pagination.perpage' | translate) }} {{ ::('table.pagination.showing' | translate) }} {{ itemsFirstNr }} {{ ::('table.pagination.to' | translate) }} {{ itemsLastNr }} {{ ::('table.pagination.of' | translate) }} {{ itemsTotal }} {{ ::('table.pagination.entries' | translate) }}

                            </span>

                            <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                            </div>

                        </td>
                    </tr>
                </tfoot>
            </table>	

        </div>
    </div>
</div>


