<div st-pipe="callServer" st-table="displayed">
    <div class="box light">
        <div class="box-title">
            <div class="caption">
                <span class="bold font-red-thunderbird uppercase pull-left" style="padding-top: 9px;">
                    {{ ::('notifications.list.widgetname' | translate) }}
                </span>
                <div id="tableSearchContainer pull-left" style="width: 300px;" class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                        <input st-search="" id="list-campaigns-search" placeholder="{{ ::('form.search.placeholder' | translate) }}"  class="form-control" type="search" style="border-color: #e5e5e5;" />
                    </div>
                </div>
            </div>
            <div class="actions" style="padding-right: 11px; top: 17px;">
                <a href ui-sref="utils.notifications.add" class="btn btn-inverse btn-success">
                    {{ ::('notifications.list.btn.create' | translate) }}
                </a>
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            
            <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>
            
            
            <table class="table table-striped table-hover align-vertical" id="leadsTable" highlight-active-table-header="border-bottom-red">
                <colgroup>
                    <col width="50" />
                    <col width="100" />
                    <col />
                    <col width="150" />
                    <col width="150" />
                    <col />
                    <col />
                    <col />
                    <col width="50" />
                    <col width="150" />
                </colgroup>
                <thead>
                    <tr>
                        <th st-sort="id">{{ ::('table.th.id' | translate) }}</th>
                        <th st-sort="type">{{ ::('notifications.list.th.type' | translate) }}</th>
                        <th st-sort="class">{{ ::('notifications.list.th.importance' | translate) }}</th>
                        <th st-sort="content">{{ ::('notifications.list.th.content' | translate) }}</th>
                        <th st-sort="date_start">{{ ::('notifications.list.th.datestart' | translate) }}</th>
                        <th st-sort="date_end">{{ ::('notifications.list.th.dateend' | translate) }}</th>
                        <th>{{ ::('notifications.list.th.assigned' | translate) }}</th>
                        <th>{{ ::('notifications.list.th.accepted' | translate) }}</th>
                        <th>{{ ::('notifications.list.th.active' | translate) }}</th>
                        <th>{{ ::('table.th.actions' | translate) }}</th>
                    </tr>
                </thead>
                <tbody block-ui="campaignsTable">
                    <tr ng-repeat="row in displayed">
                        <td class="">{{ ::row.id }}</td>
                        <td>{{ 'notifications.form.type.'+row.type | translate }}</td>
                        <td>
                            <span class="label label-sm" 
                                  ng-class="{
                                      'label-warning': row.class == 'warning', 
                                       'label-info':    row.class == 'info', 
                                       'label-danger': row.class == 'danger',
                                       'label-default': row.class == '',
                                   }">{{ 'notifications.form.importance.'+(row.class || 'normal') | translate }}</span>
                        </td>
                        <td ng-bind-html="row.content"></td>
                        <td class="">
                            <div ng-show="row.type == 'temporary'">
                                {{ ::row.date_start }}
                            </div>
                            <small class="text-muted" ng-show="row.type == 'permanent'">{{ ::('notifications.table.dates.permanent' | translate) }}</small>
                        </td>
                        <td class="">
                            <div ng-show="row.type == 'temporary'">
                                {{ ::row.date_end }}
                            </div>
                            <small class="text-muted" ng-show="row.type == 'permanent'">{{ ::('notifications.table.dates.permanent' | translate) }}</small>

                        </td>
                        <td class="">
                            <a href="mailto:{{ ::a.email }}" ng-repeat="a in row.admins">{{ ::a.firstname }} {{ ::a.lastname }}<span ng-if="!$last">, </span></a>
                            <small class="text-muted" ng-hide="row.admins.length">{{ ::('text.not.assigned' | translate) }}</small>
                        </td>
                        <td class="">
                            <div ng-show="row.confirmation">
                                <a href="mailto:{{ ::a.email }}" ng-repeat="a in row.accepted">{{ ::a.firstname }} {{ ::a.lastname }}<span ng-if="!$last">, </span></a>
                                <span ng-hide="row.accepted.length">{{ ::('notifications.table.confirmation.noone' | translate) }}</span>
                            </div>
                            <small class="text-muted" ng-hide="row.confirmation">{{ ::('notifications.table.confirmation.disabled' | translate) }}</small>
                        </td>
                        <td>
                            <span ng-show="row.active" class="label label-sm label-success">{{ ::('text.yes' | translate) }}</span>
                            <span ng-hide="row.active" class="label label-sm label-warning">{{ ::('text.no' | translate) }}</span>
                        </td>
                        <td class="text-left">

                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-icon-only btn-primary"  ui-sref="utils.notifications.edit({id:row.id })">
                                    <i class="icon-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-icon-only btn-danger" ng-click="triggerDelete(row.id)">
                                    <i class="icon-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="displayed.length">
                        <td colspan="10" class="text-center">
                            <h4>{{ ::('table.empty.msg' | translate) }}</h4>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" class="text-left">

                            <span ng-hide="itemsLastNr == 0">
                                {{ ::('table.pagination.display' | translate) }} 

                                <div class="btn-group btn-group-xs btn-group-solid">
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                                </div>

                                {{ ::('table.pagination.perpage' | translate) }} {{ ::('table.pagination.showing' | translate) }} {{ itemsFirstNr }} {{ ::('table.pagination.to' | translate) }} {{ itemsLastNr }} {{ ::('table.pagination.of' | translate) }} {{ itemsTotal }} {{ ::('table.pagination.entries' | translate) }}

                            </span>

                            <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                            </div>

                        </td>
                    </tr>
                </tfoot>
            </table>	

        </div>
    </div>
</div>


