<div class="row" style="display:flex; flex-wrap:wrap; margin-right:-8px; margin-left:-8px">
        <div class="col-sm">
            {$rawObject->getSelect1()}
        </div>
        <div class="p-t-4x hidden-sm-2" style="float:left;">-</div>
        <div class="col-sm">
            {$rawObject->getSelect2()}
        </div>
</div>