<script type='text/javascript'>
    
    $(document).ready(function ()
    {
        $(".main-content").prepend("<div class='alert alert-info'>{$MGLANG->T('addonCA','orderforclient', 'info')} <strong>{$client->firstname} {$client->lastname}</strong> <br> <a href='index.php?m=ResellersCenter&mg-page=Clients&mg-action=cleanAfterOrder&json=1'>{$MGLANG->T('addonCA','orderforclient', 'return')}</a></div>");
    });
</script>