<a class="mgactionbutton btn btn-mini btn-info label" href="javascript:editTask({$tid});">{$language->translate('Edit')}</a>
<a class="mgactionbutton btn btn-mini btn-danger label" href="javascript:deleteTask({$tid});">{$language->translate('Delete')}</a>
