<div class='box light' style='margin-bottom: 0px;' >
    <div class="box-title">
        <div class="caption">
            <span class="bold font-red-thunderbird uppercase">
                {{ 'settings.automations.rule.edit.form.conditionIfDaysAfterContactCreated.title' | translate }}
            </span>
        </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal" name="saveAutomationRuleItems[{{rules.id}}]" ng-submit="saveAutomationRule(rules)" >
            <fieldset>
                <div class="form-group">
                    <div class="form-group col-md-6" ng-class="{'ng-invalid':  saveAutomationRuleItems[{{rules.id}}].after.$invalid, 'ng-valid': saveAutomationRuleItems[{{rules.id}}].after.$valid}">
                        <label class="col-sm-4 control-label primary-font thin">{{ ::('settings.automations.rule.edit.form.conditionIfDaysAfterContactCreated.after' | translate) }}</label>
                        <div class="col-sm-8">
                            <input type="number" class='form-control' name="after" ng-model="rules.data.after" required>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button
                                ng-class="{'disabled':  rules.isSuccessForm = saveAutomationRuleItems[{{rules.id}}].$invalid}"
                                type="submit"
                                class="btn btn-success btn-inverse">
                            {{ ::('settings.automations.rule.edit.form.btn.upload'| translate) }}
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>