
/* No Plan Available */
#ihb_no_pl{
display: none;
font-size: 15px;
margin: 10px;
font-weight: bold;
}

/* Regional Plans Div Header */
.ihb_plan_header{
border-bottom: 1px solid #8DB34B;
text-align: left;
margin: 15px 5px;
font-size: 15px;
padding: 5px 5px;
}

/* Regional Plans Div Header Title */
.ihb_plan_title{
color: #8DB34B;
font-size: 20px;
font-weight: bold;
}

/* Individual Regional Plan */
.ihb_regpl{
background-color: #FFF;
margin: 5px auto;
cursor: pointer;
padding: 0px;
padding-bottom:20px;
border: 1px solid #CCC;
color: #666;
}

/* Individual Regional Plan Name */
.ihb_regpl_name{
padding: 10px;
font-size: 20px;
font-weight: bold;
border-bottom: 1px solid #CCC;
}

/* Individual Regional Plan Data */
.ihb_regpl_dat{
line-height: 250%;
font-size:12px;
}

/* Individual Regional Plan Pricing Div */
.ihb_regpl_pricing{
border-bottom: 1px solid #CCC;
padding: 20px;
}

/* Individual Regional Plan Monthly Pricing */
.ihb_pl_mprice{
font-size: 20px;
font-weight: bold;
color: #2c70dd;
}

/* Individual Regional Plan Hourly Pricing */
.ihb_pl_hprice{
font-size: 14px;
}

/* Individual Regional Plan Data Single Row */
.ihb_rpd_val{
font-weight: bold;
font-size:15px;
color: #444;
}

/* The selected plan */
.ihb_slctd_pl{
background: linear-gradient(45deg, #135FAC 1%, #1e88e5 64%, #40BAF5 97%);
color:#f2f2f2;
}

.ihb_slctd_pl .ihb_regpl_pricing, .ihb_slctd_pl .ihb_regpl_name{
border-bottom-color: #FFF;
}

.ihb_slctd_pl .ihb_rpd_val, .ihb_slctd_pl .ihb_pl_mprice{
color:#FFF;
}

.ihb_plans_container{
margin: auto;
padding: 0px;
}
