<div class="tab-content">
    <div class="tab-pane active" id="box_tab1">
        <!--<div class="box light bg-inverse">-->
        <div class="row">
            <div ng-show="scopeMessages.length" class="col-md-12">
                <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>
            </div>


            <div class="col-md-12">

                <div class="box light bordered">
                    <div class="box-title">
                        <div class="caption">
                            <span class="bold font-red uppercase">
                                {{ ::('resource.followup.edit.widget.name'| translate) }}{{ followup.id}}
                            </span>
                        </div>
                        <div class="actions">
                            <a href="javascript:;" ng-click="followupDetailsVisible = !followupDetailsVisible" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i ng-hide="followupDetailsVisible" class="fa fa-expand"></i>
                                <i ng-show="followupDetailsVisible" class="fa fa-compress"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only fullscreen">
                                <i class="icon-size-fullscreen"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body" ng-show="followupDetailsVisible" block-ui="followupEditForm" style="min-height: 100px;">


                        <form class="form-horizontal" role="form" name="$parent.editFollowupForm" valid-submit="editFollowupFormSubmit()">


                            <div class="col-sm-12">
                                <div class="form-group col-sm-6" ng-class="{'ng-invalid': (submitted && editFollowupForm.fielddescription.$invalid), 'ng-valid': (submitted && editFollowupForm.fielddescription.$valid)}">
                                    <div class="col-sm-2 control-label">
                                        <label class="primary-font font-sm thin" for="fielddescription">{{ ::('resource.followup.edit.descr'| translate) }}</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea 
                                            class="form-control vertical-textarea" 
                                            name="fielddescription" 
                                            id="fielddescription" 
                                            rows="2" 
                                            required 
                                            ng-model="followup.description" 
                                            ></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" ng-class="{'ng-invalid': (submitted && editFollowupForm.dielftypeselect.$invalid), 'ng-valid': (submitted && editFollowupForm.dielftypeselect.$valid)}">
                                    <div class="col-sm-2 control-label">
                                        <label class="primary-font font-sm thin" for="dielftypeselect">{{ ::('resource.followup.edit.type'| translate) }}</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select 
                                            id="dielftypeselect"
                                            class="form-control" 
                                            name="dielftypeselect" 
                                            ng-options="option.id as option.name for option in formData.followup.types | filter:{active:true}"
                                            ng-model="followup.type_id" 
                                            required />
                                        </select>                                    
                                        <small class="help-block error" ng-show="submitted && editFollowupForm.dielftypeselect.$invalid">{{ ::('form.validator.text.required'| translate) }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group col-sm-6" ng-class="{'ng-invalid': (submitted && editFollowupForm.followupdate.$invalid), 'ng-valid': (submitted && editFollowupForm.followupdate.$valid)}">
                                    <div class="col-sm-2 control-label">
                                        <label class="primary-font font-sm thin">{{ ::('resource.followup.edit.date'| translate) }}</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <p class="input-group">
                                            <!--datatimepicker-->
                                            <input type="text" 
                                                   class="form-control" 
                                                   datetime-picker="{{settings.datapicker.format}}" 
                                                   ng-model="followup.date" 
                                                   is-open="followupDataOpen" 
                                                   enable-time="settings.datapicker.enabletime" 
                                                   datepicker-options="settings.datapicker.options"
                                                   name="followupdate"
                                                   required
                                                   />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="followupDataOpen = true"><i class="fa fa-calendar"></i></button>
                                        </span>
                                        </p>
                                        <small class="help-block error" ng-show="submitted && editFollowupForm.followupdate.$invalid && editFollowupForm.followupdate.$error.required" >{{ ::('form.validator.text.required'| translate) }}</small>
                                        <small class="help-block error" ng-show="submitted && editFollowupForm.followupdate.$invalid && editFollowupForm.followupdate.$error.datetime">{{ ::('form.validator.date'| translate) }}</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" ng-class="{'ng-invalid': (submitted && editFollowupForm.followupadminselect.$invalid), 'ng-valid': (submitted && editFollowupForm.followupadminselect.$valid)}">
                                    <div class="col-sm-2 control-label">
                                        <label class="primary-font font-sm thin" for="followupadminselect">{{ ::('resource.followup.edit.admin'| translate) }}</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select 
                                            id="followupadminselect"
                                            class="form-control" 
                                            name="followupadminselect" 
                                            ng-options="option.id as option.full for option in formData.admins"
                                            ng-model="followup.admin_id" 
                                            required>
                                        </select>                        
                                        <small class="help-block error" ng-show="submitted && editFollowupForm.followupadminselect.$invalid">{{ ::('form.validator.text.required'| translate) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-6" ng-class="{'ng-invalid': (submitted && editFollowupForm.updatereminders.$invalid), 'ng-valid': (submitted && editFollowupForm.updatereminders.$valid)}">
                                    <div class="col-sm-2 control-label">
                                        <label class="primary-font font-sm thin" for="updatereminders">{{ ::('resource.followup.edit.update.reminders'| translate) }}</label>
                                    </div>
                                    <div class="col-sm-10 control-label">
                                        <input class="pull-left margin-right-10" type="checkbox" id="updatereminders" ng-model="followup.updateReminders" value="1" checked="checked" name="updatereminders">
                                        <small class="help-block pull-left">{{ ::('resource.followup.edit.update.reminders.descr'| translate) }}</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <hr style="margin-bottom: 5px; margin-top: 5px;" />

                                    <div class="form-group no-margin-bottom">
                                        <div class="col-sm-2">
                                            <h5 class="text-right">{{ ::('text.created_at'| translate) }}</h5>
                                        </div>
                                        <div class="col-sm-10 control-label">
                                            <p class="text-muted text-left">{{ followup.created_at}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <h5 class="text-right">{{ ::('text.updated_at'| translate) }}</h5>
                                        </div>
                                        <div class="col-sm-10 control-label">
                                            <p class="text-muted text-left">{{ followup.updated_at}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 text-center no-margin-top">
                                    <button type="submit" ng-click="$parent.submitted = true" ng-disabled="isArchive()" name="save" class="btn btn-success btn-inverse">
                                        {{ ::('text.updated_at'| translate) }}
                                    </button>
                                </div>
                            </div>

                        </form>


                        <div class="clearfix"></div>



                    </div>
                </div>


            </div>


            <div class="col-md-12">
                <div class="box light bordered" ng-class="{'toogled': formHidden }">
                    <div class="box-title">
                        <div class="caption">
                            <span class="bold font-green uppercase">
                                {{ ::('resource.followup.reminder.add.widget'| translate) }}{{ ::followup.id}} 
                            </span>
                        </div>
                        <div class="actions">
                            <a href="javascript:;" ng-show="formHidden" ng-click="formHidden = false" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="javascript:;" ng-hide="formHidden" ng-click="formHidden = true" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-compress"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body" block-ui="formSubmitNewBlock" style="min-height: 100;">

                        <div ng-show="formSubmitDone" class="note note-success">
                            <h5 class="note-title no-margin">{{ ::('resource.followup.reminder.add.succes'| translate) }}</h5>
                        </div>

                        <form name="$parent.reminderform" class="form-horizontal" novalidate valid-submit="subnutNewReminder()" role="form">


                            <input type="hidden" name="followup_id" ng-model="newReminder.followup_id" value="{{ followup.id}}">


                            <div class="form-group margin-bottom-5" ng-class="{'ng-invalid': (remindersubmitted && reminderform.updatereminders.$invalid), 'ng-valid': (remindersubmitted && editFollowupForm.reminderform.$valid)}">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="reminderdate">{{ ::('resource.followup.reminder.date'| translate) }}</label>
                                </div>
                                <div class="col-sm-10">

                                    <p class="input-group">
                                        <!--datatimepicker-->
                                        <input type="text" 
                                               required
                                               name="reminderdate"
                                               id="reminderdate"
                                               class="form-control" 
                                               datetime-picker="{{settings.datapicker.format}}" 
                                               ng-model="newReminder.date" 
                                               is-open="followupReminderDataOpen" 
                                               enable-time="settings.datapicker.enabletime" 
                                               datepicker-options="settings.datapicker.options" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="followupReminderDataOpen = true"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    </p>

                                    <small class="help-block error" ng-show="remindersubmitted && reminderform.updatereminders.$invalid">{{ ::('resource.followup.reminder.date.required'| translate) }}</small>
                                </div>
                            </div>

                            <div class="form-group margin-bottom-5" ng-class="{'ng-invalid': (remindersubmitted && reminderform.reminderfor.$invalid), 'ng-valid': (remindersubmitted && editFollowupForm.reminderfor.$valid)}">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin">{{ ::('resource.followup.reminder.for'| translate) }}</label>
                                </div>
                                <div class="col-sm-10 text-left" style="padding-top: 7px;">
                                    <label>
                                        <input type="radio" required name="reminderfor" ng-model="newReminder.for" value="admin">
                                        Admin
                                    </label>
                                    <label>
                                        <input type="radio" class="margin-left-10" required name="reminderfor" ng-model="newReminder.for" value="client">
                                        <input type="hidden" ng-if="newReminder.for == 'client'" name="reminderfor" ng-model="newReminder.target_id" value="{{ followup.resource_id}}">

                                        Client
                                    </label>
                                    <br/>
                                    <small class="help-block error" ng-show="remindersubmitted && reminderform.reminderfor.$invalid">{{ ::('resource.followup.reminder.for.required'| translate) }}</small>
                                </div>
                            </div>

                            <div class="form-group margin-bottom-5" ng-hide="reminderform.reminderfor.$invalid" ng-class="{'ng-invalid': (remindersubmitted && reminderform.remindermethod.$invalid), 'ng-valid': (remindersubmitted && editFollowupForm.remindermethod.$valid)}">

                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin">{{ ::('resource.followup.reminder.method'| translate) }}</label>
                                </div>
                                <div class="col-sm-10 text-left" style="padding-top: 7px;">
                                    <label>
                                        <input type="radio" required name="remindermethod" ng-model="newReminder.type" value="email">
                                        Email
                                    </label>
                                    <label ng-hide="newReminder.for == 'client'"  ng-if="isSms">
                                        <input  type="radio" class="margin-left-10" required name="remindermethod" ng-model="newReminder.type" value="sms">
                                        SMS
                                    </label>
                                    <br/>
                                    <small class="help-block error" ng-show="remindersubmitted && reminderform.remindermethod.$invalid">{{ ::('resource.followup.reminder.method.required'| translate) }}</small>
                                </div>
                            </div>


                            <div class="form-group margin-bottom-5" ng-if="newReminder.for == 'admin'" ng-class="{'ng-invalid': (remindersubmitted && reminderform.reminderadminselect.$invalid), 'ng-valid': (remindersubmitted && editFollowupForm.reminderadminselect.$valid)}">

                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="reminderadminselect">{{ ::('resource.followup.reminder.admin'| translate) }}</label>
                                </div>
                                <div class="col-sm-10 text-left">

                                    <select 
                                        id="reminderadminselect"
                                        class="form-control pull-left" 
                                        name="reminderadminselect" 
                                        id="reminderadminselect" 
                                        ng-options="convertToInt(option.id) as option.full for option in formData.admins"
                                        ng-model="newReminder.target_id" 
                                        required>
                                    </select>

                                    <small class="help-block error margin-left-10 pull-left" ng-show="remindersubmitted && reminderform.reminderadminselect.$invalid">{{ ::('resource.followup.reminder.admin.required'| translate) }}</small>
                                </div>
                            </div>


                            <div class="form-group margin-bottom-5" ng-show="newReminder.for" ng-class="{'ng-invalid': (remindersubmitted && reminderform.remindertype.$invalid), 'ng-valid': (remindersubmitted && editFollowupForm.remindertype.$valid)}">

                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="remindertype">{{ ::('resource.followup.reminder.tpl'| translate) }}</label>
                                </div>
                                <div class="col-sm-10 text-left">

                                    <select 
                                        ng-if="newReminder.for == 'admin'"
                                        class="form-control" 
                                        name="remindertype" 
                                        id="remindertype" 
                                        ng-options="convertToInt(option.id) as option.full for option in formData.templates.admin"
                                        ng-model="newReminder.template_id" 
                                        required>
                                    </select>

                                    <select 
                                        ng-if="newReminder.for == 'client'"
                                        class="form-control" 
                                        name="remindertype" 
                                        id="remindertype" 
                                        ng-options="convertToInt(option.id) as option.full for option in formData.templates.client"
                                        ng-model="newReminder.template_id" 
                                        required>
                                    </select>

                                    <small class="help-block error" ng-show="remindersubmitted && reminderform.remindertype.$invalid">{{ ::('resource.followup.reminder.tpl.required'| translate) }}</small>
                                </div>
                            </div>


                            <div class="form-group margin-bottom-5" ng-if="newReminder.type == 'email'" ng-class="{'ng-invalid': (remindersubmitted && reminderform.emailcc.$invalid), 'ng-valid': (remindersubmitted && editFollowupForm.emailcc.$valid)}">

                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="emailcc">{{ ::('resource.followup.reminder.cc'| translate) }}</label>
                                </div>
                                <div class="col-sm-10 text-left">

                                    <select 
                                        class="form-control" 
                                        name="emailcc" 
                                        id="emailcc" 
                                        ng-model="newReminder.email.cc" 
                                        multiple>
                                        <option ng-repeat="option in formData.admins" ng-value="convertToInt(option.id)">{{ option.full}}</option>
                                    </select>

                                    <small class="help-block">{{ ::('resource.followup.reminder.cc.required'| translate) }}</small>
                                </div>
                            </div>

                            <div class="form-group margin-bottom-5" ng-if="newReminder.type == 'email'">

                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="emailreply">{{ ::('resource.followup.reminder.reply'| translate) }}</label>
                                </div>
                                <div class="col-sm-10 text-left">

                                    <select 
                                        class="form-control" 
                                        name="emailreply" 
                                        id="emailreply" 
                                        ng-options="convertToInt(option.id) as option.full for option in formData.admins"
                                        ng-model="newReminder.email.reply" 

                                        >
                                    </select>
                                </div>
                            </div>

                            <div class="form-group no-margin-bottom">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" ng-disabled="isArchive()" ng-click="$parent.remindersubmitted = true" class="btn btn-success btn-inverse">
                                        {{ ::('form.add'| translate) }}
                                    </button>
                                </div>
                            </div>

                        </form>

                        <div class="clearfix"></div>


                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div st-pipe="callServer" st-table="displayed">
                    <div class="box light bordered">
                        <div class="box-title">
                            <div class="caption">
                                <span class="bold font-red-thunderbird uppercase pull-left" style="padding-top: 9px;">
                                    {{ ::('resource.followup.reminder.reminders.widget'| translate) }}
                                </span>
                                <div id="tableSearchContainer" style="width: 300px;" class="col-xs-3">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                                        <input st-search="description" id="reminder-table-search" placeholder="{{ ::('form.search.placeholder' | translate) }}"  class="form-control" type="search" style="border-color: #e5e5e5;" />
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="javascript:;" ng-click="remindersVisible = !remindersVisible" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                    <i ng-hide="remindersVisible" class="fa fa-expand"></i>
                                    <i ng-show="remindersVisible" class="fa fa-compress"></i>
                                </a>
                                <a href="" ng-click="refreshReminders()" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only">
                                    <i class="icon-refresh"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only fullscreen">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-body" ng-show="remindersVisible" block-ui="followupReminders" style="min-height: 150px;">

                            <table class="table table-striped table-hover align-vertical" highlight-active-table-header="border-bottom-red">
                                <colgroup>
                                    <col width="50" />
                                    <col width="200" />
                                    <col width="100" />
                                    <col width="100" />
                                    <col />
                                    <col />
                                    <col width="150" />
                                </colgroup>
                                <thead>
                                    <tr>
                                    <th st-sort="id">{{ ::('table.th.id'| translate) }}</th>
                                    <th st-sort="date" st-sort-default="date">{{ ::('table.th.date'| translate) }}</th>
                                    <th st-sort="type">{{ ::('resource.followup.reminders.th.method'| translate) }}</th>
                                    <th st-sort="status">{{ ::('resource.followup.reminders.th.status'| translate) }}</th>
                                    <th>{{ ::('resource.followup.reminders.th.tpl'| translate) }}</th>
                                    <th>{{ ::('resource.followup.reminders.th.remind'| translate) }}</th>
                                    <th>{{ ::('table.th.actions'| translate) }}</th>
                                    </tr>
                                </thead>
                                <tbody block-ui="reminderTable">
                                    <tr ng-repeat="row in displayed">
                                    <td class="">#{{ row.id}}</td>
                                    <td class="">{{ row.date}}</td>
                                    <td class="text-left">
                                    <span class="label" ng-class="(row.type == 'email' ? 'label-info' : 'label-warning')">
                                        {{ row.type}}
                                    </span>
                                    </td>
                                    <td class="text-left">

                                    <span class="label" ng-class="(row.status == 'sent' ? 'label-success' : (row.status == 'pending' ? 'label-warning' : 'label-danger'))">
                                        {{ row.status}}
                                    </span>

                                    </td>
                                    <td class="">
                                        <a 
                                            href="configemailtemplates.php?action=edit&id={{ row.template_id}}" 
                                            ng-if="row.target == 'admin'"
                                            target="_blank"
                                            >
                                            {{ (formData.templates.admin | filter:{'id': row.template_id})[0].full}}
                                        </a>
                                        <a 
                                            href="configemailtemplates.php?action=edit&id={{ row.template_id}}" 
                                            ng-if="row.target == 'resource'"
                                            target="_blank"
                                            >
                                            {{ (formData.templates.client | filter:{'id': row.template_id})[0].full}}
                                        </a>
                                    </td>
                                    <td class="">

                                    <span ng-if="row.target == 'resource'"><b>{{ ::('resource.followup.reminders.to.client'| translate) }}</b></span>

                                    <span ng-if="row.target == 'admin'">
                                        {{ (formData.admins | filter:{'id': row.target_id})[0].full}}
                                    </span>


                                    </td>
                                    <td class="text-left">

                                        <div class="btn-group btn-group-xs">
                                            <button type="button" class="btn btn-primary icon-only" ng-disabled="isArchive()" ng-click="triggerReminderEdit($index)">
                                                <i class="icon-pencil" style="margin-right: 0;"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger icon-only" ng-disabled="isArchive()" ng-click="triggerReminderDelete(row)">
                                                <i class="icon-trash" style="margin-right: 0;"></i>
                                            </button>
                                        </div>

                                    </td>
                                    </tr>
                                    <tr ng-hide="displayed.length">
                                    <td colspan="7" class="text-center">
                                        <h4>{{ ::('resource.followup.reminders.none'| translate) }}</h4>
                                    </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                    <td colspan="7" class="text-left">

                                    <span ng-hide="itemsLastNr == 0">
                                        {{ 'table.pagination.display' | translate }} 

                                        <div class="btn-group btn-group-xs btn-group-solid">
                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                                        </div>

                                        {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr }} {{ 'table.pagination.to' | translate }} {{ itemsLastNr }} {{ 'table.pagination.of' | translate }} {{ itemsTotal }} {{ 'table.pagination.entries' | translate }}

                                    </span>

                                    <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                                    </div>

                                    </td>
                                    </tr>
                                </tfoot>
                            </table>

                            <div class="clearfix"></div>



                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>