{literal}
    <script type="text/javascript">

        const mgPaymentDetails = {
            paymentMethod: {/literal}'{$selectedPaymentMethod|default:false}'{literal},
            paymentAddedStatus: false,
        };

        function showAlertLoader(){
            {/literal}{if $template eq 'modern'}{literal}
                $('tr.total').remove();
                $('tr.removedTotal').remove();
                $('table.cart tr:last').after('<tr class="MGloader"><td colspan="2" align="center"><img src="{/literal}{$assets}{literal}/assets/img/spinner.gif" alt="Loading ..." /></td></tr>');
            {/literal}{elseif $template eq 'boxes'}{literal}
                $('div.alert.alert-success.text-center.large-text').html("<img src='{/literal}{$assets}{literal}/assets/img/spinner.gif' alt='Loading ...' />");
            {/literal}{else}{literal}
                $('div.alert.alert-success.text-center.large-text').html("<img src='{/literal}{$assets}{literal}/assets/img/spinner.gif' alt='Loading ...' />");
            {/literal}{/if}{literal}

        };

        function getPaymentAdditionalUri(){

            if(!mgPaymentDetails.paymentMethod)
            {
                return null;
            }

            if($('input[name=token]').parents('form').find('[name=paymentmethod]').length < 1){

                var uri = '&paymentmethod=' + mgPaymentDetails.paymentMethod;
                return uri;

            }
            return null
        };

        function showTableLoader(){
            let defaultHeight = 20;
            if ($('#mg-charge-table').length > 0)
            {
                defaultHeight =  $('#mg-charge-table').height();
                $('#mg-charge-table').remove();
            }

            $('{/literal}{$chargesTableTag}{literal}').after("<div id='mg-charge-table' style='text-align: center; line-height: "+ defaultHeight +"px;'><img src='{/literal}{$assets}{literal}/assets/img/spinner.gif' alt='Loading ...' /></div>");
        }
        function mgLoadCharge () {
                var uri = getPaymentAdditionalUri();
                showAlertLoader();
                $.ajax({
                    url: 'cart.php?mg-page=charge&mg-action=checkout',
                    type: 'post',
                    data: $('input[name=token]').parents('form').serialize()+uri,
                    success: function (data) {
                        if (typeof data === 'object' && data.data.isView) {
                            {/literal}{if $orderTemplate eq 'lagom'}{literal}
                                
                                var result;
                                result = data.data.string.split(":");

                                if (result.length == 6){
                                    $('[data-charge]').remove();
                                    $('[data-subtotal]').find('.item-value').html(result[1]);
                                    $('[data-total]').find('#totalDueToday').html(result[5]);
                                    $('<ul class="order-summary-list" data-charge><li class="list-item"><span class="item-name">'+result[2]+'</span><span class="item-value">'+result[3]+'</span></li></ul>').insertAfter("#recurring");
                                }

                                else if (result.length == 4){
                                    $('[data-charge]').remove();
                                    $('[data-subtotal]').find('.item-value').html(result[1]);
                                    $('[data-total]').find('#totalDueToday').html(result[3]);
                                }
                                else{
                                    $('[data-charge]').remove();
                                    $('[data-total]').find('#totalDueToday').html(result[0]);
                                }
                            {/literal}{elseif $template eq 'modern'}{literal}
                                $('tr.total').remove();
                                $('tr.removedTotal').remove();
                                $('tr.MGloader').remove();
                                var lenght = $('tr.subtotal').length;
                                var element = $('tr.subtotal').last();
                                element.after(data.data.string);
                            {/literal}{elseif $template eq 'boxes'}{literal}
                                $('div.alert.alert-success.text-center.large-text').html(data.data.string);
                            {/literal}{else}{literal}
                                $('div.alert.alert-success.text-center.large-text').html(data.data.string);
                            {/literal}{/if}{literal}
                        }
                    }
                });
        }
        function mgLoadChargeTable(){
            {/literal}{if $isShowTable eq true}{literal}
            var uri = getPaymentAdditionalUri();
            showTableLoader();
            $.ajax({
                url: 'cart.php?mg-page=charge&mg-action=getTable',
                type: 'post',
                data: $('input[name=token]').parents('form').serialize()+uri,
                success: function (data) {
                    if ($('#mg-charge-table').length > 0)
                    {
                        $('#mg-charge-table').remove();
                    }
                    if($('#paymentGatewaysContainer').css('display') == "none"){
                        return ;
                    }
                    if (typeof data === 'object' && data.data.isView) {
                        $('{/literal}{$chargesTableTag}{literal}').after(data.data.string);
                    }
                }
            });
            {/literal}{/if}{literal}
        }
        mgLoadCharge();
        mgLoadChargeTable();

        {/literal}{if $template eq 'modern'}{literal}
            $('input[name=applycredit]').on('change', function(event){
                mgLoadCharge();
                mgLoadChargeTable();
            });
            $('input[name=paymentmethod]').on('change', function(event){
                mgLoadCharge();
            });

            $('select[name=country]').on('change', function(event){
                mgLoadCharge();
                mgLoadChargeTable();
            });
        {/literal}{elseif $template eq 'boxes'}{literal}
            $('input[name=applycredit]').on('change', function(event){
                mgLoadCharge();
                mgLoadChargeTable();
            });
            $('input[name=paymentmethod]').on('change', function(event){
                mgLoadCharge();
            });

            $('select[name=country]').on('change', function(event){
                mgLoadCharge();
                mgLoadChargeTable();
            });
        {/literal}{else}{literal}
            $('input[name=applycredit]').on('ifChecked', function(event){
                if($(event.target).hasClass('readyStateMG')){
                    mgLoadCharge();
                    mgLoadChargeTable();
                }
            });
            $('input[name=paymentmethod]').on('ifChecked', function(event){
                if($(event.target).hasClass('readyStateMG')){
                    mgLoadCharge();
                }
            });

            $('select[name=country]').on('change', function(event){
                mgLoadCharge();
                mgLoadChargeTable();
            });

            $(document).ready(function(){

                $('input[name=applycredit]').addClass('readyStateMG');
                $('input[name=paymentmethod]').addClass('readyStateMG');
            })
        {/literal}{/if}{literal}

        {/literal}{if $template eq 'lagom'}{literal}
            $('.cart-item-price button[name$="Pricing"] + ul li').on('click', function(event){
                mgLoadCharge();
                mgLoadChargeTable();
            });
        {/literal}{/if}{literal}    

    </script>
{/literal}