
                    <div class="container-fluid raw">

                        <div class="box light bordered" ng-class="{'toogled': formHidden }">
                            <div class="box-title">
                                <div class="caption">
                                    <span class="bold font-green uppercase">
                                        {{ 'settings.general.label.widget.newtype' | translate }}
                                    </span>
                                </div>
                                <div class="actions">
                                    <a href="javascript:;" ng-show="formHidden" ng-click="formHidden=false" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="javascript:;" ng-hide="formHidden" ng-click="formHidden=true" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                        <i class="fa fa-compress"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body" block-ui="formSubmitNewBlockLabel" style="min-height: 100;">

                                <div ng-show="formSubmitDone" class="note note-success">
                                    <button type="button" class="close" ng-click="closeNote()">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h5 class="note-title no-margin">
                                        {{ 'settings.general.label.newtype.success' | translate }}
                                    </h5>
                                </div>

                                <form name="$parent.$parent.addLabelForm" novalidate valid-submit="enableLabelSubmitted()" role="form" class="form-horizontal">
                                    <fieldset>
                                        <div class="col-sm-12">
                                            <div 
                                                class="form-group col-sm-6" 
                                                ng-class="{'ng-invalid': (submittedLabel && addLabelForm.name.$invalid), 'ng-valid': (submittedLabel && addLabelForm.name.$valid)}">
                                                <div class="col-sm-2 control-label">
                                                    <label class="primary-font font-sm thin" for="name">{{ 'form.name' | translate }}</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="text" name="name" ng-model="addLabelForm.name" required class="form-control" id="name" placeholder="Put new type name">
                                                    <small class="help-block error" ng-show="submittedLabel && addLabelForm.name.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6 margin-bottom-10" ng-class="{'ng-invalid': (submittedLabel && addLabelForm.color.$invalid), 'ng-valid': (submittedLabel && addLabelForm.color.$valid)}">
                                                <div class="col-sm-2 control-label">
                                                    <label class="primary-font font-sm thin" for="color">{{ 'form.color' | translate }}</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="color" name="color" id="color" class="form-control" ng-model="addLabelForm.color" id="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <div class="col-sm-12 text-center">
                                                <button type="submit"  class="btn btn-success btn-inverse">
                                                    {{ 'form.add' | translate }}
                                                </button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>

                                <div class="clearfix"></div>


                            </div>
                        </div>


                    </div>
                    
                    <div class="container-fluid raw">
                        <div  st-pipe="getLabelsData" st-table="labelsData">
                            <div class="box light bordered">
                                <div class="box-title">
                                    <div class="caption">
                                        <span class="bold font-red-thunderbird uppercase pull-left" style="padding-top: 9px;">
                                            {{ 'settings.general.labels' | translate }}
                                        </span>
                                        <div id="tableSearchContainer" style="width: 300px;" class="col-xs-3">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                                                <input st-search="description" id="labels-table-search" placeholder="{{ ::('form.search.placeholder' | translate) }}"  class="form-control" type="search" style="border-color: #e5e5e5;" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-flat" ng-class="{'active': displayLabelsFilters == true}" ng-click="displayLabelsFilters = !displayLabelsFilters" type="button" style="height: 34px;"><i class="fa fa-filter"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                                            <i class="icon-size-fullscreen"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body" block-ui="labelsBlock" style="min-height: 100px;">


                                    <table class="table table-hover align-vertical table-light table-striped table-height-input-sm">
                                        <colgroup>
                                           <col style="width: 50px;">
                                           <col style="width: 100px;">
                                           <col>
                                           <col style="width: 300px;">
                                           <col style="width: 150px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>{{ 'table.th.id' | translate }}</th>
                                                <th>{{ 'table.th.name' | translate }}</th>
                                                <th>{{ 'settings.general.followup.th.color' | translate }}</th>
                                                <th>{{ 'table.th.actions' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody ui-sortable="sortableOptionsLabel" ng-model="labelsData">
                                            <tr ng-repeat="label in labelsData">
                                                <td class="mySortableHandler text-center">
                                                    <a href="#">
                                                        <i class="fa fa-reorder"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    #{{ label.id }}
                                                </td>
                                                <td class="text-left">
                                                    <a href="#" editable-text="label.name"  ng-model="label.name" onaftersave="sentLabelToUpdate($index, label)">
                                                        <span class='label label-default label-lg' style='background-color: {{label.color}}; color: {{invertColor(label.color)}};'>{{ label.name || ('text.empty' | translate) }}</span>
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    <a href="#" editable-color="label.color" ng-model="label.color" onaftersave="sentLabelToUpdate($index, label)">{{ label.color || "#000000" }}</a>
                                                </td>
                                                <td class="text-left">

                                                    <div class="btn-group btn-group-sm">
                                                        <button class="btn btn-danger btn-icon-only" ng-click="confirmLabelDelete($index)">
                                                            <i class="fa fa-trash-o"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-hide="labelsData.length">
                                                <td colspan="6" class="text-center">{{ 'table.empty.msg' | translate }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="{{ '5' }}" class="text-left">

                                                    <span ng-hide="itemsLastNr == 0">
                                                        {{ 'table.pagination.display' | translate }} 

                                                        <div class="btn-group btn-group-xs btn-group-solid">
                                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                                            <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                                                        </div>

                                                        {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr }} {{ 'table.pagination.to' | translate }} {{ itemsLastNr }} {{ 'table.pagination.of' | translate }} {{ itemsTotal }} {{ 'table.pagination.entries' | translate }}

                                                    </span>

                                                    <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                                                    </div>

                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>



                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>