
<div class="container-fluid raw">

    <div class="box light bordered">
        <div class="box-title">
            <div class="caption">
                <span class="bold uppercase">
                    {{ 'settings.general.widget.monitor' | translate }}
                </span>
            </div>
            <div class="actions">
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">

            <table class="table table-bordered table-striped table-hover align-vertical" style="margin-bottom: 20px;">
                <tbody>
                    <tr>
                        <td>
                            <span ng-hide="status.integrations.asterisk" class="label label-danger">{{ 'settings.general.not.integrated' | translate }}</span>
                            <span ng-show="status.integrations.asterisk" class="label label-success">{{ 'settings.general.integrated' | translate }}</span>
                            &nbsp;
                        </td>
                        <td>{{ 'settings.general.integration.asterisk' | translate }}</td>
                        <td>
                            <p class="help-block" style="display: inline-block; margin: 0px; color: #999;">
                                {{ 'settings.general.integration.asterisk.descr' | translate }}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span ng-hide="status.integrations.sms_center" class="label label-danger">{{ 'settings.general.not.integrated' | translate }}</span>
                            <span ng-show="status.integrations.sms_center" class="label label-success">{{ 'settings.general.integrated' | translate }}</span>
                            &nbsp;
                        </td>
                        <td>{{ 'settings.general.integration.smscenter' | translate }}</td>
                        <td>
                            <p class="help-block" style="display: inline-block; margin: 0px; color: #999;">
                                {{ 'settings.general.integration.smscenter.descr' | translate }}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span ng-hide="status.cron.last_run" class="label label-danger">{{ 'text.warning' | translate }}</span>
                            <span ng-show="status.cron.last_run" class="label label-success">{{ 'text.ok' | translate }}</span>
                            &nbsp;
                        </td>
                        <td>{{ 'settings.general.monitor.cron' | translate }}</td>
                        <td>
                            <p class="help-block" style="display: inline-block; margin: 0px; color: #999;">
                                <span ng-hide="status.cron.last_run">{{ 'settings.general.monitor.cron.descr' | translate }}</span>
                                <span ng-show="status.cron.last_run">{{ 'settings.general.monitor.cron.descr.ok' | translate }}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span ng-hide="status.emails" class="label label-warning">{{ 'text.warning' | translate }}</span>
                            <span ng-show="status.emails" class="label label-success">{{ 'text.ok' | translate }}</span>
                            &nbsp;
                        </td>
                        <td>{{ 'settings.general.monitor.emails' | translate }}</td>
                        <td>
                            <p class="help-block" style="display: inline-block; margin: 0px; color: #999;">
                                {{ 'settings.general.monitor.emails.in.use' | translate }} <b>{{ status.emails }}</b>
                            </p>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td>
                            <span ng-hide="status.integrations.downloadsdir" class="label label-danger">{{ 'text.error' | translate }}</span>
                            <span ng-show="status.integrations.downloadsdir" class="label label-success">{{ 'text.ok' | translate }}</span>
                            &nbsp;
                        </td>
                        <td>{{ 'settings.general.monitor.uploads' | translate }}</td>
                        <td>
                            <pre class="no-margin">{{ status.integrations.downloadsdir }}</pre>
                            <p class="help-block" style="display: inline-block; margin: 0px; color: #999;">
                                {{ 'settings.general.monitor.uploads.descr' | translate }}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container-fluid raw" ng-if="hasAccess('settings.view_cron')">

    <div class="box light bordered">
        <div class="box-title">
            <div class="caption">
                <span class="bold uppercase">
                    {{ 'settings.general.monitor.cron.details' | translate }}
                </span>
            </div>
            <div class="actions">
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">

            <div class="note note-info">
                {{ 'settings.general.monitor.cron.info' | translate }}
            </div>


            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>{{ 'settings.general.monitor.cron.path' | translate }}</td>
                        <td><pre class="no-margin">{{ status.cron.path }}</pre></td>
                    </tr>
                    <tr>
                        <td>{{ 'settings.general.monitor.cron.url' | translate }}</td>
                        <td><pre class="no-margin">{{ status.cron.url }}</pre></td>
                    </tr>
                    <tr>
                        <td>{{ 'settings.general.monitor.cron.lastrun' | translate }}</td>
                        <td>
                            <span ng-hide="status.cron.last_run" class="label label-danger">{{ 'settings.general.monitor.cron.lastrun.error' | translate }}</span>
                            <span ng-show="status.cron.last_run">{{ status.cron.last_run }}</span>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">{{ 'settings.general.monitor.cron.interval' | translate }}</td>
                        <td>
                            <span ng-hide="status.cron.interval" class="label label-danger">{{ 'settings.general.monitor.cron.interval.error' | translate }}</span>
                            <span ng-show="status.cron.interval >= 0 && status.cron.interval !== false"><b>{{ status.cron.interval }}</b> {{ 'settings.general.monitor.cron.interval.ago' | translate }} <br /></span>

                            <p class="help-block" style="display: inline-block; margin: 0px; color: #999;">
                                {{ 'settings.general.monitor.cron.interval.descr' | translate }}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="clearfix"></div>
        </div>
    </div>


</div>
