<div class="note note-alert">
    <h3>{{ 'settings.general.api.note.title' | translate }}</h3>
    {{ 'settings.general.api.note' | translate }}
</div>


<div class="note note-success">
    {{ 'settings.general.api.git' | translate }} <a href="https://github.com/modgarden/modulesgarden-crm-api" target="_blank">GitHub</a>.
</div>
