
<div class="box light">
    <div class="box-title">
        <div class="caption bold">
            {{ 'resource.create.widget.name' | translate }}
        </div>
        <div class="actions" ng-show="newLeadForm.$invalid && newLeadForm.$dirty">
            <i class="fa font-red fa-warning" tooltip="{{ 'form.add' | translate }}"></i>&nbsp;
        </div>
    </div>
    <div class="box-body">
        
  <style>
    .select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 29px;
    }

    .selectize-control > .selectize-dropdown {
      top: 36px;
    }
  </style>
        <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>

        
            <form name="newLeadForm" valid-submit="createLeadFormSubmit()" novalidate role="form"  class="form-horizontal">

                
                <div class="container-fluid raw">

                    <div class="box light bordered">
                        <div class="box-title">
                            <div class="caption">
                                <span class="bold font-red-thunderbird uppercase">
                                    {{ 'resource.create.main.options' | translate }}
                                </span>
                            </div>
                        </div>
                        <div class="box-body">


                            <fieldset class="row-fluid">

                                <div class="form-group col-md-6">
                                    <label class="col-sm-4 control-label primary-font thin" ng-click="setFocusAdmin()">{{ ::('resource.create.select.admin' | translate) }}</label>
                                    <div class="col-sm-8">

                                        <ui-select ng-model="$parent.newLead.assignedAdmin" focus-on='setFocusAdmin'>
                                            <ui-select-match placeholder="{{ 'resource.create.select.admin.placeholder' | translate }}">{{ $select.selected.firstname + ' ' + $select.selected.lastname }}</ui-select-match>
                                            <ui-select-choices repeat="admin in params.admins | filter: $select.search">
                                                  <div ng-bind-html="('<b>#' + admin.id + '</b> ' + admin.firstname + ' ' + admin.lastname) | highlight: $select.search"></div>
                                                  <small ng-bind-html="('<i>' + admin.email + '</i>') | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label class="col-sm-4 control-label primary-font thin" ng-click="setFocusType()">{{ ::('resource.create.select.type' | translate) }}</label>
                                    <div class="col-sm-8">

                                        <ui-select ng-model="$parent.newLead.assignedType" focus-on='setFocusType'>
                                            <ui-select-match placeholder="{{ 'resource.create.select.type.placeholder' | translate }}">{{ $select.selected.name }}</ui-select-match>
                                            <ui-select-choices repeat="t in contactTypes | filter:{active:true}:true | filter: $select.search">
                                                <div ng-show="t.active">
                                                    <p>
                                                        <i ng-class="t.icon" ng-show="t.icon" ng-style="t.color && {'color':t.color}"></i>
                                                        {{ ::t.name }}
                                                    </p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label class="col-sm-4 control-label primary-font thin" ng-click="setFocusClient()">{{ ::('resource.create.select.client' | translate) }}</label>
                                    <div class="col-sm-8">

                                    <ui-select ng-model="$parent.newLead.assignedClient" focus-on='setFocusClient' on-select="updateFields($model,$item)">
                                        <ui-select-match placeholder="{{ 'resource.create.select.client.placeholder' | translate }}"><span ng-bind-html="$select.selected.name + ' ' + ($select.selected.company != '' ? (' ( ' + $select.selected.company + ' )') : '')"></span></ui-select-match>
                                        <ui-select-choices repeat="client in searchedClients"
                                              refresh="refreshClietns($select.search)"
                                              refresh-delay="0">
                                          <div ng-bind-html="('<b>#'+client.id + '</b> ' + client.name + ((client.company != '') ? ' ( '+client.company+' )':'')) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                    </div>
                                </div>
                                


                                <div class="form-group col-md-6">
                                    <label for="followup" class="col-sm-4 control-label primary-font thin">{{ 'resource.create.followup.add' | translate }}</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" name="followup" ng-model="newLead.static.followup" id="followup" placeholder="{{ 'resource.create.name.placeholder' | translate }}">
                                    </div>
                                </div>

                            </fieldset>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                
                
                <div class="container-fluid raw">

                    <div class="box light bordered">
                        <div class="box-title">
                            <div class="caption">
                                <span class="bold font-red-thunderbird uppercase">
                                    {{ 'resource.create.main.info' | translate }}
                                </span>
                            </div>
                        </div>
                        <div class="box-body">

                            <fieldset class="row-fluid">

                                <div class="form-group col-md-6" ng-class="{'ng-invalid': (( newLeadForm.name.$invalid || newLead.static.name.$invalid )), 'ng-valid': (submitted &&  ( newLeadForm.name.$valid || newLead.static.name.$valid ))}">
                                    <label for="name" class="col-sm-4 control-label primary-font thin">
                                        {{ 'resource.create.main.name' | translate }}
                                        <i class="fa fa-question-circle"  tooltip-placement="left" tooltip="{{ 'resource.create.main.name.tooltip' | translate }}"></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" name="name" ng-required="true" ng-model="newLead.static.name" class="form-control" id="name" placeholder="{{ 'resource.create.main.name.placeholder' | translate }}" />
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="status" class="col-sm-4 control-label primary-font thin" ng-click="setFocusStatus()">
                                        {{ 'resource.create.main.status' | translate }}
                                    </label>
                                    <div class="col-sm-8">

                                        <ui-select ng-model="$parent.newLead.assignedStatus" focus-on='setFocusStatus'>
                                            <ui-select-match placeholder="{{ 'resource.create.main.status.placeholder' | translate }}"><span ng-style="{'color': $select.selected.color+' !important' }">{{ $select.selected.name}}</span></ui-select-match>
                                            <ui-select-choices repeat="status in params.statuses | filter: $select.search">
                                                <div><span ng-style="{'color': status.color+' !important' }" ng-bind-html="status.name | highlight: $select.search"></span></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="form-group col-md-6" ng-class="{'ng-invalid': (( newLeadForm.lastname.$invalid || newLead.static.lastname.$invalid )), 'ng-valid': (submitted && ( newLeadForm.lastname.$valid || newLead.static.lastname.$valid ))}">
                                    <label for="lastname" class="col-sm-4 control-label primary-font thin">
                                        {{ 'resource.create.main.lastname' | translate }}
                                        <i class="fa fa-question-circle"  tooltip-placement="left" tooltip="{{ 'resource.create.main.lastname.tooltip' | translate }}"></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" name="lastname" ng-required="true" ng-model="newLead.static.lastname" class="form-control" id="lastname" placeholder="{{ 'resource.create.main.lastname.placeholder' | translate }}" />
                                    </div>
                                </div>
                                
                                
                                <div class="form-group col-md-6">
                                    <label for="country" class="col-sm-4 control-label primary-font thin" ng-click="setFocusCountry()">
                                        {{ 'resource.create.main.country' | translate }}
                                    </label>
                                    <div class="col-sm-8">

                                        <ui-select ng-model="$parent.newLead.static.country" focus-on='setFocusCountry'>
                                            <ui-select-match placeholder="{{ 'resource.create.main.country.placeholder' | translate }}">{{ $select.selected.name }}</ui-select-match>
                                            <ui-select-choices repeat="country.code as country in params.country | filter: $select.search" >
                                                <span ng-bind-html="country.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6" ng-class="{'ng-invalid': (( newLeadForm.email.$invalid || newLead.static.email.$invalid )), 'ng-valid': (submitted && ( newLeadForm.email.$valid || newLead.static.email.$valid ))}">
                                    <label for="email" class="col-sm-4 control-label primary-font thin">
                                        {{ 'resource.create.main.email' | translate }}
                                        <i class="fa fa-question-circle" tooltip-placement="left" tooltip="{{ 'resource.create.main.email.tooltip' | translate }}"></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="email" name="email"  ng-model="newLead.static.email" class="form-control" id="email" placeholder="{{ 'resource.create.main.email.placeholder' | translate }}" />
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="labels" class="col-sm-4 control-label primary-font thin" ng-click="setFocusLabels()">
                                        {{ 'resource.create.main.labels' | translate }}
                                    </label>
                                    <div class="col-sm-8">
                                        <ui-select style='height: 42px;' class='form-control' ng-model="$parent.newLead.labels" multiple focus-on='setFocusLabels'>
                                            <ui-select-match class=''  placeholder="{{ 'resource.summary.main.labels.search' | translate }}">
                                                {{ $item.name }}
                                            </ui-select-match>
                                            <ui-select-choices repeat="label in params.labels | filter: $select.search">
                                                <p>
                                                  <small ng-bind-html="label.name | highlight: $select.search" class='label label-lg label-default' ng-style="{'background-color': ('#' + label.color), 'color' : invertColor('#' + label.color)}"></small>
                                                </p>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                

                                <div class="form-group col-md-6" ng-class="{'ng-invalid': (( newLeadForm.phone.$invalid || newLead.static.phone.$invalid )), 'ng-valid': (submitted && ( newLeadForm.phone.$valid || newLead.static.phone.$valid ))}">
                                    <label for="phone" class="col-sm-4 control-label primary-font thin" ng-click="setFocusPhone()">
                                        {{ 'resource.create.main.phone' | translate }}
                                        <i class="fa fa-question-circle" tooltip-placement="left" tooltip="{{ 'resource.create.main.phone.tooltip' | translate }}"></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" name="phone" ng-pattern="ph_numbr" focus-on='setFocusPhone'  ng-model="newLead.static.phone" class="form-control" id="phone" placeholder="{{ 'resource.create.main.phone.placeholder' | translate }}" />
                                    </div>
                                </div>
                                
                            </fieldset>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                


                <fieldset class="row-fluid" ng-repeat="group in params.fieldGroups" ng-if="group.active">
                    <div class="clearfix" ng-if="$index % 2 == 0"></div>

                    <div class="container-fluid raw">

                        <div class="box light bordered">
                            <div class="box-title">
                                <div class="caption">
                                    <span class="bold uppercase" ng-style="{'color': group.color }">
                                        {{ group.name }}
                                    </span>
                                </div>
                            </div>
                            <div class="box-body">

                                <div class="form-group col-md-6" ng-repeat="field in group.fields" ng-class="{'ng-invalid': newLeadForm['field-'+field.id].$invalid}">

                                    <label for="field-{{ field.id }}" class="col-sm-4 control-label primary-font thin">
                                        {{ field.name }}
                                        <i ng-show="field.description" class="fa fa-comments" tooltip-placement="left" tooltip="{{ field.description }}"></i>
                                    </label>
                                    <div class="col-sm-8" ng-switch="field.type">


                                        <div ng-switch-when="text">
                                            <input 
                                                type="{{ ::field.customType }}" 
                                                ng-required="{{field.isRequired == true}}" 
                                                ng-minlength="{{ ::field.min }}" 
                                                ng-maxlength="{{ ::field.max }}" 
                                                pattern="{{ ::field.regex }}" 
                                                ng-model="$parent.newLead.dynamic[field.id]" 
                                                name="field-{{ field.id }}" 
                                                class="form-control" 
                                                id="field-{{ field.id }}"  
                                            />
                                            
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>
                                        
                                        <div ng-switch-when="phone">
                                            <input 
                                                type="text" 
                                                ng-required="{{field.isRequired == true}}" 
                                                ng-minlength="{{ ::field.min }}" 
                                                ng-maxlength="{{ ::field.max }}" 
                                                pattern="{{ ::field.regex }}" 
                                                ng-model="$parent.newLead.dynamic[field.id]" 
                                                name="field-{{ field.id }}" 
                                                class="form-control" 
                                                id="field-{{ field.id }}"  
                                            />
                                            
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>

                                        <div ng-switch-when="textarea">
                                            <textarea  
                                                ng-required="{{field.isRequired == true}}" 
                                                ng-minlength="{{ ::field.min }}" 
                                                ng-maxlength="{{ ::field.max }}" 
                                                pattern="{{ ::field.regex }}" 
                                                ng-model="$parent.newLead.dynamic[field.id]" 
                                                name="field-{{ field.id }}" 
                                                class="form-control" 
                                                id="field-{{ field.id }}"
                                            ></textarea>
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>

                                        <div ng-switch-when="radio">
                                            <label ng-repeat="option in field.options" style="margin-right: 10px; padding-top: 7px;">
                                                <input 
                                                    type="radio" 
                                                    ng-required="{{field.isRequired == true}}" 
                                                    ng-model="$parent.$parent.newLead.dynamic[field.id][0]" 
                                                    name="field-{{ field.id }}"  
                                                    id="field-{{ field.id }}"
                                                    value="{{option.id}}" 
                                                />
                                                {{option.value}}
                                            </label>
                                            
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>

                                        <div ng-switch-when="select">
                                            <ui-select 
                                                ng-required="{{field.isRequired == true}}" 
                                                ng-model="$parent.$parent.$parent.newLead.dynamic[field.id][0]"
                                                name="field-{{ field.id }}"  
                                                id="field-{{ field.id }}"
                                                >
                                                <ui-select-match placeholder="Click to choose..">
                                                    {{ $select.selected.value }}
                                                </ui-select-match>
                                                <ui-select-choices repeat="option.id as option in field.options | filter: $select.search">
                                                    <p>{{ option.value }}</p>
                                                </ui-select-choices>
                                            </ui-select>
                                           
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>
                                        
                                        <div ng-switch-when="multiselect">
                                            
                                            <ui-select 
                                                multiple 
                                                limit="{{ ::field.max }}"
                                                tagging
                                                ng-required="{{field.isRequired == true}}"
                                                ng-model="$parent.$parent.$parent.newLead.dynamic[field.id]">
                                                <ui-select-match placeholder="Click to choose..">
                                                    {{ $item.value }}
                                                </ui-select-match>
                                                <ui-select-choices repeat="option.id as option in field.options | filter: $select.search">
                                                    <p>{{ option.value }}</p>
                                                </ui-select-choices>
                                            </ui-select>
                                            
                                            
                                            <small class="help-block" ng-show="field.max">
                                                <span>You can choose {{ ::field.max }} options.</span>
                                            </small>
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>


                                        <div ng-switch-when="checkbox">
                                            <label ng-repeat="option in field.options" style="margin-right: 10px; padding-top: 7px;">
                                                <input 
                                                    type="checkbox" 
                                                    ng-required="{{field.isRequired}}" 
                                                    ng-model="$parent.$parent.newLead.dynamic[field.id][0]" 
                                                    ng-true-value="{{option.id}}" 
                                                    name="field-{{ field.id }}"  
                                                    id="field-{{ field.id }}"
                                                />{{option.value}}
                                            </label>
                                            
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>


                                        <div ng-switch-when="date">
                                            <input type="date" 
                                                   ng-required="{{field.isRequired}}" 
                                                   ng-model="$parent.newLead.dynamic[field.id]" 
                                                   name="field-{{ field.id }}" 
                                                   class="form-control" 
                                                   id="field-{{ field.id }}"  />
                                            
                                            <small class="help-block error" ng-if="newLeadForm['field-'+field.id].$invalid">
                                                <span ng-repeat="validator in field.validators">{{ validator.error }}</span>
                                            </small>
                                        </div>

                                        <div ng-switch-when="datetime">

                                        </div>

                                    </div>


                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                </fieldset>


                <div class="form-group col-md-12 text-center" ng-show="newLeadForm.$invalid && newLeadForm.$dirty && beforeAdd">
                    <span class="badge badge-danger">{{ 'resource.create.form.invalid' | translate }}</span>
                </div>
                <div class="form-group col-md-12 text-center">
                    <button 
                        type="button" 
                        ng-disabled="newLeadForm.$invalid && newLeadForm.$dirty" 
                        ng-click="createLeadFormSubmit();" 
                        class="btn btn-success btn-inverse">{{ 'form.add' | translate }}</button>
                </div>
                <div class="clearfix"></div>

            </form>
            
        
    </div>
</div>


