<div class="box light bordered" ng-class="{'toogled': toogled.wholeform }">
    <div class="box-title">
        <div class="caption">
            <span class="bold font-red-thunderbird uppercase">
                {{ ::('campaigns.widget.add.main' | translate) }}
            </span>
        </div>

        <div class="actions">
            <a href="#" ng-show="toogled.wholeform" ng-click="toogled.wholeform=!toogled.wholeform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" ng-hide="toogled.wholeform" ng-click="toogled.wholeform=!toogled.wholeform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                <i class="fa fa-compress"></i>
            </a>
            <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
        </div>
    </div>
    <div class="box-body" block-ui="campaignForm">


        <form class="form-horizontal" role="form" name="campaignForm" ng-submit="addCampaignFormSubmit()">
            
            <div class="container-fluid raw">
                <div class="box light bordered" ng-class="{'toogled': toogled.mainform }">
                    <div class="box-title">
                        <div class="caption">
                            <span class="bold">
                                {{ ::('campaigns.widget.add.campaign' | translate) }}
                            </span>
                        </div>
                        <div class="actions">
                            <a href="#" ng-show="toogled.mainform" ng-click="toogled.mainform=!toogled.mainform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" ng-hide="toogled.mainform" ng-click="toogled.mainform=!toogled.mainform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-compress"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">

                            <div class="col-lg-12">
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': campaignForm.name.$invalid, 'ng-valid': campaignForm.name.$valid}">
                                    <label for="name" class="col-sm-4 control-label primary-font thin">{{ 'campaigns.form.name' | translate }}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="name" id="name" ng-model="model.name" placeholder="{{ 'campaigns.form.name.placeholder' | translate }}" required>
                                        <small class="help-block">{{ 'campaigns.form.name.descr' | translate }}</small>
                                        <small class="help-block error" ng-show="campaignForm.name.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>

                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': campaignForm.color.$invalid, 'ng-valid': campaignForm.color.$valid}">
                                    <label for="color" class="col-sm-4 control-label primary-font thin">{{ 'campaigns.form.color' | translate }}</label>
                                    <div class="col-sm-8">
                                        <input type="color" class="form-control" name="color" id="color" ng-model="model.color">
                                    </div>
                                </div>
                            </div>
                        

                            <div class="form-group col-lg-12" ng-class="{'ng-invalid': campaignForm.admins.$invalid, 'ng-valid': campaignForm.admins.$valid}">
                                <label for="admins" class="col-sm-2 control-label primary-font thin">{{ 'campaigns.form.admins' | translate }}</label>
                                <div class="col-sm-10">
                                    <select multiple class="form-control" name="admins" ng-model="model.admins" id="admins" ng-options="a.id as a.full for a in cached.admins">
                                    </select>
                                    <small class="help-block">{{ 'campaigns.form.admins.descr' | translate }}</small>
                                </div>
                            </div>

                            <div class="form-group col-lg-12" ng-class="{'ng-invalid': campaignForm.description.$invalid, 'ng-valid': campaignForm.description.$valid}">
                                <label for="description" class="col-sm-2 control-label primary-font thin">{{ 'campaigns.form.description' | translate }}</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" 
                                              ame="description" 
                                              placeholder="{{ 'campaigns.form.description.placeholder' | translate }}" i
                                              d="description" 
                                              rows="3" 
                                              ng-model="model.description" ></textarea>
                                    <small class="help-block">{{ 'campaigns.form.description.descr' | translate }}</small>
                                </div>
                            </div>

                            <div class="form-group col-lg-12" ng-class="{'ng-invalid': campaignForm.date_start.$invalid, 'ng-valid': campaignForm.date_start.$valid}">
                                <label for="name" class="col-sm-2 control-label primary-font thin">{{ 'campaigns.form.date_start' | translate }}</label>
                                <div class="col-sm-4">
                                    <p class="input-group">
                                        <input type="text" 
                                               class="form-control" 
                                               name="date_start" 
                                               datetime-picker="yyyy-MM-dd" 
                                               date-disabled=""
                                               max-date="model.date_end"
                                               ng-model="model.date_start" 
                                               ng-required="true"
                                               is-open="campaignDateStartOpen" 
                                               enable-time="false" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="campaignDateStartOpen = true"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <small class="help-block">{{ ::('campaigns.form.date.start.helper' | translate) }}</small>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 no-margin-bottom" ng-class="{'ng-invalid': campaignForm.date_end.$invalid, 'ng-valid': campaignForm.date_end.$valid}">
                                <label for="name" class="col-sm-2 control-label primary-font thin">{{ 'campaigns.form.date_end' | translate }}</label>
                                <div class="col-sm-4">
                                    <p class="input-group">
                                        <input type="text" 
                                               class="form-control" 
                                               name="date_end" 
                                               datetime-picker="yyyy-MM-dd" 
                                               date-disabled=""
                                               min-date="model.date_start"
                                               ng-model="model.date_end" 
                                               is-open="campaignDateEndOpen" 
                                               ng-required="true"
                                               enable-time="false"  />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="campaignDateEndOpen = true"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <small class="help-block">{{ ::('campaigns.form.date.end.helper' | translate) }}</small>
                                </div>

                            </div>
                            <div class="col-sm-10 col-md-offset-2" style="padding-left: 10px;">
                                <small class="help-block">{{ ::('campaigns.form.date.end.helper.descr' | translate) }}</small>
                            </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="box light bordered" ng-class="{'toogled': toogled.filters }">
                    <div class="box-title">
                        <div class="caption">
                            <span class="bold">
                                {{ ::('campaigns.widget.add.filters' | translate) }}
                            </span>
                        </div>
                        <div class="actions">
                            <a href="#" ng-show="toogled.filters" ng-click="toogled.filters=!toogled.filters" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" ng-hide="toogled.filters" ng-click="toogled.filters=!toogled.filters" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-compress"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">

                        <fieldset class="row-fluid">

                            <h4 class="primary-font bold">{{ ::('campaigns.form.system.fields' | translate) }}</h4>
                            <div class="form-group col-md-6" ng-repeat="field in filters.static" ng-class="{'ng-valid': model.filters.static[field.id].enabled}">

                                <label for="field-{{ ::field.id }}" class="col-sm-4 control-label primary-font thin">
                                    <span class="vertical-align-middle">{{ ::field.name }}</span>
                                    <input 
                                        type="checkbox" 
                                        ng-model="model.filters.static[field.id].enabled" 
                                        name="field-{{ ::field.id }}-enabled" 
                                        id="field-{{ ::field.id }}-enabled"  
                                        class="margin-left-5 vertical-align-middle"
                                    />
                                </label>
                                <div class="col-sm-8" ng-switch="field.type">

                                    <div ng-switch-when="text">
                                        <input 
                                            type="text" 
                                            ng-change="UpdateInputChange(model.filters.static[field.id])"
                                            ng-model="model.filters.static[field.id].value" 
                                            name="field-{{ ::field.id }}" 
                                            class="form-control" 
                                            id="field-{{ ::field.id }}"  
                                        />
                                        <small class="help-block" ng-show="!model.filters.static[field.id].value && model.filters.static[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>
                                    </div>

                                    <div ng-switch-when="select">

                                        <select 
                                            class="form-control input-sm" 
                                            ng-model="model.filters.static[field.id].value" 
                                            ng-change="UpdateInputChange(model.filters.static[field.id])"
                                            ng-options="o.id as o.name for o in field.options"
                                            multiple>
                                        </select>
                                        <small class="help-block" ng-show="!model.filters.static[field.id].value[0] && model.filters.static[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>

                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </fieldset>


                        <fieldset class="row-fluid" ng-repeat="group in filters.dynamic">
                            <h4 class="primary-font bold" ng-style="{'color': group.color }"> {{ ::group.name }}</h4>


                            <div class="form-group col-md-6" ng-repeat="field in group.fields" ng-class="{'ng-valid': model.filters.dynamic[field.id].enabled}">

                                <label for="field-{{ ::field.id }}" class="col-sm-4 control-label primary-font thin">
                                    <span class="vertical-align-middle">{{ ::field.name }}</span>
                                    <input 
                                        type="checkbox" 
                                        ng-model="model.filters.dynamic[field.id].enabled" 
                                        name="field-{{ ::field.id }}-enabled" 
                                        id="field-{{ ::field.id }}-enabled"  
                                        class="margin-left-5 vertical-align-middle"
                                    />
                                </label>
                                <div class="col-sm-8" ng-switch="field.type">

                                    <div ng-switch-when="text">
                                        <input 
                                            type="text" 
                                            ng-model="model.filters.dynamic[field.id].value" 
                                            ng-change="UpdateInputChange(model.filters.dynamic[field.id])"
                                            name="field-{{ ::field.id }}" 
                                            class="form-control" 
                                            id="field-{{ ::field.id }}"  
                                        />
                                        <small class="help-block" ng-show="!model.filters.dynamic[field.id].value && model.filters.dynamic[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>
                                    </div>
                                    
                                    <div ng-switch-when="phone">
                                        <input 
                                            pattern="(\(?\+?[0-9]*\.?\)?)?[0-9_\- \(\)]*"
                                            type="text" 
                                            ng-model="model.filters.dynamic[field.id].value" 
                                            ng-change="UpdateInputChange(model.filters.dynamic[field.id])"
                                            name="field-{{ ::field.id }}" 
                                            class="form-control" 
                                            id="field-{{ ::field.id }}"   
                                        />
                                        <small class="help-block" ng-show="!model.filters.static[field.id].value && model.filters.static[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>
                                    </div>

                                    <div ng-switch-when="textarea">
                                        <input 
                                            type="text" 
                                            ng-model="model.filters.dynamic[field.id].value" 
                                            ng-change="UpdateInputChange(model.filters.dynamic[field.id])"
                                            name="field-{{ ::field.id }}" 
                                            class="form-control" 
                                            id="field-{{ ::field.id }}"  
                                        />
                                        <small class="help-block" ng-show="!model.filters.dynamic[field.id].value && model.filters.dynamic[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>
                                    </div>

                                    <div ng-switch-when="radio">

                                        <select 
                                            class="form-control input-sm" 
                                            ng-model="model.filters.dynamic[field.id].value" 
                                            ng-change="UpdateInputChange(model.filters.dynamic[field.id])"
                                            multiple>
                                            <option value="">{{ 'form.empty' | translate }}</option>
                                            <option ng-repeat="o in field.options" value="{{ o.id }}">{{ o.value }}</option>
                                        </select>
                                        <small class="help-block" ng-show="!model.filters.dynamic[field.id].value[0] && model.filters.dynamic[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>

                                    </div>


                                    <div ng-switch-when="select">

                                        <select 
                                            class="form-control input-sm" 
                                            ng-model="model.filters.dynamic[field.id].value" 
                                            ng-change="UpdateInputChange(model.filters.dynamic[field.id])"
                                            multiple>
                                            <option value="">{{ 'form.empty' | translate }}</option>
                                            <option ng-repeat="o in field.options" value="{{ o.id }}">{{ o.value }}</option>
                                        </select>
                                        <small class="help-block" ng-show="!model.filters.dynamic[field.id].value[0] && model.filters.dynamic[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>


                                    </div>


                                    <div ng-switch-when="checkbox">

                                        <select 
                                            class="form-control input-sm" 
                                            ng-model="model.filters.dynamic[field.id].value" 
                                            ng-change="UpdateInputChange(model.filters.dynamic[field.id])"
                                            multiple>
                                            <option value="">{{ 'form.empty' | translate }}</option>
                                            <option ng-repeat="o in field.options" value="{{ o.id }}">{{ o.value }}</option>
                                        </select>
                                        <small class="help-block" ng-show="!model.filters.dynamic[field.id].value[0] && model.filters.dynamic[field.id].enabled">{{ ::('campaigns.form.filter.empty' | translate) }}</small>


                                    </div>

                                </div>


                            </div>


                            <div class="clearfix"></div>
                        </fieldset>



                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-12">
                <div class="text-center no-margin-top">
                    <button type="submit" ng-disabled="campaignForm.$invalid" class="btn btn-success btn-inverse">{{ ::('campaigns.button.add.new' | translate) }}</button>
                    <a ng-click="showMachedRecords()" class="btn btn-success btn-inverse">{{ ::('campaigns.button.refresh.table' | translate) }}</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>


        <div class="clearfix"></div>
    </div>
</div>



<div class="box light bordered" ng-show="showMachTable">
    <div st-pipe="callServer" st-safe-src="rawData" st-table="displayed">
        <div class="box-body">
            <input st-search="dummy" id="awesome-hiddenc-lient-search" type="hidden" />
            <table class="table table-striped table-hover align-vertical" id="leadsTable" highlight-active-table-header="border-bottom-red">
                <thead>
                    <tr>
                        <th>{{ ::('staticfields.id' | translate) }}</th>
                        <th>{{ ::('staticfields.name' | translate) }}</th>
                        <th>{{ ::('staticfields.status' | translate) }}</th>
                        <th>{{ ::('staticfields.email' | translate) }}</th>
                        <th>{{ ::('staticfields.phone' | translate) }}</th>
                        <th>{{ ::('staticfields.is_potential' | translate) }}</th>
                    </tr>
                </thead>
                <tbody block-ui="leadsTable">
                    <tr ng-repeat="row in displayed" class="showOnMouseOverContainer">

                        <td>
                            <a ui-sref="contacts.details.summary({id: row.id })">{{ ::row.id }}</a>
                        </td>
                        <td>
                            <a ui-sref="contacts.details.summary({id: row.id })">{{ ::row.name }}</a>
                        </td>
                        <td>
                            <span ng-bind-html="getStatusLabel(row.status_id)"></span>
                        </td>
                        <td>
                            <div>
                                {{ ::row.email }}
                                <a  ng-show="row.email" type="button" class="btn btn-icon-only btn-xs btn-primary pull-right showOnMouseOver"  ui-sref="contacts.details.emails({id: row.id })">
                                    <i class="icon-envelope-letter"></i>
                                </a>
                                <small class="text-muted" ng-hide="row.email">{{ ::('text.empty' | translate) }}</small>
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ ::row.phone }}
                                <a ng-show="row.phone" type="button" ng-click="whatsappGetURL(row.phone)"><i  class="fa fa-whatsapp"></i></a>
                                <a ng-click="openAsterishWidget(row.phone)" ng-show="row.phone && settings.config.integrations.asterisk" type="button" class="btn btn-icon-only btn-xs btn-primary pull-right showOnMouseOver">
                                    <i class="icon-call-end"></i>
                                </a>
                                <small class="text-muted" ng-hide="row.phone">{{ ::('text.empty' | translate) }}</small>
                            </div>
                        </td>
                        <td>
                            <span class="label label-sm" ng-style="{'background-color': getContactTypeColor(row.type_id)}">{{ getContactTypeName(row.type_id) }}</span>
                        </td>

                    </tr>
                    <tr ng-hide="displayed.length">
                        <td colspan="6">
                            <h4 class="text-center">
                                {{ 'table.empty.msg' | translate }}
                            </h4>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-left">

                            <span ng-hide="itemsLastNr == 0">
                                {{ 'table.pagination.display' | translate }} 

                                <div class="btn-group btn-group-xs btn-group-solid">
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                                </div>

                                {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr }} {{ 'table.pagination.to' | translate }} {{ itemsLastNr }} {{ 'table.pagination.of' | translate }} {{ itemsTotal }} {{ 'table.pagination.entries' | translate }}

                            </span>

                            <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>	

        </div>
    </div>
</div>