{# BEGIN HEADER MENU #}

<div class="top-menu">
    <div class="page-container">
        <div class="modulename">
            <div><span>{{ lang.translate( 'CRM' ) }}</span></div>
            <small>{{ lang.translate( 'Customer Relationship Manager' ) }}</small>
        </div>


        {# BEGIN LEFT SIDE MAIN NAVIGATION #}
        <div class="nav-menu">
            {# mg-navbar is main selector used to work on this navigation #}
            <ul class="nav navbar-nav mg-navbar">
                {% for navKey, nav in navigation %}
                    
                    {% set render = true %}
                    
                    {% if navKey == 'dynamicTypes' %}
                        
                        {% if nav and settings.dynamicTypes.navigation|length > 0 %}
                            {% for dnav in settings.dynamicTypes.navigation %}
                                    <li id="contacts-list-{{ dnav.id }}" ng-if="hasAccess(convertToCode('leads.{{dnav.name}}'))">
                                        <a 
                                            ui-sref="contacts.list({contactTypeID: {{ dnav.id }}})"
                                            data-target="#">
                                            {% if dnav.icon %}<i class="{{ dnav.icon }}"></i> {% endif %}
                                            <span>{{ dnav.name }}</span></a>
                                    </li>
                                    <li class="dropdown-separator" ng-if="hasAccess(convertToCode('leads.{{dnav.name}}'))">
                                        <span class="separator"></span>
                                    </li>
                            {% endfor %}
                        {% endif %}
                        {% set render = false %}
                        
                    {% endif %}
                    {% if navKey == 'dynamicTypesSubmenu' %}
                        
                        {% if nav.display and settings.dynamicTypes.submenu|length > 0  %}
                            <li class="menu-dropdown ">
                                <a data-hover="dropdown" data-delay="0" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                                    <i class="{{ nav.icon }}"></i> <span>{{ lang.translate( nav.translate ) }}</span> <i class="fa fa-angle-down dropdown-angle"></i>
                                </a>
                                <ul class="dropdown-menu contacts-list-dropdown">
                                {% for sub in settings.dynamicTypes.submenu %}
                                    <li id="contacts-list-sub-{{ sub.id }}" ng-if="hasAccess(convertToCode('leads.{{sub.name}}'))">
                                        <a 
                                            ui-sref="contacts.list({contactTypeID: {{ sub.id }}})"
                                            data-target="#"
                                        >
                                            {% if sub.icon %}
                                                <i class="{{ sub.icon }}"></i>
                                            {% endif %}
                                            {{ sub.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-separator">
                                <span class="separator"></span>
                            </li>
                        {% endif %}
                        
                        {% set render = false %}
                    {% endif %}
                    
                    {% if nav.acl %}
                        {% if not acl.hasAccess(nav.acl) %}
                            {% set render = false %}
                        {% endif %}
                    {% endif %}
                    
                    
                    {% if nav.submenu is empty and render %}
                        <li id="{{ nav.translate | replace({'.':'-'}) }}">
                            
                            <a  
                                {% if nav.sref %}
                                    ui-sref="{{ nav.sref }}"
                                {% elseif nav.href %}
                                    href="{{ nav.href }}"
                                {% else %}
                                    href="#"
                                {% endif %}
                                data-target="{{ nav.translate | replace({'.':'-'}) }} > a"
                                {% if nav.color %}style="color: {{ nav.color }};"{% endif %}><i class="{{ nav.icon }}" {% if nav.color %}style="color: {{ nav.color }};"{% endif %}></i> <span>{{ lang.translate( nav.translate ) }}</span></a>
                        </li>
                    {% elseif render %}
                        <li class="menu-dropdown ">
                            <a data-hover="dropdown" data-delay="0" data-close-others="true" data-toggle="dropdown" href="javascript:;" {% if nav.color %}style="color: {{ nav.color }};"{% endif %}>
                                <i class="{{ nav.icon }}" {% if nav.color %}style="color: {{ nav.color }};"{% endif %}></i> <span>{{ lang.translate( nav.translate ) }}</span> <i class="fa fa-angle-down dropdown-angle"></i>
                            </a>
                            
                            <ul class="dropdown-menu">
                                
                            {% for sub in nav.submenu %}
                                
                                {% set render = true %}
                                {% if sub.acl %}
                                    {% if not acl.hasAccess(sub.acl) %}
                                        {% set render = false %}
                                    {% endif %}
                                {% endif %}
                                
                                {% if sub.acl == 'other.access_migrator' and not settings.isMigrationAvailable %}
                                    {% set render = false %}
                                {% endif %}
                                
                                {% if render %}
                                    <li id="{{ sub.translate | replace({'.': '-'}) }}">
                                        <a 
                                            {% if sub.sref %}
                                                ui-sref="{{ sub.sref }}"
                                            {% elseif sub.href %}
                                                href="{{ sub.href }}"
                                            {% else %}
                                                href="#"
                                            {% endif %}
                                            data-target="#{{ nav.sref }}"
                                            {% if sub.target %}target="_blank"{% endif %}
                                            {% if sub.color %}style="color: {{ sub.color }};"{% endif %}
                                        >
                                            {% if sub.icon %}
                                                <i class="{{ sub.icon }}" {% if sub.color %}style="color: {{ sub.color }};"{% endif %}></i>
                                            {% endif %}
                                            {{ lang.translate( sub.translate ) }}
                                        </a>
                                    </li>
                                {% endif %}
                                
                            {% endfor %}
                            </ul>
                        </li>
                    {% endif %}

                    
                    
                    
                    {% if not loop.last and render  %}
                        <li class="dropdown-separator">
                            <span class="separator"></span>
                        </li>
                    {% endif %}
                {% endfor %}
                
                
            </ul>

        </div>
        {# END LEFT SIDE MAIN NAVIGATION #}
        
        
        {# BEGIN RIGHT SIDE MENU #}
        <div class="nav-menu nav-menu-right">
            {# BEGIN MODULES GARDEN LOGO #}
            <div class="modulename-logo">
                <a href="http://www.modulesgarden.com" target="_blank">
                    <img src="{{ settings.templates.rootDir }}/assets/img/mg-logo.png" alt="logo" class="logo-default">
                    <img src="{{ settings.templates.rootDir }}/assets/img/mg-logo-cog.png" alt="logo" height="29" width="29" class="logo-default-cog">
                </a>
            </div>
            {# END MODULES GARDEN LOGO #}
            <ul class="nav navbar-nav navbar-right">
                
                {% if settings.templates.renderStandalone  %}
                    <li>
                        <a href="{{ settings.templates.appAdminDir }}" style="padding-top: 21px;">
                            <img src="{{ settings.templates.rootDir }}/assets/img/whmcs.png" alt="Bak to WHMCS" height=18" style="height: 18px;">
                        </a>
                    </li>
                {% endif %}
                
                {#
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown dropdown-extended dropdown-notification">
                    <a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-default">3</span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="external">
                            <h3>You have <strong>3</strong>/10 notifications</h3>
                            <a href="javascript:;">Mark as read</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">read</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-success">
                                    <i class="fa fa-plus"></i>
                                    </span>
                                    odbierz TEL </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">read</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-danger">
                                    <i class="fa fa-bolt"></i>
                                    </span>
                                    pierdol sie. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">read</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-warning">
                                    <i class="fa fa-bell-o"></i>
                                    </span>
                                    Server #2 not responding. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">14 hrs</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-info">
                                    <i class="fa fa-bullhorn"></i>
                                    </span>
                                    Application error. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">2 days</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-danger">
                                    <i class="fa fa-bolt"></i>
                                    </span>
                                    Database overloaded 68%. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">3 days</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-danger">
                                    <i class="fa fa-bolt"></i>
                                    </span>
                                    A user IP blocked. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">4 days</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-warning">
                                    <i class="fa fa-bell-o"></i>
                                    </span>
                                    Storage Server #4 not responding dfdfdfd. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">5 days</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-info">
                                    <i class="fa fa-bullhorn"></i>
                                    </span>
                                    System Error. </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    <span class="time">9 days</span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-danger">
                                    <i class="fa fa-bolt"></i>
                                    </span>
                                    Storage server failed. </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> 
                <!-- END TODO DROPDOWN -->
                <li class="droddown dropdown-separator">
                    <span class="separator"></span>
                </li>
                #}
                {% if not settings.templates.renderStandalone  %}
                    <li><a href="#" class="full-screen-module-toogle"><i class="icon-size-fullscreen"></i>&nbsp;</a></li>
                {% endif %}
                
            </ul>
        </div>
        {# END RIGHT SIDE MENU #}
    
        <div class="clearfix"></div>
    </div>
</div>
    
{# END HEADER MENU #}
