
.mg-datapicker {
    padding: 6px 12px 6px 12px !important;
    display: flex !important;
    position: relative !important;
    margin: 0 !important;
}
.mg-datapicker:after {
    background-color: #fff !important;
}

.md-input-action {
    top: 6px !important;
}

.mg-copy-component-field {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
}

.mg-copy-component-span:hover {
    cursor: pointer;
}

#contentarea > div > h1 {
    display: none!important;
}

#layers .lu-app .lu-btn--default,
#layers .lu-app .lu-btn--danger {
    color: #737880;
}

#layers .lu-app .vue-app-main-modal-container .lu-btn--danger:not(.lu-btn--outline) {
    color: #fff;
}

#layers .lu-app .lu-btn--default:hover {
    color: #505459;
}

#layers .vueDatatableTable .mgTableActions label {
    display: block;
    margin-bottom: auto;
    margin-top: auto;    
}

/*FIX PRELOADER IN SUBMIT BUTTON*/
#layers .lu-btn.mg-submit-form .lu-btn__icon.lu-preloader {
    margin: 0 0 0 0;
}

/*fix to long modal*/
#layers .lu-app .lu-modal {
    display:  grid!important;
}

/*fix mobile menu */
#layers .lu-off-canvas-responsive--right:not(.is-open) {
    margin-right: -5000px;
}

/*FIX AA TOP MENU*/

#layers .lu-preloader-container--full-screen {
    z-index: 9999;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item:not(.has-dropdown) > .lu-nav__link > .drop-arrow {
    height: 32px;
    width: 32px;
    bottom: -18px;
    right: 50%;
    margin-right: -24px;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item:not(.has-dropdown) > .lu-nav__link > .drop-arrow:after {
    left: 8px;
    width: 16px;
    height: 16px;
    top: 8px;
    background: #e9ebf0;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.05) inset;
    border-radius: 3px;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item:not(.has-dropdown).is-active .drop-arrow {
    display: block;
    z-index: 99;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item.has-dropdown > .lu-nav__link > .drop-arrow {
    height: 32px;
    width: 32px;
    bottom: -18px;
    right: 50%;
    margin-right: -24px;
    z-index: 99;
    display: none;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item.has-dropdown > .lu-nav__link > .drop-arrow:after {
    left: 8px;
    width: 16px;
    height: 16px;
    top: 8px;
    background: #e9ebf0;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.05) inset;
    border-radius: 3px;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item.has-dropdown.is-active .drop-arrow {
    display: block;
    z-index: 99;
    animation: none;
}


/*FIX AA TOP MENU END*/

/* RED loader for delete buttons */
#layers .lu-btn--danger .lu-preloader:before {
    border-top-color: rgb(244, 62, 62);
}

/* GREEN loader for submit buttons */
#layers .lu-btn--success .lu-preloader:before {
    border-top-color: rgb(98, 202, 95);
}

/* selectize css fixes */
#layers .selectize-control.multi .item {
    padding: 0 8px;
    margin: 0 4px 4px 0;
    background: #e9ebf0;
    line-height: 24px;
}

#layers .selectize-control.multi .item a {
    padding-top: 0px;
    color: #2368AD;
    transition: color 0.3s;
}

#layers .selectize-control.multi.plugin-remove_button .item > a:hover {
    background: rgba(0, 0, 0, 0.05);
}

#layers .selectize-control.multi .item.active {
    color: #333;
}

#layers .selectize-control.multi .selectize-input {
    padding-bottom: 0px;
    padding-left: 4px;
    display: block;
}
/* end of selectize css fixes */

/* Breadcumbrs / styles */
#layers .lu-breadcrumb__item:before {
    padding: 0 2px 0 8px;
}
/* End of breadcumbrs / styles */

/* Form in tab styles */
#layers .mg-form-in-tab .ui-form-submit {
    padding-bottom: 20px;
}

#layers .mg-form-in-tab .mg-tab-form-wrapper {
    padding-left: 8px;
    margin-right: 8px;
}
/* End of Form in tab styles */

/* Modal Background */
#layers .lu-modal.show {
    background-color: rgba(80, 84, 89, 0.5);
}
/* End of Modal Background */

/* Show Allerts on top of new modal background */
#layers-body #toast-container,
#layers #toast-container {
  z-index: 1102;
}
/* End of Show Allerts on top of new modal background */

/* force break lines on lu-list--info */
#layers .lu-list--info .lu-list__value {
    word-break: break-all;
}
/* end of force break lines */

/* form validation display fixes */
#layers .lu-form-group.lu-is-error .lu-input-group input {
    border: none;
}
/* end of form validation display fixes */
