.frame-blue-radius {
	background:#0f417a!important;
	width:100%!important;
	display:block!important;
	color:#fff!important;
	font-size:16px!important;
	font-weight:normal!important;
	text-align:center!important;
	padding:10px!important;
	margin:0!important;
	box-sizing:border-box!important;
	-webkit-border-top-left-radius: 3px!important;
	-webkit-border-top-right-radius: 3px!important;
	-moz-border-radius-topleft: 3px!important;
	-moz-border-radius-topright: 3px!important;
}
.frame-content {
	background:#175296!important;
	width:100%!important;
	display:block!important;
	padding:10px!important;
	color:#fff!important;
	font-size:12px!important;
	text-align:center!important;
	box-sizing:border-box!important;
}
.frame-content p {
	margin:0!important;
}
.p-green {
	color:#7fd802!important;
	font-weight:bold!important;
}
.table-widget {
	width:100%!important;
	color:#626262!important;
	border-bottom:1px #efefef solid!important;
}
.table-widget thead {
	background:#efefef!important;
	font-size:11px!important;
	font-weight:bold!important;
	text-transform:uppercase!important;
}
.table-widget thead th {
	text-align:left!important;
	padding:8px 10px 5px 10px!important;
}
.table-widget tbody td {
	border-top:1px #e2eae9 solid!important;
}
.table-widget tbody tr:nth-child(even) {
	background:#f9f9f9!important;
}
.table-widget tbody tr:nth-child(odd) {
	background:#fff!important;
}
.table-widget tbody td {
	font-size:13px!important;
	padding:8px 10px!important;
}
.check-it {
	background:#7fd802!important;
	display:inline-block!important;
	color:#fff!important;
	font-size:13px!important;
	text-decoration:none!important;
	-webkit-border-radius: 3px!important;
	-moz-border-radius: 3px!important;
	border-radius: 3px!important;
	padding:2px 5px!important;
	margin-left:20px!important;
        white-space: nowrap;
} 

.mgPromoBox {
	background:#0f417a!important;
	padding:1px!important;
	box-sizing:border-box!important;
	border-top-left-radius: 4px!important;
	border-top-right-radius: 4px!important;
}

.mgPromoBox > a > img {
    max-width: 100%;
}
