{**********************************************************************
* ModuleFramework product developed. (2017-09-08)
* *
*
*  CREATED BY MODULESGARDEN       ->       http://modulesgarden.com
*  CONTACT                        ->       contact@modulesgarden.com
*
*
* This software is furnished under a license and may be used and copied
* only  in  accordance  with  the  terms  of such  license and with the
* inclusion of the above copyright notice.  This software  or any other
* copies thereof may not be provided or otherwise made available to any
* other person.  No title to and  ownership of the  software is  hereby
* transferred.
*
*
**********************************************************************}

{**
* @author Mateusz Pawłowski <mateusz.pa@modulesgarden.com>
*}


{$MGLANG->absoluteT('addonCA','charge','Total')}:  &nbsp;<strong>{$rawObject->getTotal()}</strong><br />
{if $rawObject->getGatewayCharge()}
    {if $rawObject->isDiscount()}
        {$MGLANG->absoluteT('addonCA','charge','discountCheckout')}
    {else}
        {$MGLANG->absoluteT('addonCA','charge','chargeCheckout')}
    {/if}
    : &nbsp;<strong>{$rawObject->getGatewayCharge()}</strong><br />
{/if}
{$rawObject->getDueDateLang()}:  &nbsp;<strong>{$rawObject->getTotalDueDate()}</strong>