<div class="row">
    
    <div class="col-md-12">
        <note ng-repeat="m in scopeMessages" type="{{m.type}}" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>
        
        <div ng-show="adminRoles.length == 0" class="note note-danger" ng-bind-html="::('settings.permisions.no.available.roles' | translate)">
        </div>
    </div>

    <div class="col-md-12" ng-hide="currentlyEdit">

        <div class="box light bordered">
            <div class="box-title">
                <div class="caption">
                    <span class="bold font-green uppercase">
                        {{ 'settings.permissions.new.role.widget' | translate }}
                    </span>
                </div>
                <div class="actions">
                    <a href="javascript:;" ng-show="formHidden" ng-click="formHidden=false" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="javascript:;" ng-hide="formHidden" ng-click="formHidden=true" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                        <i class="fa fa-compress"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only fullscreen">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="box-body" ng-hide="formHidden" block-ui="formSubmitNewBlock" style="min-height: 100;">

                <div ng-show="formSubmitDone" class="note note-success">
                    <h4 class="note-title no-margin">
                        {{ 'settings.permissions.new.role.success' | translate }}
                    </h4>
                </div>
                                                
                <form name="$parent.groupform" novalidate valid-submit="formSubmitNew()" role="form" class="form-horizontal">
                    <fieldset>

                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'ng-invalid': ($parent.submitted && groupform.name.$invalid), 'ng-valid': ($parent.submitted && groupform.name.$valid)}">
                                <div class="col-sm-12">
                                    <div class="col-sm-2 control-label">
                                        <label class="primary-font font-sm thin" for="name">{{ 'form.name' | translate }}</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" ng-model="newGroup.name" required class="form-control" id="name" placeholder="{{ 'settings.permissions.new.role.name.placeholder' | translate }}">
                                        <small class="help-block error" ng-show="$parent.submitted && groupform.name.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-10"ng-class="{'ng-invalid': ($parent.submitted && groupform.description.$invalid), 'ng-valid': ($parent.submitted && groupform.description.$valid)}">
                            <div class="col-sm-6">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="description">{{ 'form.description' | translate }}</label>
                                </div>
                                <div class="col-sm-10">
                                    <textarea name="description" ng-model="newGroup.description" class="form-control vertical-textarea" id="description" placeholder="{{ 'settings.permissions.new.role.descr.placeholder' | translate }}" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group no-margin-bottom">
                            <div class="col-sm-12 text-center">
                                <button type="submit" ng-click="$parent.submitted=true" class="btn btn-success btn-inverse">
                                    {{ 'form.add' | translate }}
                                </button>
                            </div>
                        </div>
                        
                    </fieldset>
                </form>

                <div class="clearfix"></div>


            </div>
        </div>


    </div>
    
    
    <div class="col-md-12" ng-hide="currentlyEdit">
        <div class="box light bordered">
            <div class="box-title">
                
                <div class="caption">
                    <span class="caption-subject bold uppercase">{{ 'settings.permissions.roles.widget' | translate }}</span>
                </div>
                

                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                      <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                
                <style>
                    .editable-checklist label {
                        display: block;
                      }
                </style>
                
                <div class="container-fluid raw" block-ui="permisionRolesTable">
                
                    <table class="table table-hover table-light table-striped table-height-input-sm">
                        <thead>
                            <tr>
                                <th width="5%">
                                    {{ 'table.th.id' | translate }}
                                </th>
                                <th width="20%">
                                    {{ 'table.th.name' | translate }}
                                    Name
                                </th>
                                <th width="50%">
                                    {{ 'settings.permissions.roles.th.descr' | translate }}
                                </th>
                                <th width="15%">
                                    {{ 'settings.permissions.roles.th.admin' | translate }}
                                </th>
                                <th width="10%">
                                    {{ 'table.th.actions' | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="role in roles" ng-class="{warning: currentlyEdit.id == role.id}">
                                <td>
                                    {{ role.id  }}
                                </td>
                                <td>
                                    <a href="#" editable-text="role.name"  ng-model="role.name" onaftersave="sentModelToUpdate($index, 'name', $data)">{{ role.name || "empty" }}</a>
                                </td>
                                <td>
                                    <a href="#" editable-text="role.description"  ng-model="role.description" onaftersave="sentModelToUpdate($index, 'description', $data)">{{ role.description || "empty" }}</a>
                                </td>
                                <td>
                                    <a href="#" editable-checklist="role.admin_groups" e-ng-options="role.id as role.name for role in adminRoles | filter:filterRolesMatchAndUsed(role.admin_groups)" onaftersave="sentModelToUpdate($index, 'admin_groups', $data)">
                                        <span ng-repeat="r in adminfilterredRoles = (adminRoles | filter:filterRolesMatch(role.admin_groups) )">{{ r.name }} <br ng-hide="$last" /></span>
                                        <span ng-hide="adminfilterredRoles.length">{{ 'text.not.assigned' | translate }}</span>
                                    </a>
                                    <small class="text-muted" style="display: block;" ng-if="(adminRoles | filter:filterRolesMatchAndUsed(role.admin_groups)).length == 0">{{ ::('settings.permissions.roles.not.possible' | translate) }}</small>
                                </td>
                                <td class="text-left">
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-primary btn-icon-only" ng-click="managePermissions($index)">
                                            <i class="icon-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-icon-only" ng-click="confirmDelete($index)">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </div>
                                </td>
                                <tr ng-hide="roles.length">
                                    <td colspan="5" class="text-center">{{ 'settings.permissions.roles.empty' | translate }}</td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                
                </div>
                
            </div>
        </div>
    </div>
    

    <div ng-show="currentlyEdit" class="col-md-12">
        <form name="roleAccess" novalidate ng-submit="roleAccessUpdate(currentlyEdit)" role="form">


            <div class="box light bordered">
                <div class="box-title">
                    <div class="caption">
                        <span class="font-red-thunderbird uppercase">
                            {{ 'settings.permissions.for' | translate }} <strong>{{ currentlyEdit.name }}</strong>
                        </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-sm">
                            <button type="button" ng-click="roleAccessFormUpdateAll(false)" class="btn btn-inverse btn-icon-only"><i class="fa fa-square-o"></i></button>
                            <button type="button" ng-click="roleAccessFormUpdateAll(true)" class="btn btn-inverse btn-icon-only"><i class="fa fa-check-square-o"></i></button>
                            <button type="submit" class="btn btn-green-cyan btn-inverse" style="height: 26px;">{{ 'form.update' | translate }}</button>
                            <button type="button" class="btn btn-grey-medium btn-inverse" ng-click="roleAccessFormCancel()" style="height: 26px;">{{ 'form.cancel' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <note ng-repeat="m in updateMessages" type="{{m.type}}" dismiss="false"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>
                    
                    <div class="col-md-4" ng-repeat="rolegroup in availableRules" ng-show="rolegroup.rolegroup.children.length != 0">
                        <div class="box light bordered">
                            <div class="box-title">
                                <div class="caption">
                                    <span class="caption-subject bold uppercase">{{ rolegroup.name | translate }}</span>
                                </div>
                                <div class="actions">
                                    <a ng-click="roleAccessFormUpdateGroup(rolegroup.rule, false)" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only">
                                        <i class="fa fa-square-o"></i>
                                    </a>
                                    <a ng-click="roleAccessFormUpdateGroup(rolegroup.rule, true)" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only">
                                        <i class="fa fa-check-square-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group" ng-repeat="child in rolegroup.children" style="margin-bottom: 0;">
                                    <label>
                                        <input type="checkbox" ng-model="currentlyEdit.parsedRules[rolegroup.rule][child.rule]" value="1" /> 
                                        {{ child.name | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>


                </div>
            </div>

            

        </form>
    </div>
</div>










    
