<div class="col-sm-12">
    <legend style="font-size:large;" {if $addIDs}id="{$addIDs}_{$name}"{/if} {foreach from=$dataAttr key=dataKey item=dataValue}data-{$dataKey}="{$dataValue}"{/foreach} >{$MGLANG->T({$nameAttr})}</legend>
</div>
