<a class="mgactionbutton btn btn-mini btn-info label" href="javascript:editProject({$pid});">{$language->translate('Edit')}</a>
<a class="mgactionbutton btn btn-mini btn-danger label" href="javascript:deleteProject({$pid});">{$language->translate('Delete')}</a>