<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WHMCS - Viewing Email Message</title>
        <link rel="stylesheet" type="text/css" href="{{ settings.whmcsDir }}assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ settings.whmcsDir }}assets/css/font-awesome.min.css" />
        <link href="{{ settings.appAdminDir }}templates/blend/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ settings.whmcsDir }}assets/css/jquery-ui.min.css" />
        <script type="text/javascript" src="{{ settings.whmcsDir }}assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ settings.whmcsDir }}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ settings.whmcsDir }}assets/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ settings.whmcsDir }}assets/js/textext.min.js"></script>
        <script type="text/javascript">
            var datepickerformat = "";
            $(document).ready(function () {
                $(".datepick").datepicker({
                    dateFormat: "dd/mm/yy",
                    showOn: "button",
                    buttonImage: "images/showcalendar.gif",
                    buttonImageOnly: true,
                    showButtonPanel: true,
                    showOtherMonths: true,
                    selectOtherMonths: true
                });
            });
        </script>
        <script type="text/javascript" src="{{ settings.appAdminDir }}templates/blend/head.js"></script>
    </head>
    <body class="popup-body">
        <div class="popup-content-area">
            <table width="100%" bgcolor="#ffffff" cellpadding="15"><tr><td>
                    {% if isSend == true %}
                        <h2>{{ email.subject }}</h2>

                        {{ email.message|raw }}
                    {% else %}
                        <h2>{{ email.title }}</h2>

                        {{ email.content|raw }}    
                    {% endif %}
                </td></tr></table>
        </div>
    </body>
</html>