{**********************************************************************
* ModuleFramework product developed. (2017-08-24)
* *
*
*  CREATED BY MODULESGARDEN       ->       http://modulesgarden.com
*  CONTACT                        ->       contact@modulesgarden.com
*
*
* This software is furnished under a license and may be used and copied
* only  in  accordance  with  the  terms  of such  license and with the
* inclusion of the above copyright notice.  This software  or any other
* copies thereof may not be provided or otherwise made available to any
* other person.  No title to and  ownership of the  software is  hereby
* transferred.
*
*
**********************************************************************}

{**
* @author Sławomir Miśkowicz <slawomir@modulesgarden.com>
*}

<div class="container {$class}" id="{$elementId}" {foreach from=$htmlAttributes key=name item=data} {$name}="{$data}"{/foreach}>
  <h2>{$title}</h2>
    <div class="row">
        {foreach from=$elements key=nameElement item=dataElement}
            <div id="{$dataElement-getId()}" class="{$dataElement->getClass()}">
                {$dataElement->getHtml()}
            </div>
        {/foreach}
    </div>
</div>
    
{if $scriptHtml}
    <script type="text/javascript">
        {$scriptHtml}
    </script>
{/if}

