/*!
 * Virtualizor Style Sheet
 *
 * Copyright Virtualizor
 */
 
body{
font-family: 'Poppins', sans-serif;
font-size: 13px;
overflow-y: scroll;
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar { /* WebKit */
width: 0;
height: 0;
}

::selection{
background-color: #8b01fc;
color:#fff
}

/* hf_theme.php the top row*/
#loading{
position:fixed;
color: #65686a;
display:none;
z-index:1000000;
}

#loading-spinner{
position:fixed;
overflow: visible;
margin: auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

/* Transparent Overlay */
#loading:before {
content: '';
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.3);
}

.left_menu{
border-right:1px solid #CCCCCC;
background-color: #242a33;
}

.sidebar-nav{
height: 100vh;
}

.left_menu .sidebar-nav a:link{
display:block;
padding:10px 15px;
text-decoration: none;
font-size:12px;
width:inherit;
}

.left_menu a:link, .left_menu .sidebar-nav a:visited, .useful-links .user-details, .useful-links i{
color:#b9bfc7;
}

.left_menu .sidebar-nav a:hover{
color:#ffffff;
-webkit-transition: all ease-in .2s;
transition: all ease-in .2s;
}

.left_menu .sidebar-nav a:link .lm_names{
font-size: 14px;
vertical-align: middle;
}

.left_menu_i{
width: 25px;
display: inline-block;
vertical-align: middle;
}

.left_height{
min-height: 590px;
}

#footer{
border-top:1px solid #DDDDDD;
padding:20px;
}

a.alink:link,
a.alink:visited,
a.alink:active{
color: #333333;
text-decoration: underline;
}

a.alink:hover{
color: #000000;
}

a:hover{text-decoration: none;}

/* Icons */
.sysyellow{color: #FFFF00;}
.sysred{color: #FF0000;}
.sysgreen{color: #009900;}
/* End Icons */

.windows, .khidki{
display:none;
}

.notice{
width: 100%;
color: #65686a;
background-color: #FFF3E0;
border: 1px solid #FF9800;
border-radius: 4px;
font-size:13px;
padding:8px;
text-align:center;
margin-bottom: 20px;
}

.fhead{
font-weight:bold;
color:#333333;
}

input[type="number"] {
	outline: none;
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	appearance: none;
}

input[type=text],
input[type=textbox],
textarea, select,
input[type=password]{
background: #fff;
font-size: 12px;
color:#455a64;
border: 1px #CCCCCC solid;
transition: background 0.3s linear;
-webkit-transition: background 0.3s linear;
outline:none;
}

input[type=text]:hover, textarea:hover, input[type=password]:hover, input[type=text]:focus, textarea:focus, input[type=password]:focus {
background: #FAFCFE;
border-color: rgba(82, 168, 236, 0.8);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
}

input:disabled, textarea:disabled, select:disabled{
color: #999;
}

input[type="button"]:disabled, input[type="submit"]:disabled, input[type="number"]:disabled, button:disabled, input[type="text"]:disabled {
cursor:not-allowed;
}

.h1{font-size:35px;}
.h2{font-size:25px;}
.h3{font-size:20px;vertical-align:middle;}
.h4{font-size:15px;font-weight: bold;}
.h5{font-weight:bold;font-size:13px;color:#333333;}

/* Choose and Selectable */
.choose, .choose_selected{
font-size:18px;
font-weight: bold;
text-decoration:none;
text-align: center;
}

.choose_selected{
background-color: #E2F4FE;
}

.choose a:link, .choose a:visited, .choose a:active, .choose a:hover, .choose_selected a:link, .choose_selected a:visited, .choose_selected a:active, .choose_selected a:hover, #footer a,
a.green_but_a{
text-decoration:none;
}

/* End Form Style */

#shead, .left_menu, #footer, .additional-btn{
display:none;
}

/* PageLinks */
#pagejump{
position:absolute;
top:0px;
left:0px;
display:none;
z-index:1000000;
padding:6px;
border:1px solid #DEDCD1;
background-color:#DAEBFE;
}

.page-link{
color:#396afc;
}

.page-item.active .page-link {
background-color: #396afc;
border-color: #396afc;
}

.pagination-top{
margin-bottom:10px;
}

.pagination-bottom{
margin-top:10px;
margin-bottom: 20px;
}

/* End PageLinks */

/* Start Login Style */

.login_txt{
color: #666;
}

.login_input{
font-size:18px !important;
padding:6px;
width: 100%;
color:#666666;
border-radius: 4px 4px 4px 4px;
}

.loginhead{
font-size: 35px;
text-align: center;
font-weight: bold;
color: #444444;
z-index: 1;
}

.loginmap{
height: 100vh;
background:#1d1d1d;
background-image: url(../images/map.gif);
background-repeat: no-repeat;
background-size: 80%;
background-position: center center;
}

.login-form{
width: 30%;
margin:0px auto;
padding:40px;
background-color:#fff;
z-index: 1;
border-radius: 10px;
box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
-o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
-ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.loginmap{
width:100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

/* End Login */

/* Styling for IP counts */

span.ip_count {
color: white;
padding:3px 5px;
font-size: 12px;
border-radius: 25%;
background-color: #000;
text-align: center;
cursor: pointer;
width: auto;
}

/* New theming starts from here */

/* General Theme Classes */

.table > tbody > tr > td, .fa-3x {
vertical-align:middle;
}

.medium{
color:#333;
}
/* End General Theme Classes */

/* Table sorter CSS Starts here */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
border: 1px solid #FFF;
text-align:center;
}
table.tablesorter thead tr .header {
background-repeat: no-repeat;
background-position: center right;
cursor: pointer;
}

table.tablesorter tbody td {
color: #3D3D3D;
}

/* Table sorter CSS Ends here */

.green_but {
-moz-box-shadow:inset 0px 1px 0px 0px #06d79c;
-webkit-box-shadow:inset 0px 1px 0px 0px #06d79c;
box-shadow:inset 0px 1px 0px 0px #06d79c;
background-color:#06d79c;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:1px solid #06d79c;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-weight: 500;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #06d79c;
}
.green_but:hover {
background-color:#06d79c;
-webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
border: 1px solid #06d79c;
}
.green_but:active {
position:relative;
top:1px;
}
.green_but_small{
font-size:11px;
padding:3px 12px;
}
a.green_but_a:hover, a.green_but_a:active, a.green_but_a:visited, a.green_but_a:focus{
color:#fff;
}

/* Server stats css starts here */

.progress.disk-bar{
height: 6px;
margin-top: 25px;
margin-bottom: 20px;
border-radius: 6px;
-webkit-box-shadow: none;
box-shadow: none;
}

.prog-organge{
background-color: #FF4500;
}

.cpu_axis{
color:#000;
}
/* Server stats css ends here */

/* bwband_holder1 legend css starts here */
#chartLegend, #bw_monthly_chartLegend, #nw_speed_chartLegend{
padding-top:8px;
}

#chartLegend td, #bw_monthly_chartLegend td, #nw_speed_chartLegend td{
padding:3px;
}
/* bwband_holder1 legend css ends here */

/* BW monthly chart css starts here */
#bw_monthly_body{
position: relative;
display: inline-block;
}
/* BW monthly chart css ends here */


/* Left side body css starts here */
.panel-head.gray{
background: none repeat scroll 0 0 #e1e1e1;
}
.panel-head{
border-radius: 0;
padding: 1px;
}
.panel-head.gray h5 {
color: #444;
padding-left:5px;
}

.stats-box{
text-align:center;
padding:15px 0px;
height:85px;
border: 1px solid #dee2e6;
}

.stats-box:hover{
border: 1px solid #589FFC;
}

.stats-box span{
display:block;
}

/* Left side body css ends here */

/* form element bg starts */

.head .h3{
margin-bottom:30px;
color:#666;
}

.gray-txt{
color:#666;
}

.head{
margin-bottom:40px;
text-align: center;
}
.head > i{
color:#666;
margin-right: 10px;
font-size:40px;
}

.adv_border{
border:1px solid #ccc;
}

/* form rlemet bg ends */

/* CSS for MEDIA QUERY starts */

@media screen and (max-width: 500px) {
	
.lm_names {display: none;}
.left_menu a:link, .left_menu a:visited, .left_menu a:active{width:50px;}

}

/* CSS for MEDIA QUERY Ends */

/*********************************/
/****** PASSWORD STRENGTH METER***/
/*********************************/

.pass-strength {
background-color: #e5e5e5;
border:1px solid #ddd;
display: block;
padding: 3px 5px;
text-align: center;
width: 200px;
}

.pass-strength.bad {
color:#ffffff;
background-color: #ef5350;
border-color: #ef5350;
}

.pass-strength.good {
background-color: #ffec8b;
border-color: #fc0;
}

.pass-strength.short {
background-color: #ffa0a0;
border-color: #f04040;
}

.pass-strength.strong {
color:#ffffff;
background-color: #06d79c;
border-color: #06d79c;
}

@media (max-width: 1024px) {

.additional-btn{display: none;}

}

/* Graph cpu ram ntw disk inode legend css starts here */

.legend_container td{
padding:3px;
}

/* tasking page related css starts */

table.tasks_table tbody td{
vertical-align: top;
color: #455a64;
border-bottom: 1px solid #dcdada;
}

/* tasking page related css ends */

/* ListVS page related css starts */
.vpsmenu{

position: absolute;
width:150px;
left: 20px;
top:-6px !important;
z-index: 10;
background-color: #fff;
background-clip: padding-box;
padding: 5px 0px 10px 0px;
border: 1px solid #ccccd1;
border-radius: 4px;
transition: 0.3s;
box-shadow: 0 3px 12px #9e9ea0;
}

.vpsmenubg {
background: none repeat scroll 0 0 #ffffff;
text-align: center;
vertical-align: middle;
padding: 5px 1px;
}

.vpsmanagemenu{
background: none repeat scroll 0 0 #858585;
display: none;
padding: 6px;
position: absolute;
top: -8px;
left: -105px;
width: 100px;
z-index: 10;
}

.vpsmanagemenubg{
background: none repeat scroll 0 0 #ffffff;
text-align: center;
vertical-align: middle;
padding: 5px 5px;
}

/*Info bar at top of ListVS page on Enduser panel*/

/* ListVS page related css ends */

/*** HAProxy (managevdf) CSS Starts ***/
#processing_symb{
position: fixed;
top: 25%;
left: 45%;
display: none;
z-index: 10000;
}

#processing_symb img{
width: 50%;
}

.vdf_delete, .vdf_edit .fa, .vdf_save .fa{
padding: 5px;
cursor: pointer;
}

#vdf_infobox{
display: none;
}

#addvdf_form_div .row div[class^=col]{
padding: 2px;
}

.select2-dropdown{
z-index: 10001;
}
.chosen-single{
height:32px;text-align:center; padding-top: 30px;
}
.tbl_actions{
min-width: 100px;
}
/*** HAProxy (managevdf) CSS Ends ***/


/* OS reinstall start  */
.os_badge {
border: 1px solid #ccc;
cursor: pointer;
transition: height 0.5s;
border-radius: 3px;
position: relative;
}

#os_list .dropdown-menu{
max-height: 200px;
overflow-y: auto;
}

.os_badge_list a{
color:#576170;
text-decoration: none;
outline: none;
display:block;
padding:8px;
background-color: #fff;
}

.os_badge_list a:hover {
color:#2f3235;
background-color: #f9f6f6;
}

.os_badge_list .SelectedOS{ 
color: #ffffff;
background-color: #2196F3;
}

.os_badge.selected .version,
.os_badge.selected .distro_name.media-heading, .os_badge.selected i{
color:#ffffff;
}
	
.os_badge.selected {
color: #fff;
background-color: #06d79c;
}

.os_badge i {
position: absolute;
top: 26px;
right: 16px;
color: #aaa;
}

.os_badge .media-left {
padding: 8px;
}

.os_badge .media-body {
vertical-align: middle;
padding: 8px;
}

.os_badge .version {
color: #888;
}

.os_badge.expanded {
position: relative;
z-index: 999;
}

.os_badge .dropdown-toggle::after{
content: none;
}

/* OS reinstall end */

#sshkey_list .os_badge i{
position: relative;
top:unset;
right:unset;
color:unset;
}

/* Jquery Scrollbar start */

.scrollbar-virt {
height: auto;
max-height: 500px;
overflow: auto;
}

/* Jquery Scrollbar end */

.invoice-body{
background-color: #efefef;
}

/* Invoices */
.invoice-container {
margin: 15px auto;
max-width: 850px;
background-color: #fff;
border: 1px solid #ccc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
}

#invoice{
padding: 70px;
}

.invoice_status_paid{
color: green;
}

.invoice_status_unpaid{
color: red;
}

.invoice_status_cancelled{
color: blue;
}

/* Invoices End */

/* Billing */
.bill_balance{
border: 1px solid #ccc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
text-align:center;
font-size:20px;
padding:10px;
}

.bal_exp{
font-size:15px;
color: #777777;
}

/* Billing End */

/* Webuzo app stack*/
#webuzo_stack_tr > div{
padding: 1.2%;	
}

._label{
font-weight:500 !important;
margin-top:9px;
}
#webuzo_advance_tr > div{
padding: 1.2%;
}

/* Webuzo app stack end */

/*Navbar CSS*/
#disable_loginlogo img{
width:172px;
}

.virtualizor-nav{
background-color:#1d1d1d;
z-index: 1030;
display: none;
}

.useful-links i:hover{
color:#ffffff;
}

/* Navbar CSS end */

/* Page-content CSS */
.wrapper{
width:100%;
overflow: hidden;
}

.rightbody{
display: none;
}

.page-content{
padding: 20px 15px;
}

.timezone{
color:#67757c;
text-align: center;
}

.footer-content{
color:#67757c;
font-size: 12px;
}

.left_menu{
width:220px;
position: fixed;
height: 100vh;
background-color: #0e0f0f;
}

.head .title-icon,
.panel-head .title-icon{
margin-right: 10px;
font-size:28px;
border-radius: 6px;
vertical-align: middle;
color:#3d3d3d;
}

.head .h3{
font-size: 22px;
}
	
/* Page-content CSS end */

/* Checkbox CSS */
.vps-checkbox{
position: absolute;
opacity: 0;
}

.vps-checkbox+label {
position: relative;
padding-left: 10px;
height: 25px;
line-height: 21px;
font-weight: normal;
}

.vps-checkbox + label:before {
content: '';
margin-right: 10px;
display: inline-block;
vertical-align: text-top;
width: 18px;
height: 18px;
background: white;
border:1px solid black;
}

.vps-checkbox:hover + label:before, .vps-checkbox:checked + label:before  {
background: #8BC34A;
}

.vps-checkbox:disabled + label {
color: #b8b8b8;
cursor: auto;
}

.vps-checkbox:disabled + label:before {
box-shadow: none;
background: #ddd;
}

.vps-checkbox:checked + label:after{
content: '\f00c';
color:#ffffff;
font-family: "Font Awesome 5 Free";
font-weight: 600;
font-size: 12px;
position: absolute;
left: 13px;
}
/* Checkbox CSS */

/*Radio Button CSS*/
.vps-radio{
position: absolute;
left:-99999px;
opacity: 0;
}

.vps-radio:not(:checked)+label:after,
.vps-radio:not(:checked)+label:before{
border: 1px solid #b1b8bb;
border-radius:50%;
}

.vps-radio:checked+label:after,
.vps-radio:checked+label:before{
border: 2px solid #26a69a;
border-radius:50%;
-webkit-animation: ripple 0.2s linear forwards;
animation: ripple 0.2s linear forwards;
}

.vps-radio:checked+label:after{
-webkit-transform: scale(0.5);
-ms-transform: scale(0.5);
transform: scale(0.5);
background-color: #26a69a;
z-index: 0;
}

.vps-radio+label{
position: relative;
cursor: pointer;
margin-left: 20px;
font-size: 15px;
}

.vps-radio+label:after,
.vps-radio+label:before{
content: '';
position: absolute;
left: -23px;
top: 0px;
margin: 4px;
width: 15px;
height: 15px;
z-index: 0;
-webkit-transition: .28s ease;
-o-transition: .28s ease;
transition: .28s ease;
}
/*Radio Button CSS*/

/*List VPS CSS*/
table.tablesorter{
box-shadow: 0 2px 12px -3px rgba(0,0,0,0.5);
}

.table-col{
color:#ffffff;
background-color:#36304a !important;
padding:6px 2px !important;
font-size: 14px !important;
font-weight: 500 !important;
vertical-align: middle !important;
position: sticky !important;
top: -1px;
z-index: 99;
}

table.tablesorter thead tr .header:before{
content: '\f0d8';
font-family: "Font Awesome 5 Free";
font-size: 15px;
font-weight: 600;
font-style: normal;
color:#ffffff;
text-decoration:none;
position: absolute;
right:10px;
top:1px;
}

table.tablesorter thead tr .header:after{
content: '\f0d7';
font-family: "Font Awesome 5 Free";
font-size: 15px;
font-weight: 600;
font-style: normal;
color:#ffffff;
text-decoration:none;
position: absolute;
right:10px;
top:11px;
}

table.tablesorter tbody td{
position: relative;
padding: 8px 5px;
}

table.tablesorter thead tr .header.headerSortUp:after{
display: none;
}

table.tablesorter thead tr .header.headerSortUp:before{
content: '\f0d8';
color:#ffffff;
font-family: "Font Awesome 5 Free";
font-size: 15px;
font-weight: 600;
font-style: normal;
text-decoration:none;
position: absolute;
top:8px;
right:10px;
}

table.tablesorter thead tr .header.headerSortDown:before{
display: none;
}

table.tablesorter thead tr .header.headerSortDown:after{
content: '\f0d7';
color:#ffffff;
font-family: "Font Awesome 5 Free";
font-size: 15px;
font-weight: 600;
font-style: normal;
text-decoration:none;
position: absolute;
top:8px;
right:10px;
}

table .vps-checkbox+label{
margin: 6px 0px 0px 0px;
}

.manage-arrow i{
color: #2C5364;
font-size: 20px;
}

.manage-arrow:hover i{
color:#667db6;
}

.bottom-go-options{
margin:0px 0px 15px 0px;
}

.bottom-go-options select{
width: 20%;
border-radius: 2px;
}

#vslist-bottom-go-options .bottom-go-options select{
width: 30%;
}

#vslist{
padding: 0px 10px 0px 0px;
}

.vpsmanagemenu{
background-color: #fff;
background-clip: padding-box;
border: 1px solid #00000026;
border-radius: 4px;
transition: 0.3s;
box-shadow: 0 3px 12px #0000000d;
}

.vpsmenubg{
width:auto;
padding: 0px;
}

.vpsmenu a{
display: inline-block;
text-align: center;
margin: 0px 2px;
}

.vpsmenubg a i:hover{
top:2px;
transition: 0.2s;
}

.vpsmenubg a img{
width: 25px;	
}

.vpsmenubg a img:hover{
margin-top: -2px;
transition: 0.2s;
}

.vpsmenu i{
font-size: 20px;
position: relative;
margin-top: 0px;
top: 5px;
}

.vpsmanagemenu i{
position: relative;
margin-top: 0px;
top: 2px;
}

.vpsmanagemenu a i:hover{
top:-1px;
transition: 0.2s;
}

.vpsmanagemenu a img:hover{
margin-top: -4px;
transition: 0.2s;
}
	
.vpsmenu .power-on,
.vpsmanagemenu .unsuspend,
.power-on,i#startimg,.start,.run,.bal_txt{
color:#06d79c;
}

.vpsmanagemenu .suspend, .suspend{
color:#656373;
}

.vpsmanagemenu .delete, .delete, .stop{
color:#ff0000;
}

.edit, .randpass{
color:#FFBF00;
}

.info, #process_poweroff, i, #refresh_status, .useful-links #refresh_page, .start, #sstop, #srestart, .prog-organge, .adv-options, #ei_advoptions_toggle{
cursor: pointer;
}

.fa-1x{
font-size: 20px !important;
}

.vpsmenu .power-off,
.power-off{
color:#ef5350;
}

.vpsmenu .refresh,
.refresh{
color:#398bf7;
}

.vpsmenu .stop, i.fa.fa-stop.suspend{
color:#656373;
}

.go_btn{
-webkit-border-radius: 0;
-moz-border-radius: 5px;
border-radius: 5px;
text-transform: capitalize;
text-decoration: none;
padding: 10px 19px;
background-color: #fe9365;
border:0px;
color: #fff;
-webkit-transition: all ease-in .3s;
transition: all ease-in .3s;
}

.go_btn:hover{
background-color: #feb798;
border-color: #feb798;
color: #fff;
text-decoration: none;
}
	
/* List VPS CSS*/

/* Dashboard CSS */
.dashboard-title{
color:#3d3d3d;
font-size:22px;
}

.dashboard-value,.server-location{
color:#586271 !important;
}

img#flag_src {
border: 1px solid #ddd;
}

.manage-btns a:hover i,
.manage-btns a:hover .manage-label{
transition: all 0.6s;
}

.usage-details{
border:1px solid #e7e4e4;
transition: all ease-in .2s;
}

.usage-details:hover{
border:1px solid transparent;
box-shadow: 1px 1px 8px 6px #e5e3e3bf;
}

.overview-label{
color:#99abb4;
}

.form-label{
margin-bottom: 8px;
color: #868888;
display:block;
}

.info-text{
color: #398bf7;
cursor: pointer;
}

#graphs-tab .nav-link,
#sub-tasks-and-logs .nav-link{
color:#576170;
transition: all 0.4s linear;
}

#graphs-tab .nav-link.active,
#sub-tasks-and-logs .nav-link.active{
border-radius: 0px;
color:#ffffff;
background:linear-gradient(to right, #396afc, #2948ff);
}

.prev-mnth.green_but,
.next-mnth.green_but{
padding:4px 10px;
}

.stat-label{
font-size:15px;
}

.stat-val{
color:#3d3d3d;
font-size: 15px;
}

.progress{
background-color: #c5c5c5;
}

.months{
color:#3d3d3d;
font-size: 18px;
font-weight: 400;
}

.network_speed{
width:100%;
height:155px;
}

.bwpiechart{
width:90px;
height:90px;
}

.bandwidth-title, .statistics-title, .tab-heading{
color:#3d3d3d;
font-size: 22px;
}

.used_disk_percent,
.used-cpu{
color:#1e88e5;
font-size: 30px;
}

.total_percent_val{
color:#455a64;
font-size: 15px;
}

.form-control{
height: 35px;
font-size: 14px !important;
min-height:40px;
margin-bottom: 8px;
color: #67757c;
display: inline-block;
border-radius:4px;
}

.adv-toggle{
cursor:pointer;
height:30px;
border-bottom: 1px solid black;
}

.adv-toggle .form-label{
color: #353636;
}

.w-90{
width:90% !important;
}

#webuzo_advance_tr > div{
padding:0px;
}

.tab-para{
color:#3d3d3d;
}

.left-sidebar{
background-color: #1d1d1d;
}

.left-sidebar-menu{
padding-left: 0px;
list-style-type: none;
margin-bottom: 60px;
}

.left-sidebar-menu li:hover {
background:#fdfdfd12;
}

.badge-orange{
color:#ffffff;
background:#EF5350;
}

.chosen-container-single .chosen-single div b{
background-position-y: 10px !important;
}

.chosen-container-single .chosen-search input[type=text]{
height: 28px;
border-radius: 4px !important;
font-size: 16px;
}

.dashboard-tab .nav-tabs{
border-bottom: 1px solid #dfd8d8;
margin: 0;
}

.dashboard-tab .nav-tabs .nav-item{
border-bottom: 1px solid #dfd8d8;
}

.dashboard-tab .nav-tabs li a{
position: relative;
padding: 5px;
margin-right: 10px;
color: #374045 !important;
border: none;
border-radius: 0;
background: transparent;
transition: all 0.3s ease 0s;
z-index: 2;
}

.dashboard-tab .nav-tabs li a:before{
content: "";
width: 100%;
height: 4px;
border-radius: 2px;
position: absolute;
bottom: 0;
left: 0;
}

.dashboard-tab .nav-tabs li a:after{
content: "";
width: 0;
height: 4px;
background: linear-gradient(to right, #396afc, #2948ff);
border-bottom: 1px solid #727cb6;
border-radius: 2px;
position: absolute;
bottom: -2px;
left: 0;
transition: all .4s ease 0s;
z-index: 1;
}

.dashboard-tab .nav-tabs li a.active:after{
width: 100%;
opacity: 1;
}

.vertical-tabs .nav-link{
color:#515a68;
padding: 7px 5px;
margin-bottom: 10px;
transition: all ease-in 0.2s;
}

.vertical-tabs .nav-link.active{
border-radius: 0px;
color: #2948ff;
}

.v-tabs-container{
border-right: 1px solid #dfd8d8;
}

.nav-pills .nav-link.active{
background-color: unset;
}
	
.current-value{
color:#000000;
}

input[type=text],
input[type=number],
input[type=textbox],
input[type=password],
select,textarea{
box-shadow: 0 2px 2px 0 #a9a9a924, 0 3px 1px -2px #a9a9a933, 0 1px 5px 0 #a9a9a91f;
}


#webuzo_scriptlist_tr .chosen-container{
width:100% !important;
}

.submit-btn{
background-color:#398bf7;
border:none;
border-radius: 4px;
color:#ffffff;
font-weight: 500;
padding: 7px 12px;
transition: 0.2s ease-in;
}

.cancel-btn{
background-color: #5a6268;
border:none;
border-radius: 4px;
color:#ffffff;
font-weight: 500;
padding: 7px 12px;
transition: 0.2s ease-in;
}

.submit-btn:hover{
color:#ffffff !important;
box-shadow:0 14px 26px -12px #1769ff6b, 0 4px 23px 0 #0000001f, 0 8px 10px -5px #1769ff33;
}

.cancel-btn:hover{
color:#ffffff !important;
box-shadow:0 14px 26px -12px #000000, 0 4px 23px 0 #0000001f, 0 8px 10px -5px #07183533;
}

.modal-title{
font-weight: 400;
color: #455a64;
}

.modal-title i.success{
font-size: 40px;
color: #06d79c;
vertical-align: middle;
}

.modal-title i.warning{
font-size: 40px;
color: orange;
vertical-align: middle;
}

.modal-title i.error{
font-size: 40px;
color: #ef5350;
vertical-align: middle;
}

.modal-body{
color:#868888;
font-weight: 500;
line-height: 30px;
margin-bottom: 0px;
}

.modal-body p{
margin-bottom: 0px;
}

.link-btn{
background-color:#398bf7;
border:none;
border-radius: 4px;
text-decoration: none !important;
color:#ffffff !important;
font-size: 14px;
padding: 7px 12px;
transition: 0.2s ease-in;
}

.link-btn:hover{
text-decoration: none;
color:#ffffff;
box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}

.v-tab-heading{
color:#515557;
font-size: 18px;
}

.distro_name.media-heading{
color:#3d3d3d;
font-size: 22px;
}

.version{
color:#586271;
font-size: 12px;
}

.info-icon{
background-color: #007bff;
color: #fff;
padding: 4px 12px;
border: none;
border-radius: 4px;
}

.info-icon:hover,
.info-icon:focus{
border:none;
box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}

.info-icon i{
font-size: 12px;
}

.recipes_list .table th{
color:#ffffff;
background-color: #36304a !important;
border: unset !important;
}

.recipes_list .table td,
.recipes_list .table th{
font-weight: unset;
}

.dataTables_filter input[type=search]{
border: 1px solid #687384;
border-radius: 4px;
height: 30px;
}

.managesubnets th{
text-align: center;
font-weight: 600 !important;
padding: 5px 10px !important;
}

.managesubnets td{
color: #515a68;
text-align: center;
}

.panels-type{
display: inline-block;
width: 100%;
position: relative;
border: 1px solid #e7e4e4;
color: #fff;
cursor: pointer;
transition: all 0.4s;
}

.panels-type:hover{
border:none;
box-shadow: 1px 1px 8px 6px #e2e2e2;
}

.flot-tick-label.tickLabel{
max-width: 35px !important;
font-size:10px;
}

#managesubnets_div{
padding:20px 0px;
}

.tasks_table th, #servicestable th, #system_alertstable th, #shutdown_details th, #backup_table th, #managesubnets_div th, #logs_div table th{
color:#ffffff;
background-color: #36304a !important;
border: unset !important;
font-weight: unset !important;
position: sticky !important;
top:-1px;
z-index: 99;
}

table.dataTable.no-footer{
border-bottom: 1px solid #5d5b63 !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_length select option{
color:#89919c;
}

.paginate_button.current{
border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
border:unset;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
background:#fff;
border:unset;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
margin-left: 0px;
padding: 0px;
}
table.dataTable thead th, table.dataTable thead td{
padding:6px 10px;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc{
background-image: none;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after{
bottom: 0.6em;
}

.panel-head{
border-radius: 0;
padding: 20px 0px 20px 20px;
box-shadow:1px 2px 3px #c5c5c5;
}

.panel-head .h5{
font-size: 18px;
}

.responsivetabs-more .dropdown-toggle{
font-size: 18px !important;
}

.responsivetabs-more .dropdown-toggle:after{
display:none;
}

.vertical-tab-content form input[type=text],
.vertical-tab-content form input[type=textbox],
.vertical-tab-content form input[type=password],
.vertical-tab-content form select{
width:50%;
}

.dropdown.responsivetabs-more .dropdown-item.active{
color:#ffffff !important;
background:linear-gradient(to right, #396afc, #2948ff);
}
/* Dashboard CSS end */

/* Launch Instance*/

.adv-options i, #ei_advoptions_plus i{
vertical-align: middle;
}

.adv-options .h4{
vertical-align: middle;
}

.panel-heading{
/* background: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%) !important; */
background-color:#36a1ff;
border-radius:4px;
cursor:pointer;
}

.panel-heading .panel-title{
color:#ffffff;
}

/* Launch Instance CSS end*/

.manage-drop-btn,
.manage-label{
display: none;
}

span.search{
font-size: 28px;
}

.chosen-container-multi .chosen-choices{
padding:5px;
border-radius: 5px;
border-color: #ccc;
}

.chosen-container-single .chosen-single {
text-align: left;
padding: 7px !important;
font-size: 14px;
height: 40px !important;
background: #ffffff !important;
border: 1px solid #ccc;
}

div#vslst .table-col {
padding: 8px !important;
}

#logs_div table td{
text-align: left;
}

#cpu_hist{
font-size: 12px;
}

button:focus{
outline:none;
}

.restore-icon{
font-size:17px;
}

.vps-info-icons{
font-size:25px;
}

#server_details .form-label, #show_vnc_window .form-label, #vnc-cell-tab .form-label{
margin-bottom: 0px;
word-break: break-all;
}

.vps-info-box .border{
align-items: center;
justify-content: center;
display: flex;
min-height: 125px;
}

.os-name, .state_city {
position: absolute;
bottom: 0;
left: 0;
right: 0;
color:#343a40;
}

.vps-info-box .border{
position: relative;
}

span#vps-desc-status > span.online{
color: #06d79c;
}
span#vps-desc-status > span.offline{
color: #ef5350;
}
span#vps-desc-status > span.suspended{
color: #5C79B8;
}
span#vps-desc-status > span.ntw_suspended{
color: #FFA500;
}

span#site_domain{
font-size: 30px;
font-weight: bold;
}

#letsencrypt-progressbar{
width:35%;
margin:0px auto;
display: none;
}

.loader {
border: 2px solid #f3f3f3; /* Light grey */
border-top: 2px solid #EF5350;
border-radius: 50%;
width: 17px;
height: 17px;
margin:0px auto;
animation: spin 0.3s linear infinite;
}

.active-menu a{
color:#fff !important;
background-color: #323639;
}

.wrap{
max-width: 124px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
transition:all 0.5s;
}

.animate{
animation: show 1s linear;
}

.badge{
font-size: 12px;
}

div#vnc img {
width: 30px;
cursor: pointer;
}

.mobile-logo{
display: none;
}

.table-fix{
width: 96%;
margin:0px auto;
}

.select2-selection, .select2-selection--multiple{
height: 35px;
font-size: 14px !important;
min-height: 40px;
color: #67757c;
display: inline-block;
border:1px #CCCCCC solid !important;
border-radius: 4px;
padding: .375rem 1.75rem .375rem .3rem;
box-shadow: 0 2px 2px 0 #a9a9a924, 0 3px 1px -2px #a9a9a933, 0 1px 5px 0 #a9a9a91f;
}

.select2-selection--multiple {
    min-height: unset;
    height: unset;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
	margin-top: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
top:7px
}

#usersettings_timezone{
font-size: 14px;
}

#private_key.form-control{
height: unset;
min-height: unset;
}

.select2-container img.distro_img{
width: auto;
max-width: 25px;
}

#ei_os_name img{
width: 35px;
}

.use_sshkey{
color:#586271;
}

.vdf-btn, .vdf-btn:hover{
color:#007bff;
}

.modal-body{
line-height: unset;
}

.popover-body{
max-height: 250px;
height: auto;
overflow: auto;
}

#error_break{
min-height: 300px;
height: auto;
}

@keyframes show {
	0% {background-color: #bbdefb; }
	100% {background-color: #fff;}
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#cpu_hist .xAxis{
color:transparent;
}

#show_recipecode_window table.tablesorter{
box-shadow: unset;
}

@media (min-width: 576px){

	.modal-dialog{
		max-width: 700px;
	}

	.statistics .modal-dialog {
		max-width: 800px;
		width:auto;
	}

	.statistics #show_processes_window .modal-dialog, .statistics #show_managevdf_window .modal-dialog{
		max-width: 900px;
		width:auto;
	}

	#services_div, #system_alerts_div, #process_div {
		width: 96%;
		margin: 0px auto;
		padding: 10px 0px 20px 0px;
	}
}

.select2-dropdown{
z-index: 1000;
}

/*CSS Media Queries */
@media all and (max-width:1200px){
	
.monthly-chart{height: auto !important;}
.login-form{width: 40%;}
}

@media all and (max-width:1024px){
	
.table.tablesorter thead th{padding:5px 25px 5px 15px !important;}
.table.tablesorter thead th.select-all-checkbox{padding:0px !important;}
.login-form{width: 50%;}
.bottom-go-options select{width:30%;}
}

@media all and (max-width:767px){
	
.left-side-tabs{border-bottom: 1px solid #dfd8d8;}
.vertical-tabs .nav-link{padding:7px 10px;}
.left-side-tabs .nav-link.active{background:linear-gradient(to right, #396afc, #2948ff);color:#ffffff;}
.vertical-tab-content form input[type=text],
.vertical-tab-content form input[type=textbox],
.vertical-tab-content form input[type=password],
.vertical-tab-content form select{width:100%;}
.login-form{width:60%;}

}

@media all and (max-width: 720px){

.lm_names{display: none;}
.left-sidebar-menu{text-align: center;}
.left_menu{width: 80px;}
.page-wrapper{margin-left: 80px;}

}

@media all and (max-width: 678px){
	
.login-form{width: 90%;}
.bottom-go-options select{width: 40%;}

}

@media (max-width: 480px){

.mobile-logo{
	display: block;
}

.main-logo{
	display: none;
}

#disable_loginlogo img{
	width: auto;
	height: 35px;
}
.lm_names{display: none;}
.left_menu_i{font-size: 12px;}

}

/*CSS Media Queries*/
