<note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>

<div>

    <div class="box light bordered" ng-if="hasAccess('resources.allow_email') && !isArchive()">
        <div class="box-title">
            <div class="caption">
                <span class="bold font-red-thunderbird uppercase">
                    {{ ::('resource.emails.sendtext'| translate) }}
                </span>
            </div>

            <div class="actions">
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body"  block-ui="newEmailContainer" style="min-height: 100px;">

            <div ng-if="!mainData.client_id && !mainData.email" class="note note-warning note-bordered">
                <h4 class="note-title no-margin-bottom">{{ ::('resource.emails.noclientmsg'| translate) }}</h4>
            </div>
            <div ng-show="maxUploadFileSize" class="note note-info note-bordered">
                {{ ::('resource.files.maxsize'| translate) }} : <strong>{{ maxUploadFileSize.size + " Byte = " + maxUploadFileSize.sizeString}}</strong>
            </div>

            <div ng-show="sendEmailDone" class="note note-success">
                <button type="button" class="close" ng-click="closeNote()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="note-title">{{ ::('text.success'| translate) }}</h4>
                <p>{{ ::('resource.emails.new.send.success'| translate) }}</p>
            </div>
            <div ng-class="modelSentEmail.template == 'false' ? 'row' : ''">
                <div ng-class="modelSentEmail.template == 'false' ? 'col-sm-8' : ''">

                    <form class="form-horizontal" novalidate name="sendEmailForm" id="sendEmailForm"  ng-submit="sendEmailFormSubmit()" >
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="from">
                                        {{ ::('resource.emails.form.from'| translate) }}
                                        <i class="fa fa-question-circle" tooltip-placement="left" tooltip="{{ ::('resource.emails.form.from.tooltip'| translate) }}"></i>
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <select class="form-control input-sm" name="from" ng-model="modelSentEmail.from" ng-options="d.number as d.fullemail for d in formData.departments" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="to">
                                        {{ ::('resource.emails.form.to'| translate) }}
                                        <i class="fa fa-question-circle" tooltip-placement="left" tooltip="{{ ::('resource.emails.form.to.tooltip'| translate) }}"></i>
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <select class="form-control input-sm" name="to" ng-model="modelSentEmail.to" required>
                                        <option ng-repeat="email in formData.targetEmails" ng-value="email">{{ email}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="template">
                                        {{ ::('resource.emails.form.tpl'| translate) }}
                                        <i class="fa fa-question-circle" tooltip-placement="left" tooltip="{{ ::('resource.emails.form.tpl.tooltip'| translate) }}"></i>
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <select class="form-control input-sm" name="template" ng-model="modelSentEmail.template">
                                        <option value="false">{{ ::('resource.summary.email.template.none'| translate) }}</option>
                                        <option ng-repeat="t in formData.templates" value="{{ ::t.id}}">{{ ::t.full}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="modelSentEmail.template == 'false'">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="subject">{{ ::('resource.emails.form.subject'| translate) }}</label>
                                </div>
                                <div class="col-sm-10">
                                    <input 
                                        type="text" 
                                        id="subject" 
                                        name="subject" 
                                        required
                                        ng-model="modelSentEmail.subject" 
                                        placeholder="{{ ::('resource.emails.form.subject.placeholder'| translate) }}" 
                                        class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group" ng-if="modelSentEmail.template == 'false'">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="email_content">{{ ::('resource.emails.form.content'| translate) }}</label>
                                </div>
                                <div class="col-sm-10">
                                    <textarea 
                                          ui-tinymce="tinymceOptions"
                                          ng-required="true"
                                          ng-model="modelSentEmail.content"
                                          placeholder="{{ ::('resource.emails.form.content.placeholder'| translate) }}" 
                                          id="email_content"
                                          name="email_content"
                                          class="form-control vertical-textarea"
                                          rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group" ng-if="modelSentEmail.template == 'false'">
                                <div class="col-sm-2 control-label">
                                    <label class="primary-font font-sm thin" for="files">{{ ::('resource.emails.form.files'| translate) }}</label>
                                </div>
                                <div class="col-sm-5 margin-top-5">
                                    <input 
                                        type="file" 
                                        id="files" 
                                        bind-file="" 
                                        name="files" 
                                        ng-model="modelSentEmail.files" 
                                        bind-file=""
                                        multiple="" 
                                        ng-change="changeChoseFile()"
                                        style="display: inline-block;" />
                                    <button ng-show="choseFile" type="button" class="remove-file"  ng-click="resetFile()" style="display: inline-block;">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">Remove</span>
                                    </button>
                                </div>
                                <div class="col-sm-5 margin-top-5"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button 
                                        ng-disabled="sendEmailForm.$invalid"
                                        type="submit"
                                        class="btn btn-success btn-inverse">
                                        {{ ::('resource.summary.email.sent'| translate) }}
                                    </button>   
                                </div>
                            </div>

                        </fieldset>
                    </form>

                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-4" ng-if="modelSentEmail.template == 'false'">
                    <div class="col-sm-12">
                        <div class="box light bordered" 
                             ng-repeat="group in availableVariables" 
                             ng-class="{'toogled': !showBlocks[$index] }" 
                             ng-show="group.show == true || ((group.show == 'clients' && (model.target_type == 'users' || model.target_type == 'usergroups')) || (group.show == 'campaigns' && model.target_type == 'campaigns'))">
                            <div class="box-title box-title-pointer-on-hover" ng-click="showBlocks[$index] = !showBlocks[$index]">
                                <div class="caption">
                                    <span class="bold uppercase">
                                        {{ ::group.header}}
                                    </span>
                                </div>

                                <div class="actions">
                                    <a href="javascript:;" ng-show="!showBlocks[$index]" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="javascript:;" ng-hide="!showBlocks[$index]" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                        <i class="fa fa-compress"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body">

                                <div ng-show="group.alert" class="note note-info">{{ ::group.alert}}</div>
                                <dl class="dl-horizontal no-margin-bottom">
                                    <div ng-repeat="v in group.variables" ng-click="insertTinyMceVariable(v.id)" class="variable-on-mousehover">
                                        <dt style="text-align: left;">{{ ::v.id}}</dt>
                                        <dd>{{ ::v.description}}</dd>
                                    </div>
                                </dl>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BOX WITH dynamic add things END HERE -->

    <div st-pipe="callServer" st-table="displayed" >
        <div class="box light">
            <div class="box-title">
                <div class="caption">
                    <span class="bold font-red-thunderbird uppercase pull-left" style="padding-top: 9px;">
                        {{ ::('resource.emails.log.widget'| translate) }}
                    </span>
                    <div id="tableSearchContainer pull-left" style="width: 300px;" class="col-xs-3">
                        <div class="input-group">
                            <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                            <input st-search="message" placeholder="{{ ::('form.search.placeholder'| translate) }}"  class="form-control" type="search" style="border-color: #e5e5e5;" id="emails-table-search" />
                            <span class="input-group-btn">
                                <button class="btn btn-flat" ng-class="{'active': displayFilters == true}" ng-click="displayFilters = !displayFilters" type="button" style="height: 34px;"><i class="fa fa-filter"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="actions" style="padding-right: 11px; top: 17px;">
                    <a href="javascript:;" class="btn btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-striped table-hover align-vertical" id="leadsTable" highlight-active-table-header="border-bottom-red">
                    <colgroup>
                        <col width="150" />
                        <col width="250" />
                        <col width="100" />
                        <col width="100" />
                        <col />
                        <col width="200" />
                        <col width="100" />
                    </colgroup>
                    <thead>
                        <tr>
                        <th st-sort="date">{{ ::('resource.emails.log.th.date'| translate) }}</th>
                        <th st-sort="to">{{ ::('resource.emails.log.th.to'| translate) }}</th>
                        <th st-sort="followup_id">{{ ::('resource.emails.log.th.followup'| translate) }}</th>
                        <th st-sort="reminder_id">{{ ::('resource.emails.log.th.reminder'| translate) }}</th>
                        <th st-sort="subject">{{ ::('resource.emails.log.th.subj'| translate) }}</th>
                        <th st-sort="cc">{{ ::('resource.emails.log.th.cc'| translate) }}</th>
                        <th st-sort="attachments">{{ ::('resource.emails.log.th.attachment'| translate) }}</th>
                        </tr>
                        <tr ng-show="displayFilters">
                        <th>
                            <input st-search="date" type="text" class="form-control input-sm"/>
                        </th>
                        <th>
                            <input st-search="to" type="text" class="form-control input-sm"/>
                        </th>
                        <th>
                            <input st-search="followup_id" type="number" class="form-control input-sm"/>
                        </th>
                        <th>
                            <input st-search="reminder_id" type="number" class="form-control input-sm"/>
                        </th>
                        <th>
                            <input st-search="subject" type="text" class="form-control input-sm"/>
                        </th>
                        <th>
                            <input st-search="cc" type="text" class="form-control input-sm"/>
                        </th>
                        <th>
                            <input st-search="attachments" type="text" class="form-control input-sm"/>
                        </th>
                        </tr>
                    </thead>
                    <tbody block-ui="leadEmailsTable">
                        <tr ng-repeat="row in displayed">
                        <td class="">
                            {{ row.date}}
                        </td>
                        <td class="">
                            <b><i style="color: {{ (row.table_row == 'SEND' ? 'green' : 'red')}}" ng-class="{'fa fa-share' : (row.table_row != 'SEND'), 'fa fa-reply' : (row.table_row == 'SEND')}"></i>&nbsp;{{ row.to}}</b>
                        </td>
                        <td class="">
                        <span ng-show="row.followup_id">#{{ ::row.followup_id}}</span>
                        <span ng-hide="row.followup_id" class="small primary-font thin">{{ ::('text.none'| translate) }}</span>
                        </td>
                        <td class="">
                        <span ng-show="row.reminder_id">#{{ ::row.reminder_id}}</span>
                        <span ng-hide="row.reminder_id" class="small primary-font thin">{{ ::('text.none'| translate) }}</span>
                        </td>
                        <td class="">
                            <a href="#" ng-click="showEmailPreviewWindow(row.id, row.table_row)">{{ row.subject}}</a>
                        </td>
                        <td class="">
                        <span ng-show="row.cc != ''">{{ ::row.cc}}</span>
                        <span ng-show="row.cc == ''" class="small primary-font thin">{{ ::('text.none'| translate) }}</span>
                        </td>
                        <td class="">
                            <div ng-repeat="attachment in row.attachments">
                                <a href="{{url}}/settings/statuses/importmail/attachment/{{ attachment.id }}/download">{{ attachment.filename }}</a>
                            </div>
                        </td>
                        </tr>
                        <tr ng-hide="displayed.length">
                        <td colspan="7" class="text-center">
                            <h4>{{ ::('table.empty.msg'| translate) }}</h4>
                        </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                        <td colspan="7" class="text-left">

                        <span ng-hide="itemsLastNr == 0">
                            {{ 'table.pagination.display' | translate }} 

                            <div class="btn-group btn-group-xs btn-group-solid">
                                <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                            </div>

                            {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr}} {{ 'table.pagination.to' | translate }} {{ itemsLastNr}} {{ 'table.pagination.of' | translate }} {{ itemsTotal}} {{ 'table.pagination.entries' | translate }}

                        </span>

                        <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                        </div>

                        </td>
                        </tr>
                    </tfoot>
                </table>	

            </div>
        </div>
    </div>
</div>



