<?php
global $clean_html_invoice_options_fields;
?>
<div id="tabs">
               <ul role="tablist" class="nav nav-tabs">
               <li <?php if (
                        $_REQUEST['action'] != "information_page" 
                        && $_REQUEST['action'] != "customize_page"
                        && $_REQUEST['action'] != "typography_page"
                        && $_REQUEST['action'] != "footer_page"
                        ) { ?> class="active" 
                <?php } else { ?> class="tabs" <?php } ?>  ><a  role="tab" href="addonmodules.php?module=clean_html_invoice&action=general_page">General</a></li>

                <li <?php if ($_REQUEST['action'] == "customize_page" ) { ?> class="active" 
                <?php } else { ?> class="tabs" <?php } ?>  ><a  role="tab" href="addonmodules.php?module=clean_html_invoice&action=customize_page">Customize</a></li> 
                
                <li <?php if ($_REQUEST['action'] == "typography_page" ) { ?> class="active" 
                <?php } else { ?> class="tabs" <?php } ?>  ><a  role="tab" href="addonmodules.php?module=clean_html_invoice&action=typography_page">Typography</a></li> 

                <li <?php if ($_REQUEST['action'] == "footer_page" ) { ?> class="active" 
                <?php } else { ?> class="tabs" <?php } ?>  ><a  role="tab" href="addonmodules.php?module=clean_html_invoice&action=footer_page">Footer</a></li>

                <li <?php if ($_REQUEST['action'] == "information_page" ) { ?> class="active" 
                <?php } else { ?> class="tabs" <?php } ?>  ><a  role="tab" href="addonmodules.php?module=clean_html_invoice&action=information_page">
                <?php echo clean_html_check_version($clean_html_invoice_options_fields); ?>Information</a></li>
               
                </ul>  
</div>