.lu-featureBox {
    margin-left: 0px;
    margin-right: 0px;
    padding-top:10px;
    border:5px solid white; 
    border-radius: 10px !important;
    background-color : #f4f4f4 !important;
}

.lu-mg_no-pointer{
    cursor:default!important;
}