<span class="pull-right">
    <select id="crm2-convert-type-id" style="margin-right:10px; display: inline-block; float: right; width: 100px;">
        {$options}
    </select>
</span>
<a href="javascript:" onclick="convertTo()" class="btn btn-default btn-small btn-xs" style="text-decoration: initial;margin-right: 10px;color: #000;float: right;">Convert To </a>