<div block-ui="fieldsBlockContainer" style="min-height: 200px;">

    <div class="box light bordered" ng-repeat="group in fieldsParsed" ng-init="groupIndex=$index" ng-if="group.active" ng-class="{'toogled': groupIsHidden(group.id) }">
        <div class="box-title">
            <div class="caption">
                  <span class="bold uppercase" ng-style="{'color': group.color }"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                    {{ group.name }}
                  </span>
            </div>
            <div class="actions">
                <a href="#" ng-show="groupIsHidden(group.id)" ng-click="groupToogleHideHidden(group.id)" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" ng-hide="groupIsHidden(group.id)" ng-click="groupToogleHideHidden(group.id)" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                  <i class="fa fa-compress"></i>
                </a>
            </div>
        </div>
        <div class="box-body crm-customfields-form">
            <style>
                .editable-checklist label {
                    display: block;
                }
            </style>
            <div class="row-fluid">

                <div class="form-group showOnMouseOverContainer row row-eq-height" ng-repeat="field in group.fields" ng-init="fieldIndex=$index">
                    <label class="col-sm-4 control-label"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                        {{ field.name }}
                    </label>
                    <div class="col-sm-8">

                        <span ng-if="field.type == 'text'">
                            <span ng-hide="dynamicFieldForms.$waiting">
                                <span ng-hide="dynamicFieldForms.$waiting" editable-text="field.data.data" e-form="dynamicFieldForms" ng-model="field.data.data" onbeforesave="updateDynamicField(field.id, field.data.id, $data, fieldIndex, groupIndex)">
                                    <span class="formatedValue" ng-if="isStringURL(field.data.data) == false"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                                        {{ field.data.data || ('text.not.set' | translate) }}
                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                    <span class="formatedValue" ng-if="isStringURL(field.data.data) == true">
                                        <a href=" {{getWithProtocul(field.data.data)}}" target="_blank">{{ field.data.data || ('text.not.set' | translate) }}</a>
                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                </span>

                            </span>
                            <span ng-show="dynamicFieldForms.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>
                        </span>
                        
                        <span ng-if="field.type == 'phone'">
                            <span ng-hide="dynamicFieldForms.$waiting">
                                <span ng-hide="dynamicFieldForms.$waiting" editable-text="field.data.data" e-pattern="(\(?\+?[0-9]*\.?\)?)?[0-9_\- \(\)]*" e-form="dynamicFieldForms" ng-model="field.data.data" onbeforesave="updateDynamicField(field.id, field.data.id, $data, fieldIndex, groupIndex)">
                                    <span class="formatedValue" ng-if="isStringURL(field.data.data) == false"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                                        {{ field.data.data || ('text.not.set' | translate) }}
                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                    <span class="formatedValue" ng-if="isStringURL(field.data.data) == true">
                                        <a href=" {{getWithProtocul(field.data.data)}}" target="_blank">{{ field.data.data || ('text.not.set' | translate) }}</a>
                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                </span>

                            </span>
                            <span ng-show="dynamicFieldForms.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>
                        </span>

                        <span ng-if="field.type == 'textarea'">
                            <span ng-hide="dynamicFieldForms.$waiting">
                                <span ng-hide="dynamicFieldForms.$waiting" editable-textarea="field.data.data" e-form="dynamicFieldForms" ng-model="field.data.data" onbeforesave="updateDynamicField(field.id, field.data.id, $data, fieldIndex, groupIndex)"  >
                                    <span class="formatedValue"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                                        {{ field.data.data || ('text.not.set' | translate) }}
                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                </span>

                            </span>
                            <span ng-show="dynamicFieldForms.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>
                        </span>

                        <span ng-if="field.type == 'select' && !!!field.multiple">
                            <span ng-hide="dynamicFieldForms.$waiting">
                                <span 
                                    ng-hide="dynamicFieldForms.$waiting" 
                                    editable-select="field.data.optionsRaw[0]" 
                                    e-ng-options="option.id as option.value for option in field.options" 
                                    e-form="dynamicFieldForms" 
                                    e-required="field.required" 
                                    ng-model="field.data.optionsRaw[0]" 
                                    onbeforesave="updateDynamicChoicesField(field, field.data.id, $data, fieldIndex, groupIndex)"
                                    onaftersave="updateDynamicSingleSelectFieldUpdateParsed(field, fieldIndex, groupIndex)"
                                    >
                                    <span class="formatedValue">

                                        <span ng-repeat="fd in field.data.optionsParsed"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                                            {{ fd.value }}<small ng-if="!$last">, </small>
                                        </span>
                                        <span ng-hide="field.data.optionsParsed.length">{{ 'text.not.set' | translate }}</span>

                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                </span>

                            </span>
                            <span ng-show="dynamicFieldForms.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>
                        </span>

                        <span ng-if="field.type == 'select' && field.multiple">
                            <span ng-hide="dynamicFieldForms.$waiting">
                                <span 
                                    ng-hide="dynamicFieldForms.$waiting" 
                                    editable-select="field.data.optionsRaw" 
                                    e-ng-options="option.id as option.value for option in field.options" 
                                    e-multiple
                                    e-required="field.required" 
                                    e-form="dynamicFieldForms" 
                                    ng-model="field.data.optionsRaw" 
                                    onbeforesave="updateDynamicChoicesField(field, field.data.id, $data, fieldIndex, groupIndex)"
                                    onaftersave="updateDynamicCheckboxFieldUpdateParsed(field, fieldIndex, groupIndex)"
                                    >
                                    <span class="formatedValue">

                                        <span ng-repeat="fd in field.data.optionsParsed"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                                            {{ fd.value }}<small ng-if="!$last">, </small>
                                        </span>
                                        <span ng-hide="field.data.optionsParsed.length">{{ 'text.not.set' | translate }}</span>

                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                </span>

                            </span>
                            <span ng-show="dynamicFieldForms.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>
                        </span>

                        <span ng-if="field.type == 'radio'">
                            <span ng-hide="dynamicFieldForms.$waiting">
                                <span 
                                    ng-hide="dynamicFieldForms.$waiting" 
                                    editable-radiolist="field.data.optionsRaw" 
                                    e-ng-options="option.id as option.value for option in field.options" 
                                    e-form="dynamicFieldForms" 
                                    ng-model="field.data.optionsRaw" 
                                    onbeforesave="updateDynamicChoicesField(field, field.data.id, $data, fieldIndex, groupIndex)"
                                    onaftersave="updateDynamicChoicesFieldUpdateParsed(field, fieldIndex, groupIndex)"
                                    >
                                    <span class="formatedValue">

                                        <span ng-repeat="fd in field.data.optionsParsed"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                                            {{ fd.value }}<small ng-if="!$last">, </small>
                                        </span>
                                        <span ng-hide="field.data.optionsParsed.length">{{ 'text.not.set' | translate }}</span>

                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                </span>

                            </span>
                            <span ng-show="dynamicFieldForms.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>
                        </span>


                        <span ng-if="field.type == 'checkbox'">
                            <span ng-hide="dynamicFieldForms.$waiting">
                                <span 
                                    ng-hide="dynamicFieldForms.$waiting" 
                                    editable-checklist="field.data.optionsRaw" 
                                    e-ng-options="option.id as option.value for option in field.options" 
                                    e-form="dynamicFieldForms" 
                                    ng-model="field.data.optionsRaw" 
                                    onbeforesave="updateDynamicChoicesField(field, field.data.id, $data, fieldIndex, groupIndex)"
                                    onaftersave="updateDynamicChoicesFieldUpdateParsed(field, fieldIndex, groupIndex)"

                                    >
                                    <span class="formatedValue">

                                        <span ng-repeat="fd in field.data.optionsParsed"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                                            {{ fd.value }}<small ng-if="!$last">, </small>
                                        </span>
                                        <span ng-hide="field.data.optionsParsed.length">{{ 'text.not.set' | translate }}</span>

                                        <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="dynamicFieldForms.$show()"></span>
                                    </span>
                                </span>

                            </span>
                            <span ng-show="dynamicFieldForms.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>
                        </span>


                    </div>
                    <div class="clearfix"></div>
                </div><!--single field container-->

            </div>

            <div class="text-center" ng-if="!group.fields.length">
                <h4>There are no active fields here</h4>
            </div>

        </div><!--box-body container-->

    </div>

</div>