<div class="box light bordered" ng-class="{'toogled': toogled }">
    <div class="box-title">
        <div class="caption">
            <span class="bold font-blue-steel uppercase">

              {{ 'resource.summary.widget.main' | translate }}
            </span>
            <span class="caption-helper">
              {{ 'resource.summary.widget.main.descr' | translate }}
            </span>
        </div>
        <div class="actions">
            <a href="#" ng-show="toogled" ng-click="toogled=!toogled" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" ng-hide="toogled" ng-click="toogled=!toogled" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
              <i class="fa fa-compress"></i>
            </a>
        </div>
    </div>
    <div class="box-body crm-customfields-form">
        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.assignedclient' | translate }}
            </label>
            <div class="col-sm-8">
                <span ng-show="modalFormProgress" class="mg-loader-flow active" style="position: relative; top: 5px;"></span>

                <span class="formatedValue" ng-hide="openReassignClientOppened">
                    <a ng-if="mainData.client" style="word-wrap: break-word;max-width: calc(60em * 0.5);" href="clientssummary.php?userid={{ mainData.client.id }}" target="_blank" ng-bind-html="'#' + mainData.client.id + ' ' + mainData.client.firstname + ' ' + mainData.client.lastname + (mainData.client.companyname != '' ? (' ( ' + mainData.client.companyname + ' )') : '')"></a>

                    <small ng-if="!mainData.client" class="text-muted">{{ 'text.not.assigned' | translate }}</small>

                    <span 
                        class="icon-pencil showOnMouseOver editable-pencil right" 
                        ng-if="hasAccess('resources.assign_client')"
                        ng-click="openReassignClient()"></span>
                    <a href="clientsadd.php?crm_resource={{ ::mainData.id }}" target="_blank" ng-show="!mainData.client" class="btn btn-xs btn-primary pull-right margin-right-10 showOnMouseOver">{{ 'resource.summary.main.client.create' | translate }}</a>
                </span>


                <form name="reasignClientForm" ng-show="openReassignClientOppened && !modalFormProgress" novalidate ng-submit="reasignClientFormSubmit(unassign)" role="form" class="form-horizontal">

                    <ui-select ng-model="$parent.$parent.selectedClient" on-select="$parent.clientToReassignSelected=true">
                        <ui-select-match placeholder="{{ 'resource.create.select.client' | translate }}"><span ng-bind-html="$select.selected.name + ' ' + (($select.selected.company != '') ? '( '+ $select.selected.company + ' )' : '')"></span></ui-select-match>
                        <ui-select-choices repeat="client in searchedClients"
                              refresh="refreshClients($select.search)"
                              refresh-delay="0">
                          <div ng-bind-html="('<b>#'+client.id + '</b> ' + client.name + ((client.company != '') ? ' ( '+client.company+' )':'')) | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>


                    <div class="control-label" style="text-align: left; padding-bottom: 0;" ng-hide="!mainData.client_id">
                        <label>
                            <input type="checkbox" name="active" id="forceunassign" ng-model="unassign" value="unassign" name="active"> 
                            {{ 'resource.summary.main.unassignclient' | translate }}
                        </label>
                    </div>

                    <span class="editable-buttons btn-group margin-bottom-5 margin-top-5" ng-show="clientToReassignSelected || unassign">
                        <button type="submit" class="btn btn-success btn-icon-only btn-sm">
                            <span class="fa fa-check"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-icon-only btn-sm" ng-click="openReassignClientOppened = false;">
                            <span class="fa fa-times"></span>
                        </button>

                    </span>

                    <div class="clearfix"></div>

                </form>

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.ticket' | translate }}
            </label>
            <div class="col-sm-8">

                <span ng-show="modalFormTicketProgress" class="mg-loader-flow active" style="position: relative; top: 5px;"></span>

                <span class="formatedValue" ng-hide="openReassignTicketDisplay">
                    <small ng-hide="mainData.ticket.id" class="text-muted">{{ ::('text.not.assigned' | translate) }}</small>

                    <span ng-show="mainData.ticket.id">
                        <a style="word-wrap: break-word;max-width: calc(60em * 0.5);" href="supporttickets.php?action=view&id={{ mainData.ticket.id }}" target="_blank" ng-bind-html="'#' + mainData.ticket.tid + ' ' + mainData.ticket.title"></a>
                    </span>

                    <span class="icon-pencil showOnMouseOver editable-pencil right" 
                          ng-if="hasAccess('resources.assign_ticket')"
                          ng-click="openReassignTicket()"></span>
                </span>


                <form name="reasignTicketForm" novalidate ng-show="openReassignTicketDisplay && !modalFormTicketProgress"  ng-submit="reasignTicketFormSubmit(unassignTicket)" role="form" class="form-horizontal">

                    <div style="padding-top: 5px;">
                        <ui-select ng-model="$parent.$parent.selectedTicket" focus-on='setFocusTicket' on-select="$parent.ticketToReassignSelected=true">
                            <ui-select-match placeholder="{{ 'resource.summary.main.ticket.search' | translate }}"><span ng-bind-html="'#' + $select.selected.tid + ' ' + $select.selected.title"></span></ui-select-match>
                            <ui-select-choices repeat="ticket in searchedTickets"
                                  refresh="refreshTickets($select.search)"
                                  refresh-delay="0">
                              <div ng-bind-html="('<b>#'+ticket.tid + '</b> ' + ticket.title) | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="control-label" style="text-align: left; padding-bottom: 0;" ng-hide="!mainData.ticket_id">
                        <label>
                            <input type="checkbox" name="active" id="forceunassign" ng-model="unassignTicket" value="unassign" name="active"> 
                            {{ 'resource.summary.main.ticket.unassign' | translate }}
                        </label>
                    </div>

                    <span class="editable-buttons btn-group margin-bottom-5 margin-top-5" ng-show="ticketToReassignSelected || unassignTicket">
                        <button type="submit" class="btn btn-success btn-icon-only btn-sm">
                            <span class="fa fa-check"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-icon-only btn-sm" ng-click="openReassignTicketDisplay = false;">
                            <span class="fa fa-times"></span>
                        </button>

                    </span>

                    <div class="clearfix"></div>

                </form>


            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.email' | translate }}
            </label>
            <div class="col-sm-8">

                <span ng-hide="mainLeadEmailXeditable.$waiting" class="showOnMouseOverContainer">
                    <span ng-hide="mainLeadEmailXeditable.$waiting" editable-email="mainData.email" e-form="mainLeadEmailXeditable" ng-model="mainData.email" onbeforesave="updateStatic('email', $data)" onaftersave="setUpTargetEmailsToForm()">
                        <span class="formatedValue">

                            <span ng-show="mainData.email" style="word-wrap: break-word;max-width: calc(60em * 0.5);">{{ mainData.email }}</span>
                            <small ng-hide="mainData.email" class="text-muted">{{ ::('text.not.set' | translate) }}</small>

                            <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="mainLeadEmailXeditable.$show()"></span>
                            <a ui-sref="contacts.details.emails({id: mainData.id })" ng-show="mainData.email" class="btn btn-xs btn-icon-only btn-primary pull-right margin-right-10 showOnMouseOver"><i class="icon-envelope-letter"></i></a>
                        </span>
                    </span>
                </span>

                <span ng-show="mainLeadEmailXeditable.$waiting" class="mg-loader-flow active" style="position: relative; top: 5px;"></span>

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.phone' | translate }}
            </label>
            <div class="col-sm-8">

                <span ng-hide="mainLeadPhoneXeditable.$waiting" class="showOnMouseOverContainer">
                    <span ng-hide="mainLeadPhoneXeditable.$waiting" editable-text="mainData.phone" e-pattern="(\(?\+?[0-9]*\.?\)?)?[0-9_\- \(\)]*" e-form="mainLeadPhoneXeditable" ng-model="mainData.phone" onbeforesave="updateStatic('phone', $data)">
                        <span class="formatedValue">

                            <span ng-show="mainData.phone" style="word-wrap: break-word;max-width: calc(60em * 0.5);">{{ mainData.phone }}</span>
                            <small ng-hide="mainData.phone" class="text-muted">{{ ::('text.not.set' | translate) }}</small>

                            <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="mainLeadPhoneXeditable.$show()"></span>
                            <a ng-show="mainData.phone" type="button" ng-click="whatsappGetURL(mainData.phone)"><i  class="fa fa-whatsapp"></i></a>
                            <a ng-click="openAsterishWidget(mainData.phone)" ng-show="mainData.phone && settings.config.integrations.asterisk" class="btn btn-xs btn-icon-only btn-primary pull-right margin-right-10 showOnMouseOver"><i class="icon-call-end"></i></a>
                        </span>
                    </span>
                </span>
                <span ng-show="mainLeadPhoneXeditable.$waiting" class="mg-loader-flow active" style="position: relative; top: 5px;"></span>


            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.country' | translate }}
            </label>
            <div class="col-sm-8">
                <span ng-show="modalFormProgress" class="mg-loader-flow active" style="position: relative; top: 5px;"></span>

                <span class="formatedValue" ng-hide="openReassignCountryOppened">
                    <span ng-if="mainData.country" style="word-wrap: break-word;max-width: calc(60em * 0.5);">{{ mainData.country }}</span>

                    <small ng-if="!mainData.country" class="text-muted">{{ 'text.not.assigned' | translate }}</small>

                    <span 
                        class="icon-pencil showOnMouseOver editable-pencil right" 
                        ng-if="hasAccess('resources.change_country')"
                        ng-click="openReassignCountry()"></span>
                </span>


                <form name="reasignCountryForm" ng-show="openReassignCountryOppened && !modalFormProgress" novalidate ng-submit="reasignCountryFormSubmit(unassign)" role="form" class="form-horizontal">

                    <ui-select ng-model="$parent.$parent.selectedCountry" on-select="$parent.countryToReassignSelected=true">
                        <ui-select-match placeholder="{{ 'resource.create.select.country' | translate }}">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="country.code as country in listCountry | filter: $select.search" >
                          <div ng-bind-html="country.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>


                    <div class="control-label" style="text-align: left; padding-bottom: 0;" ng-hide="!mainData.country">
                        <label>
                            <input type="checkbox" name="active" id="forceunassign" ng-model="unassign" value="unassign" name="active"> 
                            {{ 'resource.summary.main.unassigncountry' | translate }}
                        </label>
                    </div>

                    <span class="editable-buttons btn-group margin-bottom-5 margin-top-5" ng-show="countryToReassignSelected || unassign">
                        <button type="submit" class="btn btn-success btn-icon-only btn-sm">
                            <span class="fa fa-check"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-icon-only btn-sm" ng-click="openReassignCountryOppened = false;">
                            <span class="fa fa-times"></span>
                        </button>

                    </span>

                    <div class="clearfix"></div>

                </form>

            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.type' | translate }}
            </label>
            <div class="col-sm-8">
                <span class="formatedValue">
                    <span ng-show="contactType.name" style="word-wrap: break-word;max-width: calc(60em * 0.5);" class="label label-sm" ng-style="{'background-color': contactType.color}">
                        {{ contactType.name }}
                    </span>
                    <i ng-show="contactType.icon" ng-class="contactType.icon" class="pull-right"></i>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.campaign' | translate }}
            </label>
            <div class="col-sm-8">

                <span ng-hide="mainLeadCampaignXeditable.$waiting">
                    <span 
                        ng-hide="mainLeadCampaignXeditable.$waiting" 
                        editable-select="mainData.campaigns" 
                        e-ng-options="c.id as c.name for c in temp.campaigns | filter:{canAssign:true}" 
                        e-multiple
                        e-form="mainLeadCampaignXeditable" 
                        ng-model="field.data.optionsRaw" 
                        onbeforesave="updateAssignedCampaigns($data)"
                        onaftersave="updateAssignedCampaignsInMain()"
                        >
                        <span class="formatedValue">
                            <span class="icon-pencil showOnMouseOver editable-pencil" ng-click="mainLeadCampaignXeditable.$show()"></span>

                            <div ng-repeat="c in filteredCampaigns = (temp.campaigns | filter:campaignIsAssigned:true)" ng-style="$last && {'padding-bottom':'6px'}"><span class="label label-sm" ng-style="c.color && {'background-color': c.color }">{{ c.name }}</span></div>
                            <small ng-hide="filteredCampaigns.length" class="text-muted">{{ ::('text.not.assigned' | translate) }}</small>

                        </span>
                    </span>

                </span>
                <span ng-show="mainLeadCampaignXeditable.$waiting" class="mg-loader-flow active" style="position: absolute; top: -3px;"></span>

            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="form-group showOnMouseOverContainer row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.labels' | translate }}
            </label>
            <div class="col-sm-8">
                
                <span ng-show="modalFormProgress" class="mg-loader-flow active" style="position: relative; top: 5px;"></span>

                <span class="formatedValue" ng-hide="openReassignLabelsOppened">
                    <span 
                        class="icon-pencil showOnMouseOver editable-pencil" 
                        ng-click="openReassignLabels()"></span>
                    <div ng-if='mainData.labels.length > 0' ng-repeat="c in mainData.labels" style="word-wrap: break-word;max-width: calc(60em * 0.5);" ng-style="$last && {'padding-bottom':'6px'}"><span class="label label-sm" ng-style="c.color && {'background-color': '#' + c.color , 'color' : invertColor('#' + c.color)}">{{ c.name }}</span></div>
                    <small ng-hide="mainData.labels.length" ng-if="hasAccess('resources.change_labels')" class="text-muted">{{ ::('text.not.assigned' | translate) }}</small>

                    
                </span>
                
                <form name="reasignLabelsForm"  ng-show="openReassignLabelsOppened && !modalFormProgress" novalidate ng-submit="reasignLabelsFormSubmit(unassign)" role="form" class="form-horizontal">
                    <ui-select id="labels-multi-select" name="labels" ng-model="$parent.$parent.mainData.labels" on-remove='$parent.labelsToReassignSelected=true' on-select="$parent.labelsToReassignSelected=true"  multiple>
                        <ui-select-match style="width: 100%;"  placeholder="{{ 'resource.summary.main.labels.search' | translate }}">
                            <span>{{ $item.name }}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="label in labelLists | filter: $select.search">
                              <spam ng-style="{'background-color': ('#' + label.color), 'color' : invertColor('#' + label.color), 'margin-right' : '5px'}" ng-bind-html="label.name | highlight: $select.search"></spam>
                        </ui-select-choices>
                    </ui-select>


                    <div class="control-label" style="text-align: left; padding-bottom: 0;" ng-hide="!mainData.country">
                        <label>
                            <input type="checkbox" name="active" id="forceunassign" ng-model="unassign" value="unassign" name="active"> 
                            {{ 'resource.summary.main.unassignlabels' | translate }}
                        </label>
                    </div>

                    <span class="editable-buttons btn-group margin-bottom-5 margin-top-5" ng-show="labelsToReassignSelected || unassign">
                        <button type="submit" class="btn btn-success btn-icon-only btn-sm">
                            <span class="fa fa-check"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-icon-only btn-sm" ng-click="openReassignLabelsOppened = false">
                            <span class="fa fa-times"></span>
                        </button>

                    </span>

                    <div class="clearfix"></div>

                </form>
                
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group row row-eq-height">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.created' | translate }}
            </label>
            <div class="col-sm-8">
                <span class="formatedValue" style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                    {{ mainData.created_at }}
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group row row-eq-height" ng-if="mainData.deleted_at">
            <label class="col-sm-4 control-label">
                {{ 'resource.summary.main.deleted' | translate }}
            </label>
            <div class="col-sm-8">
                <span class="formatedValue" style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                    {{ mainData.deleted_at }}
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="box light bordered" ng-class="{'toogled': !toogledCampaignNotes }" ng-hide="(temp.campaigns | filter:campaignIsAssigned:true).length == 0">
    <div class="box-title">
        <div class="caption">
            <span class="bold font-green-grey uppercase">
                {{ ::('resource.summary.main.campaign.notes' | translate) }}
            </span>
            <span class="caption-helper">
                {{ ::('resource.summary.main.campaign.notes.descr' | translate) }}
            </span>
        </div>
        <div class="actions">
            <a href="#" ng-show="toogled" ng-click="toogledCampaignNotes=!toogledCampaignNotes" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                <i class="fa fa-compress"></i>
            </a>
            <a href="#" ng-hide="toogled" ng-click="toogledCampaignNotes=!toogledCampaignNotes" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                <i class="fa fa-expand"></i>
            </a>
        </div>
    </div>
    <div class="box-body crm-customfields-form">
        
        <div class="row" ng-repeat="c in filteredCampaigns = (temp.campaigns | filter:campaignIsAssigned:true)">
            <div class="form-group"  style="word-wrap: break-word;max-width: calc(60em * 0.5);">
                <label class="col-sm-12 control-label" style="text-align: left;">
                    <span ng-style="c.color && {'color': c.color }" >
                        {{ c.name }}
                    </span>
                </label>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-12" ng-class="$last ? 'margin-bottom-10' : 'margin-bottom-20'" style="padding-top: 5px;" ng-bind-html="c.description"></div>
        </div>
    </div>
</div>