

<h2>{{ 'text.change.date.title' | translate }}</h2>



<form class="form-horizontal" name="reschedueForm" novalidate ng-submit="FormSubmit()" role="form">
    
    <div class="form-group no-margin" ng-class="{ 'has-error': reschedueForm.withData.$invalid }">
        <div class="col-sm-2 text-right">
            <label class="control-label primary-font">
                {{ 'text.withData' | translate }}
            </label>
        </div>
        <div class="col-sm-10">
            <p class="input-group">
                <input 
                    type="text" 
                    class="form-control" 
                    required 
                    datetime-picker="yyyy-MM-dd" 
                    ng-model="reschedue.withData" 
                    is-open="withDataOpen" 
                    enable-time="false" 
                    datepicker-options="{ showWeeks: false, startingDay: 1 }" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="withDataOpen = true"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
            <small class="help-block error" ng-show="reschedueForm.withData.$invalid">{{ 'form.validator.date' | translate }}</small>
        </div>
    </div>
    
    <div class="form-group no-margin" ng-class="{ 'has-error': reschedueForm.date.$invalid }">
        <div class="col-sm-2 text-right">
            <label class="control-label primary-font">
                {{ 'text.new.date' | translate }}
            </label>
        </div>
        <div class="col-sm-10">
            
            <p class="input-group">
                <input 
                    type="text" 
                    class="form-control" 
                    required 
                    datetime-picker="{{datapicker.format}}" 
                    ng-model="reschedue.date" 
                    is-open="dataOpen" 
                    enable-time="datapicker.enabletime" 
                    datepicker-options="datapicker.options" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dataOpen = true"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
            <small class="help-block error" ng-show="reschedueForm.date.$invalid">{{ 'form.validator.date' | translate }}</small>
        </div>
    </div>
    
    <br>

    <div class="ngdialog-buttons">
        <button type="submit" ng-disabled="reschedueForm.$invalid" class="ngdialog-button ngdialog-button-primary">{{ 'followup.update' | translate }}</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">{{ 'form.close' | translate }}</button>
    </div>
    
</form>




