

<h2>{{ 'text.reschedule.on.admin.title' | translate }}</h2>



<form class="form-horizontal" name="reschedueForm" novalidate ng-submit="FormSubmit()" role="form">
    
    <div class="form-group no-margin" ng-class="{ 'has-error': reschedueForm.withData.$invalid }">
        <div class="col-sm-3 text-right">
            <label class="control-label primary-font">
                {{ 'text.withData' | translate }}
            </label>
        </div>
        <div class="col-sm-8">
            <p class="input-group">
                <input 
                    type="text" 
                    class="form-control" 
                    required 
                    datetime-picker="yyyy-MM-dd" 
                    ng-model="reschedue.withData" 
                    is-open="withDataOpen" 
                    enable-time="false" 
                    datepicker-options="{ showWeeks: false, startingDay: 1 }" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="withDataOpen = true"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
            <small class="help-block error" ng-show="reschedueForm.withData.$invalid">{{ 'form.validator.date' | translate }}</small>
        </div>
        <div class="col-sm12"></div>
    </div>
    
    <div class="form-group no-margin" ng-class="{ 'has-error': reschedueForm.withAdmin.$invalid }" style="height: 44px;">
        <div class="col-sm-3 text-right">
            <label class="control-label primary-font">
                {{ 'text.admin' | translate }}
            </label>
        </div>
        <div class="col-sm-8">
            <ui-select ng-model="reschedue.withAdmin" ng-required="true">
                <ui-select-match placeholder="{{ 'resource.create.select.admin.placeholder' | translate }}">{{ $select.selected.firstname + ' ' + $select.selected.lastname }}</ui-select-match>
                <ui-select-choices repeat="admin in adminList | filter: $select.search">
                      <div ng-bind-html="('<b>#' + admin.id + '</b> ' + admin.firstname + ' ' + admin.lastname) | highlight: $select.search"></div>
                      <small ng-bind-html="('<i>' + admin.email + '</i>') | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
            <small class="help-block error" ng-show="reschedueForm.withAdmin.$invalid">{{ 'form.validator.date' | translate }}</small>
        </div>
        <div class="col-sm-1"></div>
    </div>
    
    <div class="form-group no-margin" ng-class="{ 'has-error': reschedueForm.date.$invalid }">
        <div class="col-sm-3 text-right">
            <label class="control-label primary-font">
                {{ 'text.new.date' | translate }}
            </label>
        </div>
        <div class="col-sm-8">
            
            <p class="input-group">
                <input 
                    type="text" 
                    class="form-control" 
                    required 
                    datetime-picker="{{datapicker.format}}" 
                    ng-model="reschedue.date" 
                    is-open="dataOpen" 
                    enable-time="datapicker.enabletime" 
                    datepicker-options="datapicker.options" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dataOpen = true"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
            <small class="help-block error" ng-show="reschedueForm.date.$invalid">{{ 'form.validator.date' | translate }}</small>
        </div>
        <div class="col-sm-1"></div>
    </div>
    
    <br>

    <div class="ngdialog-buttons">
        <button type="submit" ng-disabled="reschedueForm.$invalid" class="ngdialog-button ngdialog-button-primary">{{ 'followup.update' | translate }}</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">{{ 'form.close' | translate }}</button>
    </div>
    
</form>




