<div class="container-fluid raw">

    <div class="box light bordered">
        <div class="box-title">
            <div class="caption">
                <span class="bold font-red-thunderbird uppercase">
                    {{ 'settings.personal.tab' | translate }}
                </span>
            </div>
            <div class="actions">
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">


            <form class="form-horizontal" name="personalSettingsForm"  ng-submit="personalSettingsFormSubmit()" >
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <h5 class="text-right">
                                {{ 'settings.personal.avatar.url' | translate }}
                            </h5>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="personalSettings.avatar" />
                        </div>
                        <div class="col-sm-4" ng-show="personalSettings.avatar">

                            <div class="timeline">
                                <div class="timeline-item">
                                    <div class="timeline-badge">
                                        <img ng-src="{{personalSettings.avatar}}" class="timeline-badge-userpic" style="width: 80px !important; height: 80px !important;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <h5 class="text-right">
                                {{ 'settings.personal.default.email' | translate }}
                            </h5>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control input-sm" name="from" ng-model="departments[0].fullemail" ng-options="d.fullemail as d.fullemail for d in departments" required></select>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button 
                                ng-disabled="personalSettingsForm.$invalid"
                                type="submit"
                                class="btn btn-success btn-inverse">
                            {{ 'settings.personal.upgrade' | translate }}
                        </button>   
                    </div>

                </fieldset>
            </form >


            <div class="clearfix"></div>
        </div>
    </div>
</div>
